%a.course{:href => '/courses/'+course.alias_name+'/detail', :style => "height: 360px"}
  .card-image.course-image
    = image_tag course.image
  .card-content.course-content
    .col.s12.no-padding{:style => "height: 122px"}
      .row.course-title
        .col.s12.no-padding.fix-height= course.name
      .row.course-author
        - if course.user
          .col.s12.no-padding= course.user.name
        - else
          .col.s12.no-padding Tudemy
    .col.s12.no-padding
      .row.course-rating.no-margin
        .col.s7.course-rating-point.no-padding
          - (1..5).each do |i|
            - if i <= course.average_rating
              %i.material-icons.is-rated star_rate
            - else
              %i.material-icons star_rate
        .col.s5.course-rating-people.no-padding= '(' + course.num_rate.to_s + ')'
      .row
        .col.s6.no-padding.course-favorite
          %span.left
            %i.material-icons.is-favorite group
          %span.left= course.students
        - if course.price == 0
          .col.s6.no-padding.course-price.red-text{:style => "text-align:right;"} Miễn phí
        - else
          .col.s6.no-padding.course-price{:style => "text-align:right;"}= number_to_currency(course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u") 