.landingpage-card  
  %a{:href => "/courses/#{course.alias_name}/detail"}
    .course-image.no-margin
      = image_tag course.image
    .landingpage-card-content
      .ellipsis-2lines.course-title= course.name
      .no-margin.ellipsis-1lines.course-author
        - if course.user
          %span= course.user.name
        - else
          %span Pedia
      .row.no-margin.landingpage-card-content-bottom
        .landing-card-users
          %i.fa.fa-users
          - if course.students == 0
            %span= course.students
          - else
            %span= course.students.to_s + ' Học viên'
        %span.course-price= number_to_currency(course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u") 
