.learning-card
  - @progress = owned_course.lectures.where(:status => 2).count * 100/owned_course.lectures.count
  %a{:href => "/courses/#{course.alias_name}/learning"}
    .course-image.no-margin
      = image_tag course.image
    .learning-card-content
      %span.ellipsis-2lines.course-title= course.name
      %span.no-margin.ellipsis-1lines.course-author= course.user.name
      .progress
        .progress-bar.progress-completed{:style => "width: #{@progress}%;"}
        / &-completed {
        /   background-color: #17AA1C;
        / }
        / &-learning {
        /   background-color: #17AA1C;
        / }
        / &-begin {
        /   background-color: #BFBFBF;
        / }
      - if @progress == 0
        %span.learning-status.learning-text{:style => 'color:#009688'} Bắt đầu
      - else
        %span.learning-status.learning-text #{@progress} %
      / .completed-text {
      /   color: #BCBCBC;
      / }
      / .learning-text {
      /   color: #BCBCBC;
      / }
      / .begin-text {
      /   color: #EF8D2B;
      / }
      .rating-container
        %ul.rating.rating-active
          - (1..5).each do |i|
            - if i <= course.rating
              %li
                %i.fa.fa-star.star.rated
            - else
              %li
                %i.fa.fa-star.star
          %br
          %li{:style => "float:right"}
            %span.rate-it Rate it   
