.learning-card
  - @progress = owned_course.lectures.where(:status => 2).count * 100/owned_course.lectures.count
  %a{:href => "/courses/#{course.alias_name}/learning"}
    .course-image.no-margin
      - if course.image != ""
        = image_tag course.image
      - else
        = image_tag 'http://tudemy.vn/assets/course-image-5e755c0910ca7b35381f2ea00091ed03bd786afecdf16714e5aa08a46d211b7e.png'
    .learning-card-content
      .ellipsis-2lines.course-title= course.name
      .no-margin.ellipsis-1lines.course-author= course.user.name
      .progress
        .progress-bar.progress-completed{:style => "width: #{@progress}%;"}
        / &-completed {
        /   background-color: #17AA1C;
        / }
        / &-learning {
        /   background-color: #17AA1C;
        / }
        / &-begin {
        /   background-color: #BFBFBF;
        / }
      - if owned_course.payment_status == 'pending'
        %span.learning-status.learning-text{:style => 'color:#ffbb33'} Đang chở xử lý
      - else
        - if @progress == 0
          %span.learning-status.learning-text{:style => 'color:#009688'} Bắt đầu
        - else
          %span.learning-status.learning-text #{@progress} %
      / .completed-text {
      /   color: #BCBCBC;
      / }
      / .learning-text {
      /   color: #BCBCBC;
      / }
      / .begin-text {
      /   color: #EF8D2B;
      / }
      - if owned_course.lectures.where(:status => 2).count > 0
        .rating-container
          - num_rate = 0
          - title = ''
          - description = ''

          - begin
            - review = course.reviews.where(:user_id => current_user.id).first

            - if !review.blank?
              - num_rate = review.rate
              - title = review.title
              - description = review.description
          - rescue
          %ul.rating.rating-active{:course_id => "#{course._id}", "data-rate" => num_rate, "data-title" => title, "data-description" => description}
            - (1..5).each do |i|
              - if i <= num_rate
                %li
                  %i.fa.fa-star.star.rated{:val => i}
              - else
                %li
                  %i.fa.fa-star.star{:val => i}
            %br
            %li{:style => "float:right"}
              %span.rate-it Rate it   
