.list-card
  %a{:href => "/courses/#{course.alias_name}/detail"}
    .course-image.no-margin
      = image_tag course.image
    .list-card-content
      .row.ellipsis-2lines.course-title.no-margin= course.name
      .row.ellipsis-2lines.course-description= course.sub_title
      .row.no-margin.course-bottom
        - if course.price != 0
          %span.dn-480.course-price= number_to_currency(course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u") 
        - else 
          %span.dn-480.course-price Miễn phí 
        .rating-container
          %ul
            - (1..5).each do |i|
              %li
                - if i <= course.average_rating
                  %i.fa.fa-star.star.rated{:val => i}
                - else
                  %i.fa.fa-star.star{:val => i}
          %span.course-people-rating= "(" + course.reviews.count.to_s + ")"
        - if course.price != 0
          %span.dn.db-480.course-price= number_to_currency(course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u") 
        - else 
          %span.dn.db-480.course-price Miễn phí 
