.list-card
  %a{:href => "/courses/#{course.alias_name}/detail"}
    .course-image.no-margin
      - if course.image != ""
        = image_tag course.image
      - else
        = image_tag 'http://tudemy.vn/assets/course-image-5e755c0910ca7b35381f2ea00091ed03bd786afecdf16714e5aa08a46d211b7e.png'
    .list-card-content
      .row.ellipsis-2lines.course-title.no-margin= course.name
      .row.ellipsis-2lines.course-description= course.sub_title
      .row.no-margin.course-bottom
        .rating-container
          %ul
            - (1..5).each do |i|
              %li
                - if i <= course.average_rating
                  %i.fa.fa-star.star.rated{:val => i}
                - else
                  %i.fa.fa-star.star{:val => i}
          %span.course-people-rating= "(" + course.reviews.count.to_s + ")"
      - if course.price != 0
        - if @sale_info && sale_info = @sale_info[course.id]
          .row.promotion-price
            %span.promotion-badge
              = help_show_currency sale_info[:discount_price]
            %span.old-price
              = help_show_currency course.price
        - else
          .row.no-margin.course-price= help_show_currency course.price
      - else
        %span.dn.db-480.course-price Miễn phí
