= render :layout => 'components/edit_profile', :locals => {:tab_index => 2} do
  .profile-right.tab-pane.active.in#account
    .profile-label.text-center
      .profile-title.bold Tài khoản
      .profiel-text Tùy chỉnh tài khoản và đổi mật khẩu của bạn
    .row.profile-account
      %form#change-password-form.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12{:method => "post",:action => "/users/edit_account", :'accept-charset' => 'UTF-8'}
        - if flash[:success_changing_password]
          .alert.alert-success{:role => 'alert', :style => "margin-top:10px;"}
            = flash[:success_changing_password]
        - elsif flash[:error_changing_password]
          .alert.alert-warning{:role => 'alert', :style => "margin-top:10px;"}
            = flash[:error_changing_password]
        .profile-account-title.bold{:style => 'font-size:16px;'} Email
        .group-input-account.account-email
          %span.form-control #{@user.email}
        .profile-account-title.bold{:style => 'font-size:16px;'}  Mật khẩu
        .group-input-account
          %input.form-control{:type => "password",:placeholder => 'Mật khẩu hiện tại', :name => "user[current_password]"}/
        .group-input-account
          %input#user_password.form-control{:type => "password",:placeholder => 'Mật khẩu mới', :name => "user[password]"}/
        .group-input-account
          %input.form-control{:type => "password",:placeholder => 'Xác nhận mật khẩu mới', :name => "user[password_confirmation]"}/
        = hidden_field_tag :authenticity_token, form_authenticity_token
        = hidden_field_tag '_method', 'patch'
        .password-save.text-center
          %input.btn.btn-default.bold{:style => 'font-size:16px;', :type => 'submit', :value => 'Đổi mật khẩu'}