%header
  = render :partial => 'layouts/header'
  = render :partial => 'components/side_nav'

%main
  .row.course-list-header
    .col.s12
      %h5.course-list-header-title Khóa học của tôi
  .row.sorting
    .col.s12
      %select.sorting-options.left
        %option{:value => '', :disabled => '', :selected => ''} Tất cả 
        %option{:value => '1'} Ưa thích
        %option{:value => '2'} Chưa bắt đầu 
        %option{:value => '3'} Đang học 
        %option{:value => '4'} Đã hoàn thành 
        %option{:value => '5'} Lưu trữ 
  .row.course-list
    .col.s12
      .my-courses.card-style
        - @courses.each do |course|
        - index = current_user.courses.where(:course_id => course.id.to_s).first.lectures.where(lecture_ratio: 100).count
        - count = course.curriculums.where(type: "lecture").count
          .col.s3
            %a.course{:href => '/courses/'+course._id+'/learning'}
              .card-image.course-image
                = image_tag course.image
              .card-content.course-content
                .row.course-title
                  .col.s12.no-padding.fix-height= course.name
                .row.course-author
                  .col.s12.no-padding= course.user.name
                .row.progress.progress-background
                  .determinate.progress-background-learning{:style => "width: "+((index.to_f / count.to_f)*100).to_s+"%"}
                .row.course-footer
                  .col.s5.no-padding.left
                  - if index == 0 
                    %span.progress-color-begin Bắt đầu
                  - elsif index != count
                    %span.progress-color-learning= ((index.to_f / count.to_f)*100).ceil.to_s+"%"
                  - else
                    %span.progress-color-completed Hoàn thành
                  .col.s7.course-rating-point.no-padding.right
                    - (1..5).each do |i|
                      - if i <= course.average_rating
                        %i.material-icons.is-rated star_rate
                      - else
                        %i.material-icons star_rate
       
