= render :partial => 'components/header/default'
.container-wrapper{:style => "overflow: hidden;"} 
  .banner
    = render :partial => "components/banner/banner" 
  %main.myCourse-learning
    .header-myCourse
      .container
        .row
          .col-lg-6.visible-lg
            .myCourse-label Khóa học của tôi
          .col-lg-6.col-md-12.col-sm-12.col-xs-12
            %ul.nav.nav-tabs.myCourse-tab
              %li#learning-tab.active
                %a{:href => "#myCourse-studying","data-toggle" => "tab"} Đang học
              %li#wishlist-tab
                %a{:href => "#myCourse-favorite","data-toggle" => "tab"} Danh sách quan tâm
    .main-myCourse
      .container
        // list-course
        .row.tab-content
          .col-lg-12.col-md-12.col-sm-12.col-xs-12.tab-pane.fade.active.in#myCourse-studying
            .list-course
              .first-course
                .btn-group
                  %a.btn.btn-default.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => ""}
                    Tất cả
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "javascript:void(0)"} Quan tâm
                    %li
                      %a{:href => "javascript:void(0)"} Chưa bắt đầu
                    %li
                      %a{:href => "javascript:void(0)"} Đang học
                    %li
                      %a{:href => "javascript:void(0)"} Đã hoàn thành
                    %li
                      %a{:href => "javascript:void(0)"} Lưu trữ
                - @courses.each_with_index do |course, index|
                  - owned_course = @owned_courses[index]
                  = render :partial => 'components/courses/learning_card', :locals => {:course => course, :owned_course => owned_course}
              /   - if @owned_courses.count > 0
              /     = render :partial => 'components/courses/learning_card', :locals => {:course => @courses.first, :owned_course => @owned_courses.first}
              /     - @courses = @courses - [@courses.first]
              /     - @owned_courses = @owned_courses - [@owned_courses.first]
              / - @courses.each_with_index do |course, index|
              /   - owned_course = @owned_courses[index]
              /   = render :partial => 'components/courses/learning_card', :locals => {:course => course, :owned_course => owned_course}
          .col-lg-12.col-md-12.col-sm-12.col-xs-12.tab-pane.fade#myCourse-favorite
            .list-course
              .first-course
                .btn-group
                  %a.btn.btn-default.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => ""}
                    Tất cả
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "javascript:void(0)"} Quan tâm
                    %li
                      %a{:href => "javascript:void(0)"} Chưa bắt đầu
                    %li
                      %a{:href => "javascript:void(0)"} Đang học
                    %li
                      %a{:href => "javascript:void(0)"} Đã hoàn thành
                    %li
                      %a{:href => "javascript:void(0)"} Lưu trữ
                - if !@wishlist.blank?
                  - @wishlist.each do |course|
                    = render :partial => 'components/courses/course_card',:locals => {:course => course}
= render :partial => 'components/footer/index'                   