= render :partial => 'components/header/default'
.container-wrapper{:style => "overflow: hidden;"}  
  .banner
    = render :partial => "components/banner/banner"
  %main.profile-view
    .main-header
      .container
        .row
          .col-lg-offset-1.col-lg-10.col-md-offset-1.col-md-10.col-sm-12.col-xs-12
            .header-title #{@current_user.name}
            .header-text #{@current_user.job}
    %section.profile-detail
      .container
        .row
          .col-lg-offset-1.col-lg-3.col-md-offset-1.col-md-4.col-sm-5.col-xs-12{:style => 'margin-bottom:20px'}
            .image-profile
              - if @current_user.avatar != ""
                = image_tag "#{@current_user.avatar}", :class => "user-avatar-small",:style => 'width:100%;margin-bottom:10px'
              - else
                = image_tag "avatar.png", :class => "user-avatar-small",:style => 'width:100%;margin-bottom:10px'
              / .col-xs-2.text-center.no-padding
              /   %a{:href => ""} 
              /     %i.fa.fa-globe.icon-social
              / .col-xs-2.text-center.no-padding
              /   %a{:href => ""} 
              /     %i.fa.fa-facebook-official.icon-social
              / .col-xs-2.text-center.no-padding
              /   %a{:href => ""} 
              /     %i.fa.fa-google.icon-social
              / .col-xs-2.text-center.no-padding
              /   %a{:href => ""} 
              /     %i.fa.fa-twitter.icon-social
              / .col-xs-2.text-center.no-padding
              /   %a{:href => ""} 
              /     %i.fa.fa-linkedin-square.icon-social
              / .col-xs-2.text-center.no-padding
              /   %a{:href => ""} 
              /     %i.fa.fa-youtube-play.icon-social
          .col-lg-7.col-md-6.col-sm-7.col-xs-12
            .profile-title 
              Thông tin học viên 
            .profile-description  
              %p= current_user.biography 
        %ul.row.nav.nav-tabs.profile-view-tab{:style => 'margin-top:30px'}
          %li.col-lg-6.col-md-6.col-sm-6.col-xs-6.active
            %a.pull-right{:href => "#studying","data-toggle" => 'tab',:style => 'border-bottom:5px solid #37b34a'} Đang học
          %li.col-lg-6.col-md-6.col-sm-6.col-xs-6
            %a.pull-left{:href => "#favorite","data-toggle" => 'tab'} Danh sách quan tâm
    %section.profile-course{:style => 'padding-top:20px'}
      .container.tab-content
        #studying.tab-pane.fade.active.in
          - @owned_course.each do |course|
            = render :partial => 'components/courses/course_card',:locals => {:course => course.course}
        #favorite.tab-pane.fade
          - if !@owned_wishlist.blank?
            - @owned_wishlist.each do |course|
              = render :partial => 'components/courses/course_card',:locals => {:course => course}
    %section.profile-pagination
      .container.text-center
        / %ul.pagination
        /   %li
        /     %a{:href => "javascript:void(0)"} <
        /   %li
        /     %a{:href => "javascript:void(0)"} 1
        /   %li.active
        /     %a{:href => "javascript:void(0)"} 2
        /   %li
        /     %a{:href => "javascript:void(0)"} ...
        /   %li
        /     %a{:href => "javascript:void(0)"} 45
        /   %li
        /     %a{:href => "javascript:void(0)"} 46
        /   %li
        /     %a{:href => "javascript:void(0)"} >
        
= render :partial => 'components/footer/index'           