%header
  = render :partial => 'layouts/header'
  = render :partial => 'components/side_nav'

%main.payment.container-1140
  .row.courses.card-style
    .offset-s2.col.s8    
      .row.courses.card-style.center-align
        .course
          .card-image.fail
            .row
              .col.s12.no-padding
                .payment-fail-header.valign-wrapper
                  .col.s12
                    %b.white-text{:style => "font-size: 24px"} Rất tiếc! Giao dịch của bạn chưa thành công
            .row
              .offset-s1.col.s10.left-align.no-padding.fail-title
                %span
                  Đã có lỗi xảy ra trong giao dịch thanh toán của bạn, vui lòng thử lại với các thông tin đúng
            .row.no-margin
              .offset-s1.col.s2.left-align
                %span Khóa học
              .col.s8.right-align
                %b= @course.name
            .row.no-margin
              .offset-s1.col.s2.left-align
                %span Chi phí
              .col.s8.right-align.fail-price
                - if @payment
                  %b.teal-text= number_to_currency(@payment.money, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ".", :format => "%n%u")
                - else 
                  %b.teal-text= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ".", :format => "%n%u")
            .row
              .offset-s1.col.s2.left-align
                %span Trạng thái
              .col.s8.right-align.fail-status
                %b Thất bại
            .row
              .offset-s1.col.s10.no-padding
                %hr/
            .row
              .offset-s1.col.s11.left-align
                %div.fail-phone
                  %i.material-icons.fail-phone-icon phone
                  %span Hotline:
                  %b 0961215368
            .row
              .offset-s1.col.s6.no-padding.left-align
                %a.teal-text.bold{:href => "/courses"} Khám phá các khóa học khác
              .col.s4.no-padding.righ-align
                - if @course
                  %a.btn-large.teal.bold.expanded{:href => "/courses/" + @course.alias_name + "/detail"} Thử lại
                - else 
                  %a.btn-large.teal.bold.expanded{:href => "#"} Thử lại
