.header
  = render :partial => 'components/header/default'
  .container-wrapper{:style => "overflow: hidden;"}
    .banner
    = render :partial => "components/banner/banner"

    .row.no-margin
      .col-xs-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2.no-padding
        .payment.payment-box
          .row.no-margin
            .col-xs-12.no-padding
              .payment-header.fail
                %span.title{:style => "font-size: 18px;"}
                  %b Rất tiếc! Giao dịch của bạn chưa thành công
          .container.full-width
            .row.no-margin{:style => "margin-bottom: 30px;"}
              .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
                %h5.warning-text Đã có lỗi xảy ra trong giao dịch thanh toán của bạn, vui lòng thử lại với các thông tin đúng.
            .row.no-margin
              .content
                .content-left.col-xs-3.no-padding
                  %h5.normal-text Khóa học
                .content-right.col-xs-7.no-padding
                  %h5
                    %b= @course.name
            .row.no-margin
              .content
                .content-left.col-xs-3.no-padding
                  %h5.normal-text Chi phí
                .content-right
                  %h5.price-text.col-xs-7.no-padding
                    %b= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
            .row.no-margin{:style => "margin-bottom: 20px"}
              .content
                .content-left.col-xs-3.no-padding
                  %h5.normal-text Trạng thái
                .content-right.col-xs-7.no-padding
                  %h5.fail-text
                    %b Thất bại
          .divider{:style => "margin-bottom: 15px"}
          .container.full-width
            .row.no-margin{:style => "margin-bottom: 25px;"}
              .col-xs-12.col-sm-10.col-md-10.col-lg-10.no-padding.hot-line
                %i.fa.fa-phone
                %span.normal-text Hotline: 
                = succeed "" do
                  %b 0961215368
            .row.no-margin
              .col-xs-12.col-sm-5.col-md-5.col-md-offset-1.col-lg-5.col-lg-offset-1.no-padding.center-align{:style => "margin-top: 18px;"}
                %a{:href => "/courses", :style => "text-decoration: none;"}
                  %span.other-course-text khám phá các khóa học khác
              .col-xs-12.col-sm-6.col-sm-offset-1.col-md-4.col-lg-3.no-padding
                %a.btn.btn-info.btn-raised.btn-lg.refresh-button{:href => "/home/payment/#{@course.alias_name}"} Thử lại
= render :partial => 'components/footer/index'   