= render :partial => 'components/header/default'
.container-wrapper{:style => "overflow: hidden;"}  
  .banner
    = render :partial => "components/banner/banner"
    
  .payment
    .row.no-margin
      .col-xs-12.no-padding
        = render :partial => 'payment/header_payment'
    .container
      .payment-main
        .payment-main-info
          .info-title Thông tin thanh toán
          .info-course
            .course-name= @course.name
            .course-price= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
          .info-coupon
            .sale-text Giảm giá
            .sale-price= "#{@data[:discount_ratio]}%" if @data[:discount_ratio] > 0
          .info-cost
            .cost-text Thành tiền
            .total-price= number_to_currency(@data[:final_price], :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
        .payment-main-method
          .method-title 2. Hoàn tất thanh toán
          .method-description 
            %h5.description-text Nạp tiền bằng thẻ điện thoại
            .description-card-text
              - money = number_to_currency(current_user.money, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
              %span= "Hiện tại trong ví của bạn đang có "
              %span.normal-text.red-text= money
              %span.normal-text= ", bạn hãy nạp thêm " 
              - money = number_to_currency(@data[:final_price] - current_user.money, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
              %span.normal-text.red-text= money
              = succeed "" do
                %span.normal-text để thanh toán khóa học này
            %h5.description-card-text Hướng dẫn nạp tiền bằng thẻ cào điện thoại, thẻ game:
            .card-guildline
              .step-1
                %span.badge 1
                %span.guildline-text Cào lớp tráng bạc để biết mã thẻ (Áp dụng cho Vinaphone, Viettel và Mobifone)
              .step-2
                %span.badge 2
                %span.guildline-text Chọn loại thẻ & nhập mã thẻ cùng số seri rồi ấn nút “Nạp ngay”. Lưu ý viết liền không khoảng trắng hoặc dấu “-”
              .step-3
                %span.badge 3
                %span.guildline-text Quay lại bước hai để nạp thẻ tiếp theo
          .card-form
            .phone-cards
              %a.phone-card.select-card{:href => "javascript:void(0)", :val => "MOBI"}
                = image_tag 'payment/mobifone'
              %a.phone-card.select-card{:href => "javascript:void(0)", :val => "VINA"}
                = image_tag 'payment/vinaphone'
              %a.phone-card.select-card{:href => "javascript:void(0)", :val => "VIETEL"}
                = image_tag 'payment/viettel'
              %a.phone-card.select-card{:href => "javascript:void(0)", :val => "GATE"}
                = image_tag 'payment/gate'
            .card-input
              %form.form-card{:method => "post",:action => ""}
                = hidden_field_tag :authenticity_token, form_authenticity_token
                %input.card-id{:type => "hidden", :name => "card_id", :value => "MOBI"}
                %input.form-control.code-input{:placeholder => "Mã số thẻ", :type => "text", :name => "pin_field"}
                %input.form-control.seri-input{:placeholder => "Số seri", :type => "text", :name => "seri_field"}
                - if @error
                  %p.red-text= @error
                .card-button
                  %input.btn.btn-success.btn-raised.btn-lg.purchase-button{:type => "submit", :value => "Đặt mua khóa học"}
          .other-payment-method
            %a.link-text{:href => "/home/payment/#{@course.alias_name.to_s}"} Chọn hình thức thanh toán khác
          .method-progress
            .progress-icon
              %i.fa.fa-circle
            .progress-icon.active
              %i.fa.fa-circle
= render :partial => 'components/footer/index'           
