= render :partial => 'components/header/default'
.container-wrapper{:style => "overflow: hidden;"}  
  .banner
    = render :partial => "components/banner/banner"

  .payment
    .row.no-margin
      .col-xs-12.no-padding
        = render :partial => 'payment/header_payment'
    .container
      .payment-main
        .payment-main-info
          .info-title Thông tin thanh toán
          .info-course
            .course-name= @course.name
            .course-price= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
          .info-coupon
            .sale-text Giảm giá
            .sale-price= "#{@data[:discount_ratio]}%" if @data[:discount_ratio] > 0
          .info-cost
            .cost-text Thành tiền
            .total-price= number_to_currency(@data[:final_price], :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
        .payment-main-method
          .method-title 2. Hoàn tất thanh toán
          .method-description
            %h5.description-cih-text.red-text
              %b Thanh toán tại văn phòng Tudemy
            %h5.description-cih-text Địa chỉ văn phòng
            %h5.description-cih-text Tầng 3, Số 75 Phương Mai, Phường Phương Mai, Quận Đống Đa, Hà Nội
            %h5.description-cih-text (Thời gian làm việc: từ 8:30 - 17:30 , từ Thứ 2 đến Thứ 7 hàng tuần)
          .office-map
            %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d4429.491449071485!2d105.84016233705643!3d21.00291737346027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d21.003376!2d105.8362837!5e0!3m2!1sen!2s!4v1438241096665", :style => "border:0; padding-right: 10px", :width => "100%", :height => "240px"}
          .support-online-payment-form
            %h5.support-description Để lại thông tin để đội ngũ hỗ trợ của Pedia có thế giúp bạn trong việc mua các khóa học trong thời gian sớm nhất!
            %form.form-support
              / Get information user for tele_sales 
              %input.course_id{:type => "hidden", :value => "#{@course._id}"}
              %input.course_name{:type => "hidden", :value => "#{@course.name}"}
              %input.user_id{:type => "hidden", :value => "#{current_user._id}"}
              %input.user_email{:type => "hidden", :value => "#{current_user.email}"}
              %input.payment_id{:type => "hidden", :value => ""}

              %input.form-control.name-input{:type => "text", :placeholder => "Tên đầy đủ"}
              %input.form-control.phone-input{:type => "text", :placeholder => "Số điện thoại"}
              %a.btn.btn-success.send-form-support Gửi đi
          .other-payment-method
            %a.link-text{:href => "/home/payment/#{@course.alias_name.to_s}"} Chọn hình thức thanh toán khác
          .method-progress
            .progress-icon
              %i.fa.fa-circle
            .progress-icon.active
              %i.fa.fa-circle
= render :partial => 'components/footer/index'           
