= render :partial => 'components/header/default'
.container-wrapper{:style => "overflow: hidden;"}  
  .banner
    = render :partial => "components/banner/banner"
    
  .payment
    .row.no-margin
      .col-xs-12.no-padding
        = render :partial => 'payment/header_payment'
    .container
      .payment-main
        .payment-main-info
          .info-title Thông tin thanh toán
          .info-course
            .course-name= @course.name
            .course-price= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
          .info-coupon
            .sale-text Giảm giá
            .sale-price= "#{@discount.to_i} %"
          .info-cost
            .cost-text Thành tiền
            .total-pice= "#{(@course.price / 100)* (100 - @discount.to_i)}"
        .payment-main-menthod
          .menthod-title 2. Hoàn tất thanh toán
          .menthod-description
            %h5.description-text Điền thông tin đăng ký đặt mua khóa học
          .cod-form
            %form{:method => "post",:action => "/home/payment/cod"}
              %input{:type => "hidden", :name => "alias_name", :placeholder => "Tên đầy đủ", :value => @course.alias_name}
              %input{:type => "hidden", :name => "coupon_code", :value => @coupon_code}
              .payment-editor.left
                %input.form-control{:type => "text", :name => "name", :placeholder => "Tên đầy đủ", :required => "required", :pattern => ".{6,}"}
              .payment-editor.right
                %input.form-control{:type => "email", :name => "email", :placeholder => "Email", :required => "required"}
              .payment-editor.left
                %input.form-control{:type => "number", :name => "mobile", :placeholder => "Số điện thoại", :required => "required"}
              .payment-editor.right
                %input.form-control{:type => "text", :name => "address", :placeholder => "Địa chỉ", :required => "required"}
              .payment-editor.left
                .form-group
                  %select#select.form-control.browser-default{:name => "city", :required => "required"}
                    %option{:disabled => "", :selected => "", :value => ""} Chọn Tỉnh / Thành phố
                    %option{:value => "An Giang"} An Giang
                    %option{:value => "Bà Rịa-Vũng Tàu"} Bà Rịa-Vũng Tàu
                    %option{:value => "Bạc Liêu"} Bạc Liêu
                    %option{:value => "Bắc Kạn"} Bắc Kạn
                    %option{:value => "Bắc Giang"} Bắc Giang
                    %option{:value => "Bắc Ninh"} Bắc Ninh
                    %option{:value => "Bến Tre"} Bến Tre
                    %option{:value => "Bình Dương"} Bình Dương
                    %option{:value => "Bình Định"} Bình Định
                    %option{:value => "Bình Phước"} Bình Phước
                    %option{:value => "Bình Thuận"} Bình Thuận
                    %option{:value => "Cà Mau"} Cà Mau
                    %option{:value => "Cao Bằng"} Cao Bằng
                    %option{:value => "Cần Thơ"} Cần Thơ
                    %option{:value => "Đà Nẵng"} Đà Nẵng
                    %option{:value => "Đắk Lắk"} Đắk Lắk
                    %option{:value => "Đắk Nông"} Đắk Nông
                    %option{:value => "Điện Biên"} Điện Biên
                    %option{:value => "Đồng Nai"} Đồng Nai
                    %option{:value => "Đồng Tháp"} Đồng Tháp
                    %option{:value => "Gia Lai"} Gia Lai
                    %option{:value => "Hà Giang"} Hà Giang
                    %option{:value => "Hà Nam"} Hà Nam
                    %option{:value => "Hà Nội"} Hà Nội
                    %option{:value => "Hà Tây"} Hà Tây
                    %option{:value => "Hà Tĩnh"} Hà Tĩnh
                    %option{:value => "Hải Dương"} Hải Dương
                    %option{:value => "Hải Phòng"} Hải Phòng
                    %option{:value => "Hòa Bình"} Hòa Bình
                    %option{:value => "Hồ Chí Minh"} Hồ Chí Minh
                    %option{:value => "Hậu Giang"} Hậu Giang
                    %option{:value => "Hưng Yên"} Hưng Yên
                    %option{:value => "Khánh Hòa"} Khánh Hòa
                    %option{:value => "Kiên Giang"} Kiên Giang
                    %option{:value => "Kon Tum"} Kon Tum
                    %option{:value => "Lai Châu"} Lai Châu
                    %option{:value => "Lào Cai"} Lào Cai
                    %option{:value => "Lạng Sơn"} Lạng Sơn
                    %option{:value => "Lâm Đồng"} Lâm Đồng
                    %option{:value => "Long An"} Long An
                    %option{:value => "Nam Định"} Nam Định
                    %option{:value => "Nghệ An"} Nghệ An
                    %option{:value => "Ninh Bình"} Ninh Bình
                    %option{:value => "Ninh Thuận"} Ninh Thuận
                    %option{:value => "Phú Thọ"} Phú Thọ
                    %option{:value => "Phú Yên"} Phú Yên
                    %option{:value => "Quảng Bình"} Quảng Bình
                    %option{:value => "Quảng Nam"} Quảng Nam
                    %option{:value => "Quảng Ngãi"} Quảng Ngãi
                    %option{:value => "Quảng Ninh"} Quảng Ninh
                    %option{:value => "Quảng Trị"} Quảng Trị
                    %option{:value => "Sóc Trăng"} Sóc Trăng
                    %option{:value => "Sơn La"} Sơn La
                    %option{:value => "Tây Ninh"} Tây Ninh
                    %option{:value => "Thái Bình"} Thái Bình
                    %option{:value => "Thái Nguyên"} Thái Nguyên
                    %option{:value => "Thanh Hóa"} Thanh Hóa
                    %option{:value => "Thừa Thiên - Huế"} Thừa Thiên - Huế
                    %option{:value => "Tiền Giang"} Tiền Giang
                    %option{:value => "Trà Vinh"} Trà Vinh
                    %option{:value => "Tuyên Quang"} Tuyên Quang
                    %option{:value => "Vĩnh Long"} Vĩnh Long
                    %option{:value => "Vĩnh Phúc"} Vĩnh Phúc
                    %option{:value => "Yên Bái"} Yên Bái
              .payment-editor.right
                %input.form-control{:type => "text", :name => "district", :placeholder => "Quận/huyện", :required => "required"}
              .cod-button
                = hidden_field_tag :authenticity_token, form_authenticity_token
                %input.btn.btn-success.btn-raised.btn-lg.purchase-button{:type => 'submit', :value => 'Đặt mua khóa học'}
          .other-payment-menthod
            %a.link-text{:href => "/home/payment/#{@course.alias_name.to_s}"} Chọn hình thức thanh toán khác
          .menthod-progress
            .progress-icon
              %i.fa.fa-circle
            .progress-icon.active
              %i.fa.fa-circle
= render :partial => 'components/footer/index'           
