= render :partial => 'components/header/default'
.container-wrapper{:style => "overflow: hidden;"}  
  %main.payment
    .row.no-margin
      .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
        = render :partial => 'payment/header_payment'
    .container
      .row.no-margin.course-price
        .col-xs-8.col-sm-5.col-md-4.col-lg-3.no-padding
          %span.normal-text= @course.name
        .col-xs-3.col-xs-offset-1.col-sm-2.col-sm-offset-5.col-md-2.col-md-offset-6.col-lg-1.col-lg-offset-8.no-padding
          %span.normal-text.pull-right= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
      .divider
      .row.no-margin.coupon
        .col-xs-7.col-sm-3.col-md-3.col-lg-2.no-padding
          %input.form-control{:placeholder => "Nhập mã coupon ở đây", :type => "text"}
      .row.no-margin.total-cost
        .col-xs-3.col-sm-5.col-md-4.col-lg-3.no-padding
          %span.normal-text Thành tiền
        .col-xs-3.col-xs-offset-6.col-sm-2.col-sm-offset-5.col-md-2.col-md-offset-6.col-lg-1.col-lg-offset-8.no-padding
          %span.normal-text.pull-right 300.000 VNĐ
      .row.no-margin
        = render 'payment_method', method: ''
      .row.payment-content.no-margin
        %h4{:style => "font-weight: 500;"} 2. Hoàn tất thanh toán
        .col-xs-12.normal-text Bạn chưa lựa chọn hình thức thanh toán nào
= render :partial => 'components/footer/index'           
