%header
  = render :partial => 'layouts/header'
  = render :partial => 'components/side_nav'

%main.payment
  .row
    .col.s12.no-padding
      .row.green.payment-header
        .col.s6
          %h4.white-text Xác nhận thanh toán
          %p.white-text= @course.name
        .col.s6
          %h4.right.white-text= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ".", :format => "%n%u")
      .container-1140
        = render 'payment_method', method: ''
        .row.payment-content
          %h4 2. Hoàn tất thanh toán
          .col.s12 Bạn chưa lựa chọn hình thức thanh toán nào