.layout-320
  = render :partial => 'components/header/default'
  .container-wrapper{:style => "overflow: hidden;"}  
    .banner
      = render :partial => "components/banner/banner"
    .payment.payment-bill
      .container
        .row.no-margin
          %span.title Pedia
        .row.no-margin.position
          %h5.text Tầng 5, Tòa nhà Topica
          %h5.text Số 75 Phương Mai, Đống Đa, Hà Nội
          %h5.text pedia.vn
        .row.no-margin.information
          %h5
            %b= "Ngày xuất: #{@payment.updated_at.strftime("%d/%m/%Y")}"
          %h5
            %b= "Hóa đơn số: #{@payment.id}"
        .divider
        .row.no-margin.information-bill
          %h5.purchase-for
            %b= "Thanh toán cho: #{current_user.name}" 
          - if @payment.coupons.count > 0
            %h5.coupon-code
              %b= "Coupon Code: #{payment.coupons.join(",")}"
        .divider
        .row.no-margin.bill-detail
          %h5
            %b= "#{@course.name}"
          %h5
            %b= "#{@payment.updated_at.strftime("%d/%m/%Y")}"
          %h5
            %b Số lượng:
            1
          %h5
            %b= "#{@payment.money} VNĐ"
          %h5
            %b= "#{@payment.money} VNĐ"
        .divider
        .row.no-margin.support
          %h5.support-text
            Mọi thắc mắc về khóa học này vui lòng liên hệ với chúng tôi qua hòm thư
            %a.link-text{:href => "#"} hotro@pedia.vn
  = render :partial => 'components/footer/index'   

.layout-480-up.hide-xs.hidden-sm.hidden-md.hidden-lg
  = render :partial => 'components/header/default'
  .container-wrapper{:style => "overflow: hidden;"}
    .banner
      = render :partial => "components/banner/banner"    
    .payment.payment-bill
      .container
        .row.no-margin
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
            %span.title Pedia
        .row.no-margin.bill-detail
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
            .row.no-margin
              .col-xs-6.col-sm-4.col-md-12.col-lg-12.no-padding
                %h5.text Tầng 5, Tòa nhà Topica
              .col-xs-5.col-xs-offset-1.col-sm-3.col-sm-offset-5.col-md-12.col-lg-12.no-padding
                %h5
                  %b= "Ngày xuất: #{@payment.updated_at.strftime("%d/%m/%Y")}"
            .row.no-margin
              .col-xs-6.col-sm-4.col-md-12.col-lg-12.no-padding
                %h5.text Số 75 Phương Mai, Đống Đa, Hà Nội
              .col-xs-5.col-xs-offset-1.col-sm-3.col-sm-offset-5.col-md-12.col-lg-12.no-padding
                %h5
                  %b Hóa đơn số:
            .row.no-margin
              .col-xs-6.col-sm-4.col-md-12.col-lg-12.no-padding
                %h5.text pedia.vn
              .col-xs-5.col-xs-offset-1.col-sm-3.col-sm-offset-5.col-md-12.col-lg-12.no-padding
                %h5= "#{@payment.id}"
                  
        .divider
        .row.no-margin.bill-detail
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
            .row.no-margin
              .col-xs-6.col-sm-4.col-md-12.col-lg-12.no-padding
                %h5 
                  %b= "Thanh toán cho: #{current_user.name}" 
              .col-xs-6.col-sm-4.col-sm-offset-4.col-md-12.col-lg-12.no-padding
                - if @payment.coupons.count > 0
                  %h5
                    %b= "Coupon Code: #{payment.coupons.join(",")}"
        .divider
        .row.no-margin.bill-detail
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
            %h5
              %b= "#{@course.name}"
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
            %h5
              %b= "#{@payment.updated_at.strftime("%d/%m/%Y")}"
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
            %h5
              %b Số lượng:
              1
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
            %h5
              %b= "#{@payment.money} VNĐ"
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
            %h5
              %b= "#{@payment.money} VNĐ"
        .divider
        .row.no-margin.support
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
            %h5.support-text
              Mọi thắc mắc về khóa học này vui lòng liên hệ với chúng tôi qua hòm thư
              %a.link-text{:href => "#"} hotro@pedia.vn
  = render :partial => 'components/footer/index'   

.row.no-margin.hidden-xs
  = render :partial => 'components/header/default'
  .container-wrapper{:style => "overflow: hidden;"}
    .banner
      = render :partial => "components/banner/banner"  
    .col-sm-12.col-md-12.col-lg-12.no-padding 
      .payment.payment-bill
        .container
          .row.no-margin
            .col-sm-12.col-md-12.col-lg-12.no-padding
              %span.title Pedia
          .row.no-margin.bill-detail
            .col-sm-12.col-md-12.col-lg-12.no-padding
              .row.no-margin
                .col-sm-4.col-md-3.col-lg-3.no-padding
                  %h5.text Tầng 5, Tòa nhà Topica
                .col-sm-3.col-sm-offset-5.col-md-2.col-md-offset-7.col-lg-2.col-lg-offset-7.no-padding
                  %h5
                    %b= "Ngày xuất: #{@payment.updated_at.strftime("%d/%m/%Y")}"

              .row.no-margin
                .col-sm-4.col-md-3.col-lg-3.no-padding
                  %h5.text Số 75 Phương Mai, Đống Đa, Hà Nội
                .col-sm-3.col-sm-offset-5.col-md-2.col-md-offset-7.col-lg-2.col-lg-offset-7.no-padding
                  %h5
                    %b Hóa đơn số:
              .row.no-margin
                .col-sm-4.col-md-3.col-lg-3.no-padding
                  %h5.text pedia.vn
                .col-sm-3.col-sm-offset-5.col-md-3.col-md-offset-6.col-lg-2.col-lg-offset-7.no-padding
                  %h5.right-align= "#{@payment.id}"   
          .divider
          .row.no-margin.bill-detail
            .col-sm-12.col-md-12.col-lg-12.no-padding
              .row.no-margin
                .col-sm-4.col-md-3.col-lg-3.no-padding
                  %h5 
                    %b= "Thanh toán cho: #{current_user.name}" 
                .col-sm-4.col-sm-offset-4.col-md-3.col-md-offset-6.col-lg-3.col-lg-offset-6.no-padding
                  - if @payment.coupons.count > 0
                    %h5.right-align
                      %b= "Coupon Code: #{payment.coupons.join(",")}"
          .divider
          .row.no-margin.bill-detail
            %table.table.table-striped.table-hover
              %thead
                %tr
                  %th Khóa học
                  %th Ngày thanh toán
                  %th Số lượng
                  %th Đơn giá
                  %th Thành tiền
              %tbody
                %tr.active
                  %td.normal-text= "#{@course.name}"
                  %td.normal-text= "#{@payment.updated_at.strftime("%d/%m/%Y")}"
                  %td.normal-text 1
                  %td.normal-text= "#{@payment.money} VNĐ"
                  %td.normal-text= "#{@payment.money} VNĐ"
          .divider
          .row.no-margin.support
            .col-sm-12.col-md-12.col-lg-12.no-padding
              %h5.support-text
                Mọi thắc mắc về khóa học này vui lòng liên hệ với chúng tôi qua hòm thư
                %a.link-text{:href => "#"} hotro@pedia.vn
  = render :partial => 'components/footer/index'   
