.layout-320
  %header
    .header-inner
      .header-col
        .btn-group.cats-dropdown
          .dropdown-toggle.active-nav-2{"data-dropdown-container" => ".slider-sidebar-wrapper.slider-sidebar-mobile", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", "data-fixed" => "false"}
            %i.fa.fa-bars
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Regular link
            %li.disabled
              %a{:href => "#"} Disabled link
            %li
              %a{:href => "#"} Another link
        .search-box
          %form
            %input.form-control.search-input{:type => "text", :name => "q", :placeholder => ""}
            %button.btn-search{:type => "submit"}
              %i.fa.fa-search
        .btn-group.search-dropdown
          .dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            %i.fa.fa-search
          .dropdown-menu
            .search-box
              %form
                %input.form-control.search-input{:type => "text", :name => "q", :placeholder => ""}
                %button.btn-search{:type => "submit"}
                  %i.fa.fa-search
      .header-col
        .logo
          / = image_tag "logo.png"
          %img{:src => "https://lh3.googleusercontent.com/hWLwAFXaaCOSNw2nvQMEioQ0jDad_XnMOrwf6Nn_htjCjfNzAcWtuB5TNrFtLWfsahIBalUhrxO_CtY4O9xjmPDjsRUDbmBoomMMHrjaw7CfjTR5sylfEAZc_VX3bLhMCLtkwF7dlioeVqX-mds9DMtyUIs1p2Aw9pUmDAoal9YJhxqgmXepof3yHyzLGmnDDSv53KuoLfjdVqE8ZhcwPPQz3ftHdfYu-ksGBapi5ZhfQp1V_Tfxm5lEGuXAYecZXUlnMAQbe7eX6cba1NirDCb6ZHoVGMHO6NUeizrvFmg4GjNrwJ6h-XzbC1VvIKid2YNTLb3dlaGCLULO4dHde7CVJTtbFLP235S1LkWWfXjOdLR_tJ0BMM01RV9G5aJSGK9K2DOz81agVbtEP7yTC9-nzGxmbLv7wGKSKjXOCXlJmwp5ssieH6q3ATsm3jHeMAKolbKyTeYDxdtpNLBq_mGUv6U3ypkEevRpJyARql2LPedve_DKYrqbnZh-Rnr4v1P4v944Yf_4jnQrdN4OPdg=w100-h40-no"}
      .header-col.text-right
        .btn-group.user-dropdown
          .dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
            = image_tag "https://graph.facebook.com/484092475082021/picture", :class => "user-avatar-small"
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuDivider"}
            .user-dropdown-header
              .user-dropdown-header-left
                = image_tag "https://graph.facebook.com/484092475082021/picture", :class => "user-avatar-medium"
              .user-dropdown-header-right
                %p.name Seahorse ES
                %a.link{:href => "#"}
                  %i.fa.fa-user
                %a.link{:href => "#"}
                  %i.fa.fa-pencil
                %a.link{:href => "#"}
                  %i.fa.fa-cog
            .user-dropdown-links
              %a.link{:href => "#"} Các khoá học của tôi
              %a.link{:href => "#"} Tin nhắn
              %a.link{:href => "#"} Ưa thích
              %a.link{:href => "#"} Hỗ trợ
              %a.link{:href => "#"} Lịch sử giao dịch
            .user-dropdown-logout
              %a.btn.btn-flat.btn-logout{:href => "#"}
                %i.fa.fa-power-off
                Đăng xuất
  .slider-sidebar-wrapper.slider-sidebar-mobile
    %ul.dropdown-menu
      %li
        %a{:href => "#"} Regular link
      %li.disabled
        %a{:href => "#"} Disabled link
      %li
        %a{:href => "#"} Another link
    .container-wrapper{:style => "overflow: hidden;"}  
      .payment.white-background
        .row.no-margin
          .col-xs-12.no-padding
            .payment-header.pending
              %span.title
                %b Giao dịch của bạn đang được xử lý
        .container
          .row.no-margin{:style => "margin-bottom: 5px;"}
            .col-xs-12.no-padding
              %h5.normal-text
                Giao dịch của bạn đang được xử lý, hãy hoàn thành các thủ tục thanh toán và kiểm tra trang
                %a.link-text{:href => "/home/payment/#{@course.alias_name}/payment_history"} Lịch sử giao dịch
                để được cập nhật thường xuyên.
          .row.no-margin
            .col-xs-3.no-padding
              %h5.normal-text.left-align Khóa học
            .col-xs-7.col-xs-offset-2.no-padding
              %h5.right-align
                %b= @course.name
          .row.no-margin
            .col-xs-3.no-padding
              %h5.normal-text.left-align Chi phí
            .col-xs-7.col-xs-offset-2.no-padding
              %h5.right-align.price-text
                %b= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
          .row.no-margin{:style => "margin-bottom: 20px"}
            .col-xs-3.no-padding
              %h5.normal-text.left-align Trạng thái
            .col-xs-7.col-xs-offset-2.no-padding
              %h5.right-align.pending-text
                %b Đang xử lý
        .divider{:style => "margin-bottom: 15px"}
        .container
          .row.no-margin{:style => "margin-bottom: 25px;"}
            .col-xs-12.no-padding.hot-line
              %i.fa.fa-phone
              %span.normal-text Hotline: 
              = succeed "" do
                %b 0961215368
          .row.no-margin{:style => "margin-bottom: 25px;"}
            .col-xs-12.no-padding
              %a.btn.btn-info.btn-raised.btn-lg.refresh-button{:href => "/courses"} khám phá các khóa học khác
  = render :partial => 'components/footer/index'   

.layout-480-up.hidden-sm.hidden-md.hidden-lg
  .header
    = render :partial => 'components/header/index'
    .container-wrapper{:style => "overflow: hidden;"}  
      .payment.white-background
        .row.no-margin
          .col-xs-12.no-padding
            .payment-header.pending
              %span.title
                %b Giao dịch của bạn đang được xử lý
        .container
          .row.no-margin{:style => "margin-bottom: 5px;"}
            .col-xs-12.no-padding
              %h5.normal-text
                Giao dịch của bạn đang được xử lý, hãy hoàn thành các thủ tục thanh toán và kiểm tra trang
                %a.link-text{:href => "/home/payment/#{@course.alias_name}/payment_history"} Lịch sử giao dịch
                để được cập nhật thường xuyên.
          .row.no-margin
            .col-xs-2.no-padding
              %h5.normal-text.left-align Khóa học
            .col-xs-8.col-xs-offset-2.no-padding
              %h5.right-align
                %b= @course.name
          .row.no-margin
            .col-xs-2.no-padding
              %h5.normal-text.left-align Chi phí
            .col-xs-8.col-xs-offset-2.no-padding
              %h5.right-align.price-text
                %b= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
          .row.no-margin{:style => "margin-bottom: 20px"}
            .col-xs-2.no-padding
              %h5.left-align Trạng thái
            .col-xs-8.col-xs-offset-2.no-padding
              %h5.right-align.pending-text
                %b Đang xử lý
              / %h5 = number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
        .divider{:style => "margin-bottom: 15px"}
        .container
          .row.no-margin{:style => "margin-bottom: 25px;"}
            .col-xs-12.no-padding.hot-line
              %i.fa.fa-phone
              %span.normal-text Hotline: 
              = succeed "" do
                %b 0961215368
          .row.no-margin
            .col-xs-12.no-padding
              %a.btn.btn-info.btn-raised.btn-lg.refresh-button{:href => "/courses"} khám phá các khóa học khác
  = render :partial => 'components/footer/index'   

.row.no-margin
  .header.hidden-xs
    = render :partial => 'components/header/index'
    .container-wrapper{:style => "overflow: hidden;"}  
      .row.no-margin
        .col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2.no-padding     
          .payment.payment-box.hidden-xs{:style => "margin-top: 30px;"}
            .row.no-margin
              .col-sm-12.col-md-12.col-lg-12.no-padding
                .payment-header.pending
                  %span.title{:style => "font-size: 18px;"}
                    %b Giao dịch của bạn đang được xử lý
            .container.full-width
              .row.no-margin{:style => "margin-bottom: 5px;"}
                %h5.normal-text
                  Giao dịch của bạn đang được xử lý, hãy hoàn thành các thủ tục thanh toán và kiểm tra trang
                  %a.link-text{:href => "/home/payment/#{@course.alias_name}/payment_history"} Lịch sử giao dịch
                  để được cập nhật thường xuyên.
              .row.no-margin
                .content
                  .content-left
                    %h5.normal-text Khóa học
                  .content-right
                    %h5
                      %b= @course.name
              .row.no-margin
                .content
                  .content-left
                    %h5.normal-text Chi phí
                  .content-right
                    %h5.price-text
                      %b= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
              .row.no-margin{:style => "margin-bottom: 20px"}
                .content
                  .content-left
                    %h5.normal-text Trạng thái
                  .content-right
                    %h5.pending-text
                      %b Đang xử lý
            .divider{:style => "margin-bottom: 15px"}
            .container.full-width
              .row.no-margin{:style => "margin-bottom: 25px;"}
                .col-sm-10.col-md-10.col-lg-10.no-padding.hot-line
                  %i.fa.fa-phone
                  %span.normal-text Hotline: 
                  = succeed "" do
                    %b 0961215368
              .row.no-margin
                .payment-box-bottom
                  %a.btn.btn-info.btn-raised.btn-lg.refresh-button{:href => "/courses"} khám phá các khóa học khác
    = render :partial => 'components/footer/index'   