= render :partial => 'components/header/default'

.container-wrapper{:style => 'overflow: hidden; min-height: 1px;'}
  .banner
    = render :partial => "components/banner/banner"
  .payment-box-new{class: @payment.status}
    .payment-box-header
      .payment-box-title Chúc mừng bạn đã thanh toán thành công
 
    - unless (@payment.money == 0 && @payment.coupons.size > 0)
      .payment-box-content
        %p.payment-box-notice
          %span Giao dịch của bạn đang được xử lý, hãy kiểm tra trang
          %a{href: '/users/payment_history'} Lịch sử giao dịch
          %span để được cập nhật thường xuyên.
        .payment-box-table
          .payment-box-table-row
            .payment-box-table-col-left Khóa học
            .payment-box-table-col-right= @course.name
          .payment-box-table-row
            .payment-box-table-col-left Chi phí
            .payment-box-table-col-right.payment-price= number_to_currency(@payment.money, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
          .payment-box-table-row
            .payment-box-table-col-left Trạng thái
            .payment-box-table-col-right.payment-status Thành công
    - else
      .payment-box-content.zero-amount
        %p.payment-box-notice
          %span Giao dịch của bạn đã được xử lý, hãy kiểm tra trang
          %a{href: '/users/payment_history'} Lịch sử giao dịch
          %span để được cập nhật thường xuyên.
        .payment-box-table
          .payment-box-table-row
            .payment-box-table-col-left
              = image_tag @course.image
            .payment-box-table-col-right
              %span Chúc mừng, bạn đã tham gia vào khóa học
              %span.course-name= @course.name
              %span được hướng dẫn bởi
              %span.author-name= @course.user.name
   
    .payment-box-footer
      %p.hotline-text
        Hotline: 
        %b 0961215368
      - if @payment.status == 'success'
        %a.btn.btn-info.btn-lg.btn-to-course{href: "home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"} Vào học ngay
        %a.btn.btn-link.link-to-course-list{href: '/courses'} Khám phá các khóa học khác
      - else
        %a.btn.btn-info.btn-raised.link-to-course-list{href: '/courses'} Khám phá các khóa học khác

= render :partial => 'components/footer/index'
:javascript
  ga('send', 'event', 'payment', 'success', "#{@course.name}")
