.layout-320
  .header
    = render :partial => 'components/header/default'
    .container-wrapper{:style => "overflow: hidden;"}  
      .banner
        = render :partial => "components/banner/banner"
      .payment.white-background
        .row.no-margin
          .col-xs-12.no-padding
            .payment-header.success
              %span.title
                %b Chúc mừng bạn đã thanh toán thành công
        - unless (@payment.money == 0 && @payment.coupons.size > 0)
          .container
          .row.no-margin{:style => "margin-bottom: 5px;"}
            .col-xs-12.no-padding
              %h5.normal-text
                Giao dịch của bạn đã được xử lý, hãy kiểm tra trang
                %a.link-text{:href => "/users/payment_history"} Lịch sử giao dịch
                để được cập nhật thường xuyên.
          .row.no-margin
            .col-xs-3.no-padding
              %h5.normal-text.left-align Khóa học
            .col-xs-7.col-xs-offset-2.no-padding
              %h5.right-align
                %b= @course.name
          .row.no-margin
            .col-xs-3.no-padding
              %h5.normal-text.left-align Chi phí
            .col-xs-7.col-xs-offset-2.no-padding
              %h5.right-align.price-text
                %b= number_to_currency(@payment.money, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
          .row.no-margin{:style => "margin-bottom: 20px"}
            .col-xs-3.no-padding
              %h5.normal-text.left-align Trạng thái
            .col-xs-7.col-xs-offset-2.no-padding
              %h5.right-align.success-text
                %b Thành công
        - else
          .container.select
            .row.no-margin
              .col-xs-12.col-sm-4.col-md-3
                .select-header-image
                  = image_tag @course.image,:style => 'width:100%'
              .col-xs-12.col-sm-8.col-md-9.select-header-content
                .select-header-text
                  .text-congratulations Chúc mừng, bạn đã tham gia vào khóa học
                  .text-name-course.bold #{@course.name}
                  .test-author 
                    được hướng dẫn bởi
                    %span.bold #{@course.user.name}
        .divider{:style => "margin-bottom: 15px"}
        .container
          .row.no-margin{:style => "margin-bottom: 25px;"}
            .col-xs-12.no-padding.hot-line
              %i.fa.fa-phone
              %span.normal-text Hotline: 
              = succeed "" do
                %b 0961215368
          .row.no-margin{:style => "margin-bottom: 25px;"}
            .col-xs-12.no-padding
              %a.btn.btn-info.btn-raised.btn-lg.refresh-button{:href => "/courses"} khám phá các khóa học khác
          .row.no-margin
            .col-xs-12.no-padding.center-align
              %a{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning", :style => "text-decoration: none;"}
                %span.other-course-text Vào học ngay
  = render :partial => 'components/footer/index'   

.layout-480-up.hidden-sm.hidden-md.hidden-lg
  .header
    = render :partial => 'components/header/default'
    .container-wrapper{:style => "overflow: hidden;"}
      .banner
        = render :partial => "components/banner/banner"  
      .payment.white-background
        .row.no-margin
          .col-xs-12.no-padding
            .payment-header.success
              %span.title
                %b Chúc mừng bạn đã thanh toán thành công
        - unless (@payment.money == 0 && @payment.coupons.size > 0)
          .container
          .row.no-margin{:style => "margin-bottom: 5px;"}
            .col-xs-12.no-padding
              %h5.normal-text
                Giao dịch của bạn đang được xử lý, hãy kiểm tra trang
                %a.link-text{:href => "/users/payment_history"} Lịch sử giao dịch
                để được cập nhật thường xuyên.
          .row.no-margin
            .col-xs-2.no-padding
              %h5.normal-text.left-align Khóa học
            .col-xs-8.col-xs-offset-2.no-padding
              %h5.right-align
                %b= @course.name
          .row.no-margin
            .col-xs-2.no-padding
              %h5.normal-text.left-align Chi phí
            .col-xs-8.col-xs-offset-2.no-padding
              %h5.right-align.price-text
                %b= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
          .row.no-margin{:style => "margin-bottom: 20px"}
            .col-xs-2.no-padding
              %h5.normal-text.left-align Trạng thái
            .col-xs-8.col-xs-offset-2.no-padding
              %h5.right-align.success-text
                %b Thành công
        - else
          .container.select
            .row.no-margin
              .col-xs-12.col-sm-4.col-md-3
                .select-header-image
                  = image_tag @course.image,:style => 'width:100%'
              .col-xs-12.col-sm-8.col-md-9.select-header-content
                .select-header-text
                  .text-congratulations Chúc mừng, bạn đã tham gia vào khóa học
                  .text-name-course.bold #{@course.name}
                  .test-author 
                    được hướng dẫn bởi
                    %span.bold #{@course.user.name}
        .divider{:style => "margin-bottom: 15px"}
        .container
          .row.no-margin{:style => "margin-bottom: 25px;"}
            .col-xs-12.no-padding.hot-line
              %i.fa.fa-phone
              %span.normal-text Hotline: 
              = succeed "" do
                %b 0961215368
          .row.no-margin
            .col-xs-12.no-padding
              %a.btn.btn-info.btn-raised.btn-lg.refresh-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"} Vào học ngay
          .row.no-margin
            .col-xs-12.no-padding.center-align
              %a{:href => "/courses", :style => "text-decoration: none;"}
                %span.other-course-text khám phá các khóa học khác
  = render :partial => 'components/footer/index'   

.row.no-margin
  .header.hidden-xs
    = render :partial => 'components/header/default'
    .container-wrapper{:style => "overflow: hidden;"}  
      .banner
        = render :partial => "components/banner/banner"
      .col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2.no-padding     
        .payment.payment-box.hidden-xs{:style => "margin-top: 30px;"}
          .row.no-margin
            .col-sm-12.col-md-12.col-lg-12.no-padding
              .payment-header.success
                %span.title{:style => "font-size: 18px;"}
                  %b Chúc mừng bạn đã thanh toán thành công
          - unless (@payment.money == 0 && @payment.coupons.size > 0)
            .container.full-width
            .row.no-margin{:style => "margin-bottom: 5px;"}
              %h5.normal-text
                Giao dịch của bạn đang được xử lý, hãy kiểm tra trang
                %a.link-text{:href => "/users/payment_history"} Lịch sử giao dịch 
                để được cập nhật thường xuyên.
            .row.no-margin
              .content
                .content-left
                  %h5.normal-text Khóa học
                .content-right
                  %h5
                    %b= @course.name
            .row.no-margin
              .content
                .content-left
                  %h5.normal-text Chi phí
                .content-right
                  %h5.price-text
                    %b= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
            .row.no-margin{:style => "margin-bottom: 20px"}
              .row.no-margin{:style => "margin-bottom: 20px"}
                .content
                  .content-left
                    %h5.normal-text Trạng thái
                  .content-right
                    %h5.success-text
                      %b Thành công
          - else
            .container.select
              .row.no-margin
                .col-xs-12.col-sm-4.col-md-3
                  .select-header-image
                    = image_tag @course.image,:style => 'width:100%'
                .col-xs-12.col-sm-8.col-md-9.select-header-content
                  .select-header-text
                    .text-congratulations Chúc mừng, bạn đã tham gia vào khóa học
                    .text-name-course.bold #{@course.name}
                    .test-author 
                      được hướng dẫn bởi
                      %span.bold #{@course.user.name}
          .divider{:style => "margin-bottom: 15px"}
          .container.full-width
            .row.no-margin{:style => "margin-bottom: 25px;"}
              .col-sm-10.col-md-10.col-lg-10.no-padding.hot-line
                %i.fa.fa-phone
                %span.normal-text Hotline: 
                = succeed "" do
                  %b 0961215368
            .row.no-margin
              .payment-box-bottom
                %a.btn.btn-info.btn-raised.btn-lg.refresh-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"} Vào học ngay
            .row.no-margin
              .payment-box-bottom
                %a{:href => "/courses", :style => "text-decoration: none;"}
                  %span.other-course-text khám phá các khóa học khác
    = render :partial => 'components/footer/index'
:javascript
  ga('send', 'event', 'payment', 'success', "#{@course.name}")