.layout-320
  = render :partial => 'components/header/index'
  .container-wrapper{:style => "overflow: hidden;"}  
    %main.payment
      .row.no-margin
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
          = render :partial => 'payment/header_payment'
      .container
        = render 'payment_method', method: 'transfer'
        .row.payment-content.active.no-margin
          %h4 2. Hoàn tất thanh toán
          .col-xs-12.no-padding{:style => "margin-bottom: 20px"}
            %b Thông tin thanh toán
        .row.no-margin
          .col-xs-12.no-padding.payment-editor
            %input.form-control{:placeholder => "Tên đầy đủ", :type => "text"}
        .row.no-margin
          .col-xs-12.no-padding.payment-editor
            %input.form-control{:placeholder => "Email", :type => "text"}
        .row.no-margin
          .col-xs-12.no-padding.payment-editor
            %input.form-control{:placeholder => "Địa chỉ", :type => "text"}
        .row.no-margin
          .col-xs-12.no-padding.payment-editor
            %input.form-control{:placeholder => "Số điện thoại", :type => "text"}
        .row.payment-content.active.no-margin
          .col-xs-12.no-padding{:style => "margin-bottom: 15px"}
            %b Thanh toán bằng thẻ Tín dụng và Ghi nợ quốc tế
          .col-xs-12.no-padding (Áp dụng cho học viên có thẻ Visa hoặc MasterCard)
          .col-xs-12.no-padding
            %a.btn.btn-default.credit-card-button
              %img{:src => "http://www.tomnjerrys.net/wp-content/uploads/2013/06/MasterCard-credit-cards-and-Visa-If-you-apply-for-both.jpg"}
        .row.payment-content.active.no-margin
          .col-xs-12.no-padding{:style => "margin-bottom: 15px"}
            %b Thanh toán bằng thẻ ATM nội địa
          .col-xs-12.no-padding{:style => "margin-bottom: 15px"}
            %input.form-control{:placeholder => "Nhập tên loại thẻ/ngân hàng cần tìm", :type => "text"}
          .col-xs-12.no-padding{:style => "margin-bottom: 20px"} (Áp dụng cho học viên có tài khoản thẻ nội địa (ATM) tại ngân hàng tương ứng và có đăng ký dịch vụ Internet Banking và mua hàng trực tuyến)
        .row.no-margin{:style => "margin-bottom: 20px"}
          .col-xs-12.no-padding
            %ul.bank-list.no-padding
              %li.row.no-margin.list
                .col-xs-2.no-padding
                  %a.bank-icon{:href => "#"}
                    %img{:src => "http://i.imgur.com/vAEItQT.png"}
                .col-xs-10
                  %h5.normal-text.no-margin.bank-label Ngân hàng ACB
              .divider
              %li.row.no-margin.list
                .col-xs-2.no-padding
                  %a.bank-icon{:href => "#"}
                    %img{:src => "http://i.imgur.com/vAEItQT.png"}
                .col-xs-10
                  %h5.normal-text.no-margin.bank-label Ngân hàng ACB
        .row.no-margin{:style => "margin-bottom: 40px"}
          .col-xs-12.no-padding
            %a.btn.btn-success.btn-raised.btn-lg.purchase-button Đặt mua khóa học        
  = render :partial => 'components/footer/index'   

.layout-480-up.hidden-sm.hidden-md.hidden-lg
  = render :partial => 'components/header/index'
  .container-wrapper{:style => "overflow: hidden;"}  
    %main.payment
      .row.no-margin
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
          = render :partial => 'payment/header_payment'
      .container
        = render 'payment_method', method: 'transfer'
        .row.payment-content.active.no-margin
          %h4 2. Hoàn tất thanh toán
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding{:style => "margin-bottom: 20px"}
            %b Thông tin thanh toán
        .row.no-margin
          .col-xs-12.col-sm-4.col-md-4.col-lg-4.no-padding.payment-editor
            %input.form-control{:placeholder => "Tên đầy đủ", :type => "text"}
        .row.no-margin
          .col-xs-12.col-sm-4.col-md-4.col-lg-4.no-padding.payment-editor
            %input.form-control{:placeholder => "Email", :type => "text"}
        .row.no-margin
          .col-xs-12.col-sm-4.col-md-4.col-lg-4.no-padding.payment-editor
            %input.form-control{:placeholder => "Địa chỉ", :type => "text"}
        .row.no-margin
          .col-xs-12.col-sm-4.col-md-4.col-lg-4.no-padding.payment-editor
            %input.form-control{:placeholder => "Số điện thoại", :type => "text"}
        .row.payment-content.active.no-margin
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding.payment-editor{:style => "margin-bottom: 15px"}
            %b Thanh toán bằng thẻ Tín dụng và Ghi nợ quốc tế
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding (Áp dụng cho học viên có thẻ Visa hoặc MasterCard)
          .col-xs-6.col-sm-4.col-md-3.col-lg-2.no-padding
            %a.btn.btn-default.credit-card-button
              %img{:src => "http://www.tomnjerrys.net/wp-content/uploads/2013/06/MasterCard-credit-cards-and-Visa-If-you-apply-for-both.jpg"}
        .row.payment-content.active.no-margin
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding{:style => "margin-bottom: 15px"}
            %b Thanh toán bằng thẻ ATM nội địa
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding.visible-xs-block{:style => "margin-bottom: 15px"}
            %input.form-control{:placeholder => "Nhập tên loại thẻ/ngân hàng cần tìm", :type => "text"}
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding{:style => "margin-bottom: 20px"} (Áp dụng cho học viên có tài khoản thẻ nội địa (ATM) tại ngân hàng tương ứng và có đăng ký dịch vụ Internet Banking và mua hàng trực tuyến)
        .row.no-margin{:style => "margin-bottom: 20px"}
          .col-xs-12.no-padding
            %ul.bank-list.no-padding
              - (1..30).each do
                %li.row.no-margin.list
                  .col-xs-2.no-padding
                    %a.bank-icon{:href => "#"}
                      %img{:src => "http://i.imgur.com/vAEItQT.png"}
                  .col-xs-10
                    %h5.normal-text.no-margin.bank-label Ngân hàng ACB
                .divider
        .row.no-margin
          .col-xs-12.col-sm-4.col-sm-offset-4.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4.no-padding{:style => "margin-bottom: 40px"}
            %a.btn.btn-success.btn-raised.btn-lg.purchase-button Đặt mua khóa học  
  = render :partial => 'components/footer/index'   

.row.no-margin.hidden-xs
  = render :partial => 'components/header/index'
  .container-wrapper{:style => "overflow: hidden;"}   
    %main.payment
      .row.no-margin
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
          = render :partial => 'payment/header_payment'
      .container
        = render 'payment_method', method: 'transfer'
        .row.payment-content.active.no-margin
          %h4 2. Hoàn tất thanh toán
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding{:style => "margin-bottom: 20px"}
            %b Thông tin thanh toán
        .row.no-margin
          .col-xs-12.col-sm-4.col-md-4.col-lg-4.no-padding.payment-editor
            %input.form-control{:placeholder => "Tên đầy đủ", :type => "text"}
        .row.no-margin
          .col-xs-12.col-sm-4.col-md-4.col-lg-4.no-padding.payment-editor
            %input.form-control{:placeholder => "Email", :type => "text"}
        .row.no-margin
          .col-xs-12.col-sm-4.col-md-4.col-lg-4.no-padding.payment-editor
            %input.form-control{:placeholder => "Địa chỉ", :type => "text"}
        .row.no-margin
          .col-xs-12.col-sm-4.col-md-4.col-lg-4.no-padding.payment-editor
            %input.form-control{:placeholder => "Số điện thoại", :type => "text"}
        .row.payment-content.active.no-margin
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding.payment-editor{:style => "margin-bottom: 15px"}
            %b Thanh toán bằng thẻ Tín dụng và Ghi nợ quốc tế
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding (Áp dụng cho học viên có thẻ Visa hoặc MasterCard)
          .col-xs-6.col-sm-4.col-md-3.col-lg-2.no-padding
            %a.btn.btn-default.credit-card-button
              %img{:src => "http://www.tomnjerrys.net/wp-content/uploads/2013/06/MasterCard-credit-cards-and-Visa-If-you-apply-for-both.jpg"}
        .row.payment-content.active.no-margin
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding{:style => "margin-bottom: 15px"}
            %b Thanh toán bằng thẻ ATM nội địa
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding.visible-xs-block{:style => "margin-bottom: 15px"}
            %input.form-control{:placeholder => "Nhập tên loại thẻ/ngân hàng cần tìm", :type => "text"}
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding{:style => "margin-bottom: 20px"} (Áp dụng cho học viên có tài khoản thẻ nội địa (ATM) tại ngân hàng tương ứng và có đăng ký dịch vụ Internet Banking và mua hàng trực tuyến)
        .row.no-margin
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding{:style => "margin-bottom: 20px"}
            - (1..30).each do
              .col-sm-4.col-md-3.col-lg-2
                %a.btn.btn-default.btn-raised.bank-card
                  %img{:src => "http://i.imgur.com/vAEItQT.png"}
        .row.no-margin
          .col-xs-12.col-sm-4.col-sm-offset-4.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4.no-padding{:style => "margin-bottom: 40px"}
            %a.btn.btn-success.btn-raised.btn-lg.purchase-button Đặt mua khóa học  
  = render :partial => 'components/footer/index'   