/ Màn hình từ 320px
.payment-320
  %main.payment
    .row.no-margin
      .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
        = render :partial => 'payment/header_payment'
    .p-container
      = render 'payment_method', method: 'transfer'
      .row.payment-content.active.no-margin
        %h4 2. Hoàn tất thanh toán
        .col-xs-12.no-padding{:style => "color: #ff5722; margin-bottom: 15px;"}
          %h5 Chuyển khoản ngân hàng
      .row.no-margin{:style => "margin-bottom: 15px;"}
        .col-xs-12.no-padding Bạn có thể đến bất kỳ ngân hàng nào ở Việt Nam (hoặc sử dụng Internet Banking) để chuyển tiền theo thông tin bên dưới:
        .row.no-margin
          .col-xs-12.no-padding
            %div.tranfer-information
              Số tài khoản: 
              %b 67664288
            %div.tranfer-information
              Chủ tài khoản: 
              %b Lê Đức Bình
            %div.tranfer-information
              Ngân hàng: 
              %b Ngân hàng VPBank, Chi Nhánh Định Công, Hà Nội
      .row.no-margin{:style => "margin-bottom: 15px;"}
        .col-xs-12.no-padding
          %u Ghi chú khi chuyển khoản
        .col-xs-12.no-padding
          %ul.col-xs-12.no-padding.no-margin
            %li.tranfer-note Tại mục "Ghi chú" khi chuyển khoản, bạn ghi rõ: Số điện thoại - Họ Tên - Email đăng ký học - Khóa học đăng ký
            %li.tranfer-note Ví dụ: 0912345678 - Nguyen Thi Thu Hien - hien.nguyen@gmail.com - Xay dung trang web thuong mai đien tu voi Wordpress   
      .row.no-margin{:style => "margin-bottom: 15px;"}
        .col-xs-12.no-padding{:style => "color: #ff5722"} Chuyển tiền qua Paypal
      .row.no-margin{:style => "margin-bottom: 15px;"}
        .col-xs-12.no-padding
          %div.tranfer-information
            Địa chỉ email nhận tiền:
            = succeed "." do 
              %b minh@deltaviet.com. 
            Tỉ giá áp dụng: 1 USD = 20.300 VNĐ (tỉ giá trên PayPal).
          %div.tranfer-information
            Tại mục "Message" khi chuyển tiền, bạn ghi rõ: Số điện thoại - Họ Tên - Email đăng ký học - Khóa học đăng ký.       
      .row.no-margin{:style => "margin-bottom: 100px;"}
        .col-xs-12.no-padding
          %div
          Giao dịch sẽ hoàn tất khi DeltaViet nhận được tiền từ ngân hàng, thường là từ 1 – 24 giờ. Tudemy sẽ email báo cho bạn biết khi giao dịch hoàn tất.
/ Màn hình từ 480px trở lên          
.payment-480-up 
  %main.payment
    .row.no-margin
      .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
        = render :partial => 'payment/header_payment', status: ''
    .p-container
      = render 'payment_method', method: 'transfer'
      .row.payment-content.active.no-margin
        %h4 2. Hoàn tất thanh toán
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding{:style => "color: #ff5722; margin-bottom: 15px;"}
          %h5 Chuyển khoản ngân hàng
      .row.no-margin{:style => "margin-bottom: 15px;"}
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding Bạn có thể đến bất kỳ ngân hàng nào ở Việt Nam (hoặc sử dụng Internet Banking) để chuyển tiền theo thông tin bên dưới:
        .row.no-margin
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
            %div.tranfer-information
              Số tài khoản: 
              %b 67664288
            %div.tranfer-information
              Chủ tài khoản: 
              %b Lê Đức Bình
            %div.tranfer-information
              Ngân hàng: 
              %b Ngân hàng VPBank, Chi Nhánh Định Công, Hà Nội
      .row.no-margin{:style => "margin-bottom: 15px;"}
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
          %u Ghi chú khi chuyển khoản
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
          %ul.col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding.no-margin
            %li.tranfer-note Tại mục "Ghi chú" khi chuyển khoản, bạn ghi rõ: Số điện thoại - Họ Tên - Email đăng ký học - Khóa học đăng ký
            %li.tranfer-note Ví dụ: 0912345678 - Nguyen Thi Thu Hien - hien.nguyen@gmail.com - Xay dung trang web thuong mai đien tu voi Wordpress   
      .row.no-margin{:style => "margin-bottom: 5px;"}
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding{:style => "color: #ff5722"}
          %h5 Chuyển tiền qua Paypal
      .row.no-margin{:style => "margin-bottom: 15px;"}
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
          %div.tranfer-information
            Địa chỉ email nhận tiền:
            = succeed "." do 
              %b minh@deltaviet.com. 
            Tỉ giá áp dụng: 1 USD = 20.300 VNĐ (tỉ giá trên PayPal).
          %div.tranfer-information
            Tại mục "Message" khi chuyển tiền, bạn ghi rõ: Số điện thoại - Họ Tên - Email đăng ký học - Khóa học đăng ký.       
      .row.no-margin{:style => "margin-bottom: 100px;"}
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding
          %div
          Giao dịch sẽ hoàn tất khi DeltaViet nhận được tiền từ ngân hàng, thường là từ 1 – 24 giờ. Tudemy sẽ email báo cho bạn biết khi giao dịch hoàn tất.
        