= render :partial => 'components/header/default'
.container-wrapper{:style => "overflow: hidden;"}  
  .banner
    = render :partial => "components/banner/banner"
  
  .payment
    .row.no-margin
      .col-xs-12.no-padding
        = render :partial => 'payment/header_payment'
    .container
      .payment-main
        .payment-main-info
          .info-title Thông tin thanh toán
          .info-course
            / .course-name= @course.name
            .course-name Course_name
            / .course-price= number_to_currency(@payment.money, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
            .course-price Course_price
          .info-coupon
            .sale-text Giảm giá
            .sale-price 
          .info-cost
            .cost-text Thành tiền
            .total-pice
        .payment-main-menthod
          .menthod-title 2. Hoàn tất thanh toán
          .menthod-description
            %h5.description-transfer-text.red-text Chuyển khoản ngân hàng
            %h5.description-transfer-text Bạn có thể đến bất kỳ ngân hàng nào ở Việt Nam (hoặc sử dụng Internet Banking) để chuyển tiền theo thông tin bên dưới:
            .description-transfer-text
              .transfer-information
                Số tài khoản: 
                %b 15110370007236
              .transfer-information
                Chủ tài khoản: 
                %b Pedia
              .transfer-information
                Ngân hàng: 
                %b Ngân hàng BIDV, Chi Nhánh Thành Đô, Hà Nội
            %h5.description-transfer-text
              %u Ghi chú khi chuyển khoản
            .description-transfer-text
              %ul.col-xs-12.no-padding.no-margin
                %li.list-note.normal-text Tại mục "Ghi chú" khi chuyển khoản, bạn ghi rõ: Số điện thoại - Họ Tên - Email đăng ký học - Khóa học đăng ký
                %li.list-note.normal-text Ví dụ: 0909090909 - Nguyen Thi Huong Lan - lannguyen@gmail.com - Ky nang quan ly cam xuc   
          .support-online-payment-form
            %h5.support-description Để lại thông tin để đội ngũ hỗ trợ của Pedia có thế giúp bạn trong việc mua các khóa học trong thời gian sớm nhất!
            %form.form-support
              %input.form-control.name-input{:type => "text", :placeholder => "Tên đầy đủ"}
              %input.form-control.phone-input{:type => "text", :placeholder => "Số điện thoại"}
              %a.btn.btn-success.send-form-support Gửi đi
          .other-payment-menthod
            %a.link-text{:href => "/home/payment/#{@course.alias_name.to_s}"} Chọn hình thức thanh toán khác
          .menthod-progress
            .progress-icon
              %i.fa.fa-circle
            .progress-icon.active
              %i.fa.fa-circle
= render :partial => 'components/footer/index'           
