%main.search
  .row.search-header
    .row.container-1140.search-result-title
      .row
        .col.s12.no-padding
          %h4 Kết quả tìm kiếm cho từ khóa "#{@keywords}"
  .row.category-main.container-1140
    %form#test-form{:action => '', :method => 'GET'}
      %input#page-index{:type => 'hidden', :name => 'page', :value => '1'}
      %input#page-search{:type => 'hidden', :name => 'q', :value => ''}
      .col.sidebar
        %ul.course-filters
          %li.course-filter
            %p.course-filter-title Chi phí
            %ul.course-filter-content
              %li.course-filter-item
                %input#price-free-filter.filled-in{:type => 'checkbox', :name => 'budget', :value => 'free'}
                %label{:for => 'price-free-filter'} Miễn phí
              %li.course-filter-item
                %input#price-nonfree-filter.filled-in{:type => 'checkbox', :name => 'budget', :value => 'paid'}
                %label{:for => 'price-nonfree-filter'} Trả phí
          %li.course-filter
            %p.course-filter-title Ngôn ngữ
            %ul.course-filter-content
              %li.course-filter-item
                %input#language-en-filter.filled-in{:type => 'checkbox', :name => 'lang', :value => 'en'}
                %label{:for => 'language-en-filter'} Tiếng Anh
              %li.course-filter-item
                %input#language-vi-filter.filled-in{:type => 'checkbox', :name => 'lang', :value => 'vi'}
                %label{:for => 'language-vi-filter'} Tiếng Việt
          %li.course-filter
            %p.course-filter-title Trình độ
            %ul.course-filter-content
              %li.course-filter-item
                %input#level-all-filter.filled-in{:type => 'checkbox', :name => 'level', :value => 'all'}
                %label{:for => 'level-all-filter'} Mọi trình độ
              %li.course-filter-item
                %input#level-beginner-filter.filled-in{:type => 'checkbox', :name => 'level', :value => 'beginner'}
                %label{:for => 'level-beginner-filter'} Cơ bản
              %li.course-filter-item
                %input#level-basic-filter.filled-in{:type => 'checkbox', :name => 'level', :value => 'intermediate'}
                %label{:for => 'level-basic-filter'} Trung cấp
              %li.course-filter-item
                %input#level-advanced-filter.filled-in{:type => 'checkbox', :name => 'level', :value => 'expert'}
                %label{:for => 'level-advanced-filter'} Nâng cao
      .col.s9
        .row.sorting
          .input-field.col.s4
            %select.sorting-options#sorting-options{:name => 'ordering'}
              %option{:value => '', :disabled => '', :selected => ''} Sắp xếp
              %option{:value => 'ratings'} Đánh giá cao
              %option{:value => 'newest'} Mới nhất
              %option{:value => 'price-low-to-high'} Giá thấp đến cao
              %option{:value => 'price-high-to-low'} Giá cao đến thấp
        .row.courses.list-style
          - @courses.each do |course|
            .col.s12
              %a.row.course{:href => '/courses/' + course.alias_name + '/detail'}
                .col.s3.course-image
                  = image_tag course.image
                .col.s9
                  %p.course-title= course.name
                  %p.course-author= 'bởi ' + course.user.name.to_s
                  %p{:style => 'margin: 5px 0;'}
                  - if course.price == 0
                    %span.course-price.red-text
                      Miễn phí
                  - else
                    %span.course-price= number_to_currency(course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
                    %span.course-rating
                      %span.course-rating-point
                        - (1..5).each do |i|
                          - if i <= course.average_rating
                            %i.material-icons.is-rated star_rate
                          - else
                            %i.material-icons star_rate
                      %span.course-rating-people= '(' + course.num_rate.to_s + ')'
                  %p.course-other-info.fix-height-info= course.sub_title
                  %span.blue-text Xem thêm
        .row
          %div.center-pagination
            %ul.pagination
              %li.disabled
                %a{:href => "#!"}
                  %i.material-icons chevron_left
              - (1..@courses.count/10 + 1).each do |page|
                %li{:style => 'cursor:pointer'}= page
              %li.waves-effect
                %a{:href => "#!"}
                  %i.material-icons chevron_right
