/ Màn hình từ 320px
.payment-320
  .header
    = render :partial => 'components/header/index'
  %main.detail
    .container{:style => "background-color: #fff"}
      .row.no-margin
        .col-xs-12.no-padding
          %h4.no-margin.detail-course-title
            = @course.name
      .row.no-margin
        %h5.no-margin.normal-text.sub_title
          = @course.sub_title
      .row.no-margin.course-rating
        .col-xs-12.no-padding
          .col-xs-5.course-rating-point.no-padding
            - (1..5).each do |i|
              - if i <= @course.average_rating
                %i.fa.fa-star.is-rated 
              - else
                %i.fa.fa-star
          .col-xs-7.no-padding 
            %h5.normal-text.course-rating-people.no-margin.right-align
              = @course.reviews.count.to_s + ' đánh giá, ' + @course.students.to_s + ' người tham gia'
      .row.no-margin
        .col-xs-12.no-padding.normal-text
          - if @course.user
            Giảng dạy bởi 
            %a.link-text.normal-text{:href => "#"}= @course.user.name
          - else
            %a.link-text.normal-text{:href => "#"} Tudemy
      .row.no-margin
        .col-xs-12.no-padding.author-information
          %h5.normal-text.link-text Design  /  User Experience
      .row.no-margin
        .col-xs-12.no-padding
          .video-container.no-controls
            - if @course.intro_link && @course.intro_link != ''
              - if @course.intro_link['v=']
                - @indexStart = @course.intro_link.index('v=') + 2
                - if @course.intro_link['&']
                  - @indexEnd = @course.intro_link.index('&')-1
                  - @youtube_id = @course.intro_link[@indexStart..@indexEnd] 
                - else
                  - @indexEnd = @course.intro_link.length
                  - @youtube_id =  @course.intro_link[@indexStart..@indexEnd]
              - elsif @course.intro_link['youtu.be']
                - pattern = /youtu.be\/(.*)\?/
                - @youtube_id = pattern.match(@course.intro_link)[1]
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "190", :src => 'https://www.youtube.com/embed/'+@youtube_id + '?modestbranding=0&amp;rel=0&amp;showinfo=0', :width => "100%"}
            - elsif @course.image && @course.image != ''
              = image_tag @course.image, :style => 'width: 100%'
            - else
              = image_tag 'course-image-intro.png', :style => 'width: 100%'
      .row.no-margin
        .col-xs-12.no-padding
          - if @course.price == 0
            %h3.course-price.free.no-margin Miễn phí
          - else
            %h3.course-price.no-margin{:style => 'margin: 0'}= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
      .row.no-margin
        - if !current_user.blank?
          - if !@owned_course.blank?
            - if @owned_course.payment_status == 'pending'
              - if @payment.method == 'cod'
                .col.xs-12.nopadding
                  %input.form-control{:placeholder => "Nhập mã COD tại đây", :type => "text"}
              .col-xs-12.no-padding
                %a.btn.btn-raised.btn-lg.pending-button Kích hoạt mã COD
              .col-xs-6.no-padding
                %a.btn.btn-raised.btn-lg.favorite-button 
                  %i.mdi-action-favorite
                  %span Ưa thích
              .col-xs-12.no-padding
                %h5.normal-text 
                  %i Khóa học này đang chờ thanh toán, bạn sẽ nhận được thông báo học ngay khi giao dịch thành công. Nếu bạn đã nhận được mã COD, vui lòng bấm kích hoạt
            - else
              .col-xs-12.no-padding
                %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"} Mua khóa học này
              .col-xs-6.no-padding
                %a.btn.btn-raised.btn-lg.favorite-button 
                  %i.mdi-action-favorite
                  %span Ưa thích
          - else
            - if @course.price == 0
              .col-xs-12.no-padding
                %a.btn.btn-info.btn-raised.btn-lg.learning-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                  Bắt đầu học ngay
              .col-xs-6.no-padding
                %a.btn.btn-raised.btn-lg.favorite-button 
                  %i.mdi-action-favorite
                  %span Ưa thích
            - else 
              .col-xs-12.no-padding
                %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                  Mua khóa học
              .col-xs-6.no-padding
                %a.btn.btn-raised.btn-lg.favorite-button 
                  %i.mdi-action-favorite
                  %span Ưa thích
              .col-xs-12.no-padding
                %a.link-text{:href => ""}
                  %h5.normal-text.link-text Nhập mã khuyến mãi
              .col-xs-12.no-padding
                %a.link-text{:href => ""}
                  %h5.normal-text.link-text Học thử miễn phí
              .col-xs-12.no-padding
                %a.link-text{:href => ""}
                  %h5.normal-text.link-text Góp ý
        - else
          - if @course.price == 0
            .col-xs-12.no-padding
              %a.btn.btn-info.btn-raised.btn-lg.learning-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                Bắt đầu học ngay
            .col-xs-6.no-padding
              %a.btn.btn-raised.btn-lg.favorite-button 
                %i.mdi-action-favorite
                %span Ưa thích
          - else 
            .col-xs-12.no-padding
              %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                Mua khóa học
            .col-xs-6.no-padding
              %a.btn.btn-raised.btn-lg.favorite-button 
                %i.mdi-action-favorite
                %span Ưa thích
            .col-xs-12.no-padding
              %a.link-text{:href => ""}
                %h5.normal-text.link-text Nhập mã khuyến mãi
            .col-xs-12.no-padding
              %a.link-text{:href => ""}
                %h5.normal-text.link-text Học thử miễn phí
            .col-xs-12.no-padding
              %a.link-text{:href => ""}
                %h5.normal-text.link-text Góp ý
            .divider
      .divider
      .row.no-margin.list-info
        .col-xs-5.courses.no-padding
          .row.no-margin
            %p.course-author
              Số lượng bài giảng
            %p.course-author
              Thời lượng video
            %p.course-author
              Trình độ
            %p.course-author
              Ngôn ngữ
            / %p.course-author
            /   bao gồm
        .col-xs-7.no-padding
          .row.no-margin
            %p.bold
              = @course.curriculums.where(:type => 'lecture').count
            %p.bold
              - time = 0
              - @course.curriculums.each do |curi|
                - if curi.type == 'lecture' && curi.asset_type == 'Video'
                  - time += curi.description.to_i
              - if time > 60
                = (time/60).to_s + 'h'
              - else
                = '1h'
            %p.bold{:style => 'text-transform: capitalize'}= Course::Localization::LEVELS[@course.level.to_sym][I18n.default_locale]
            %p.bold 
              = Course::Localization::LANGUAGE[@course.lang.to_sym][I18n.default_locale]
    .divider
    .container
      .row.no-margin.description
        .col-xs-12.no-padding
          %h4.no-margin
            %b Mô tả về khóa học  
        .col-xs-12.no-padding
          %h5.normal-text{:style => "line-height: 24px"} Work Alongside Me to Create & Operate Your Website Right Now. Never created a website before? Perfect. This course was created for you. Entrepreneurs and creatives like you are unique. You constantly have new ideas that will change the world. But sometimes... technology gets in the way.  
        .col-xs-12.no-padding
          %a.link-text{:href => "#"}
            %b Xem chi tiết
      .row.no-margin
        .col-xs-12.no-padding
          %h4
            %b Giáo trình
      .divider
      .row.no-margin.curiculums
        .col-xs-12.no-padding
          - @course.curriculums.each do |curi|
            .row.no-margin.curiculum
              .col-xs-12.no-padding
                - if(curi.type == 'chapter')
                  .row.no-margin.curiculum-title
                    %a.normal-text{:href => "#", :style => "pointer-events: none; margin: 15px 0"}
                      %b #{curi.title}
                  .divider
                - else
                  .row.no-margin.curiculum-list
                    .col-xs-12.no-padding
                      .row.no-margin.curiculum-content
                        .col-xs-1.no-padding
                          - if curi.asset_type == "Video"
                            %i.fa.fa-play-circle
                          - else
                            %i.fa.fa-file
                        .col-xs-3
                          %h5.normal-text.no-margin= 'Bài số ' + (curi.lecture_index + 1 ).to_s
                        .col-xs-6.no-padding
                          %h5.normal-text.no-margin #{curi.title}
                        .col-xs-2
                          %h5.normal-text.no-margin
                            %b 2:09
      .row.no-margin.author
        .col-xs-12.no-padding
          %h4
            %b Tiểu sử tác giả
        .col-xs-12.no-padding
          .row.no-margin
            .col-xs-3.no-padding
              - if !@course.user.avatar.blank?
                = image_tag 'http://tudemy.vn' + @course.user.avatar, :style => "width: 100%"
              - else
                = image_tag 'default-avatar.png', :style => "width: 100%"
            .col-xs-7
              .row.no-margin
                %h5.normal-text
                - if @course.user
                  - if @course.user.instructor_profile
                    %span= @course.user.instructor_profile.academic_rank
                  %a.link-text{:href => "#!"}= @course.user.name
                - else 
                  %a.link-text{:href => "#!"} Tudemy
              - if !@course.user.instructor_profile.function.blank?
                .row.no-margin
                  .col-xs-12.no-padding
                    %h5.normal-text= 'Nghề nghiệp: ' + @course.user.instructor_profile.function
              - if !@course.user.instructor_profile.work_unit.blank?
                .row.no-margin
                  .col-xs-12.no-padding
                    %h5.normal-text= 'Đơn vị công tác: ' + @course.user.instructor_profile.work_unit
              .row.no-margin
                .col-xs-2.no-padding
                  %a.social-button{:href => "#"}
                    %i.fa.fa-linkedin-square
                .col-xs-2.no-padding
                  %a.social-button{:href => "#"}
                    %i.fa.fa-facebook-square
        .col-xs-12.no-padding
          - if @course.user.instructor_profile.description.count > 0
            - @course.user.instructor_profile.description.each do |i|
              %h5.normal-text= i
      .row.no-margin.rating
        .col-xs-12.no-padding
          %h4.normal-text
            %b Đánh giá
        .col-xs-12.no-padding
          %h1.rating-point.no-margin 4.2
        .col-xs-12.no-padding
          .col-xs-5.course-rating-point.no-padding
            - (1..5).each do |i|
              - if i <= @course.average_rating
                %i.fa.fa-star.is-rated 
              - else
                %i.fa.fa-star
          .col-xs-7.no-padding 
            %h5.normal-text.course-rating-people.no-margin.left-align
              = @course.reviews.count.to_s + ' đánh giá' 
        .col-xs-12.no-padding
          %h5.normal-text Chi tiết
        - (1..5).each do |i|
          .row.no-margin
            .col-xs-2.no-padding
              %h5.normal-text 5 sao
            .col-xs-8.no-padding
              .progress.progress-striped.active
                .progress-bar{:style => "width: 60%;"}
            .col-xs-2
              %h5.normal-text
                %b 3174
      .divider
      / - @course.reviews.where(:title.nin => [nil, ""]).each do |rv|
      - (1..2).each do |i|
        .row.no-margin.discussion
          .col-xs-12.no-padding
            .row.no-margin.discussion-top
              .col-xs-2.no-padding
                %img{:alt => "", :src => "https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/11215086_842526002451006_5806294280552896279_n.jpg?oh=d263a8b13e1acc3653665552644a4a9f&oe=567FABBD&__gda__=1449843809_7ba9384e162348fc09bdceb5410a8ddc", :style => "width: 70px; border-radius: 50%"}
              .col-xs-10
                .row.no-margin
                  .col-xs-12
                    %h5.normal-text.no-margin
                      %b Jasmine Maddox
                .row.no-margin
                  .col-xs-12
                    %h5.normal-text 2 ngày trước
                .row.no-margin
                  .col-xs-12.course-rating-point
                    - (1..5).each do |i|
                      - if i <= @course.average_rating
                        %i.fa.fa-star.is-rated 
                      - else
                        %i.fa.fa-star
            .row.no-margin
              .col-xs-12.no-padding
                %h5.normal-text
                  %b Just what I needed.
              .col-xs-12.no-padding
                %h5.normal-text{:style => "line-height: 20px;"} I loved how the course goes through the basic admin panel functions to show you how to set up a WordPress site. It is very clear, concise and does not assume the student will have any coding knowledge or ability.
        .divider
      .row.no-margin
        .col-xs-12.no-padding
          %a.link-text{:href => "#"}
            %h5.link-text.normal-text Xem thêm các bình luận khác
/ Màn hình từ 480px đến 767px         
.payment-480-up.hidden-sm.hidden-md.hidden-lg
  .header
    = render :partial => 'components/header/index'
  %main.detail
    .container{:style => "background-color: #fff"}
      .row.no-margin
        .col-xs-12.no-padding
          %h4.no-margin.detail-course-title
            = @course.name
      .row.no-margin
        %h5.no-margin.normal-text.sub_title
          = @course.sub_title
      .row.no-margin.course-rating
        .col-xs-12.no-padding
          .col-xs-4.course-rating-point.no-padding
            - (1..5).each do |i|
              - if i <= @course.average_rating
                %i.fa.fa-star.is-rated 
              - else
                %i.fa.fa-star
          .col-xs-8.course-rating-people.no-padding 
            %h5.normal-text.no-margin.left-align
              = @course.reviews.count.to_s + ' đánh giá, ' + @course.students.to_s + ' người tham gia'
      .row.no-margin
        .col-xs-12.no-padding.normal-text
          - if @course.user
            Giảng dạy bởi 
            %a.link-text.normal-text{:href => "#"}= @course.user.name
          - else
            %a.link-text.normal-text{:href => "#"} Tudemy
      .row.no-margin
        .col-xs-12.no-padding.author-information
          %h5.normal-text.link-text Design  /  User Experience
      .row.no-margin
        .col-xs-12.no-padding
          .video-container.no-controls
            - if @course.intro_link && @course.intro_link != ''
              - if @course.intro_link['v=']
                - @indexStart = @course.intro_link.index('v=') + 2
                - if @course.intro_link['&']
                  - @indexEnd = @course.intro_link.index('&')-1
                  - @youtube_id = @course.intro_link[@indexStart..@indexEnd] 
                - else
                  - @indexEnd = @course.intro_link.length
                  - @youtube_id =  @course.intro_link[@indexStart..@indexEnd]
              - elsif @course.intro_link['youtu.be']
                - pattern = /youtu.be\/(.*)\?/
                - @youtube_id = pattern.match(@course.intro_link)[1]
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "190", :src => 'https://www.youtube.com/embed/'+@youtube_id + '?modestbranding=0&amp;rel=0&amp;showinfo=0', :width => "100%"}
            - elsif @course.image && @course.image != ''
              = image_tag @course.image, :style => 'width: 100%'
            - else
              = image_tag 'course-image-intro.png', :style => 'width: 100%'
      .row.no-margin
        .col-xs-8.no-padding
          .row.no-margin
            .col-xs-12.no-padding
              - if @course.price == 0
                %h3.course-price.free.no-margin Miễn phí
              - else
                %h3.course-price.no-margin{:style => 'margin: 0'}= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
          .row.no-margin
            .col-xs-12.no-padding
              - if !current_user.blank?
                - if !@owned_course.blank?
                  - if @owned_course.payment_status == 'pending'
                    - if @payment.method == 'cod'
                      .col.xs-10.nopadding
                        %input.form-control{:placeholder => "Nhập mã COD tại đây", :type => "text"}
                    .col-xs-8.no-padding
                      %a.btn.btn-raised.btn-lg.pending-button Kích hoạt mã COD
                    .col-xs-2
                      %a.btn.btn-raised.btn-lg.mdi-action-favorite.favorite-button.no-text 
                  - else
                    .col-xs-8.no-padding
                      %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"} Mua khóa học này
                    .col-xs-2
                      %a.btn.btn-raised.btn-lg.favorite-button.no-text 
                        %i.mdi-action-favorite
                    .col-xs-8.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Nhập mã khuyến mãi
                    .col-xs-8.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Học thử miễn phí
                    .col-xs-8.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Góp ý
                - else
                  - if @course.price == 0
                    .col-xs-8.no-padding
                      %a.btn.btn-info.btn-raised.btn-lg.learning-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                        Bắt đầu học ngay
                    .col-xs-2
                      %a.btn.btn-raised.btn-lg.mdi-action-favorite.favorite-button.no-text 
                  - else 
                    .col-xs-8.no-padding
                      %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                        Mua khóa học
                    .col-xs-2
                      %a.btn.btn-raised.btn-lg.mdi-action-favorite.favorite-button.no-text 
                    .col-xs-8.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Nhập mã khuyến mãi
                    .col-xs-8.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Học thử miễn phí
                    .col-xs-8.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Góp ý
              - else
                - if @course.price == 0
                  .col-xs-8.no-padding
                    %a.btn.btn-info.btn-raised.btn-lg.learning-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                      Bắt đầu học ngay
                  .col-xs-2
                    %a.btn.btn-raised.btn-lg.mdi-action-favorite.favorite-button.no-text 
                - else 
                  .col-xs-8.no-padding
                    %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                      Mua khóa học
                  .col-xs-2
                    %a.btn.btn-raised.btn-lg.mdi-action-favorite.favorite-button.no-text 
                  .col-xs-8.no-padding
                    %a.link-text{:href => ""}
                      %h5.normal-text.link-text Nhập mã khuyến mãi
                  .col-xs-8.no-padding
                    %a.link-text{:href => ""}
                      %h5.normal-text.link-text Học thử miễn phí
                  .col-xs-8.no-padding
                    %a.link-text{:href => ""}
                      %h5.normal-text.link-text Góp ý
        .col-xs-4.no-padding
          .divider
          .row.no-margin
            .col-xs-6.no-padding
              %h5.normal-text.course-author
                Số lượng bài giảng
            .col-xs-6
              %h5.normal-text
                %b= @course.curriculums.where(:type => 'lecture').count
          .row.no-margin
            .col-xs-6.no-padding
              %h5.normal-text.course-author
                Thời lượng video
            .col-xs-6
              %h5.normal-text
                %b
                  - time = 0
                  - @course.curriculums.each do |curi|
                    - if curi.type == 'lecture' && curi.asset_type == 'Video'
                      - time += curi.description.to_i
                  - if time > 60
                    = (time/60).to_s + 'h'
                  - else
                    = '1h'
          .row.no-margin
            .col-xs-6.no-padding
              %h5.normal-text.course-author
                Trình độ
            .col-xs-6
              %h5.normal-text{:style => 'text-transform: capitalize'}
                %b= Course::Localization::LEVELS[@course.level.to_sym][I18n.default_locale]
          .row.no-margin
            .col-xs-6.no-padding
              %h5.normal-text.course-author
                Ngôn ngữ
            .col-xs-6
              %h5.normal-text 
                %b= Course::Localization::LANGUAGE[@course.lang.to_sym][I18n.default_locale]
    .divider
    .container
      .row.no-margin.description
        .col-xs-12.no-padding
          %h4.no-margin
            %b Mô tả về khóa học  
        .col-xs-12.no-padding
          %h5.normal-text{:style => "line-height: 24px"} Work Alongside Me to Create & Operate Your Website Right Now. Never created a website before? Perfect. This course was created for you. Entrepreneurs and creatives like you are unique. You constantly have new ideas that will change the world. But sometimes... technology gets in the way.  
        .col-xs-12.no-padding
          %a.link-text{:href => "#"}
            %b Xem chi tiết
      .row.no-margin
        .col-xs-12.no-padding
          %h4
            %b Giáo trình
      .divider
      .row.no-margin.curiculums
        .col-xs-12.no-padding
          - @course.curriculums.each do |curi|
            .row.no-margin.curiculum
              .col-xs-12.no-padding
                - if(curi.type == 'chapter')
                  .row.no-margin.curiculum-title
                    %a.normal-text{:href => "#", :style => "pointer-events: none; margin: 15px 0"}
                      %b #{curi.title}
                  .divider
                - else
                  .row.no-margin.curiculum-list
                    .col-xs-12.no-padding
                      .row.no-margin.curiculum-content
                        .col-xs-1.no-padding
                          - if curi.asset_type == "Video"
                            %i.fa.fa-play-circle
                          - else
                            %i.fa.fa-file
                        .col-xs-2.no-paddingf
                          %h5.normal-text.no-margin= 'Bài số ' + (curi.lecture_index + 1 ).to_s
                        .col-xs-7.no-padding
                          %h5.normal-text.no-margin #{curi.title}
                        .col-xs-2.no-padding
                          %h5.normal-text.no-margin
                            %b 2:09
      .row.no-margin.author
        .col-xs-12.no-padding
          %h4
            %b Tiểu sử tác giả
        .col-xs-12.no-padding
          .row.no-margin
            .col-xs-3.no-padding
              - if !@course.user.avatar.blank?
                = image_tag 'http://tudemy.vn' + @course.user.avatar, :style => "width: 100%"
              - else
                = image_tag 'default-avatar.png', :style => "width: 100%"
            .col-xs-7
              .row.no-margin
                %h5.normal-text
                - if @course.user
                  - if @course.user.instructor_profile
                    %span= @course.user.instructor_profile.academic_rank
                  %a.link-text{:href => "#!"}= @course.user.name
                - else 
                  %a.link-text{:href => "#!"} Tudemy
              - if !@course.user.instructor_profile.function.blank?
                .row.no-margin
                  .col-xs-12.no-padding
                    %h5.normal-text= 'Nghề nghiệp: ' + @course.user.instructor_profile.function
              - if !@course.user.instructor_profile.work_unit.blank?
                .row.no-margin
                  .col-xs-12.no-padding
                    %h5.normal-text= 'Đơn vị công tác: ' + @course.user.instructor_profile.work_unit
              .row.no-margin
                .col-xs-2.no-padding
                  %a.social-button{:href => "#"}
                    %i.fa.fa-linkedin-square
                .col-xs-2.no-padding
                  %a.social-button{:href => "#"}
                    %i.fa.fa-facebook-square
        .col-xs-12.no-padding
          - if @course.user.instructor_profile.description.count > 0
            - @course.user.instructor_profile.description.each do |i|
              %h5.normal-text= i
      .row.no-margin.rating
        .col-xs-12.no-padding
          %h4.normal-text
            %b Đánh giá
        .col-xs-12.no-padding
          %h1.rating-point.no-margin 4.2
        .col-xs-12.no-padding
          .col-xs-4.course-rating-point.no-padding
            - (1..5).each do |i|
              - if i <= @course.average_rating
                %i.fa.fa-star.is-rated 
              - else
                %i.fa.fa-star
          .col-xs-7.no-padding 
            %h5.normal-text.course-rating-people.no-margin.left-align
              = @course.reviews.count.to_s + ' đánh giá' 
        .col-xs-12.no-padding
          %h5.normal-text Chi tiết
        - (1..5).each do |i|
          .row.no-margin
            .col-xs-1.no-padding
              %h5.normal-text 5 sao
            .col-xs-6
              .progress.progress-striped.active
                .progress-bar{:style => "width: 60%;"}
            .col-xs-2.no-padding
              %h5.normal-text
                %b 3174
      .divider
      / - @course.reviews.where(:title.nin => [nil, ""]).each do |rv|
      - (1..2).each do |i|
        .row.no-margin.discussion
          .col-xs-12.no-padding
            .row.no-margin.discussion-top
              .col-xs-2.no-padding
                %img{:alt => "", :src => "https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/11215086_842526002451006_5806294280552896279_n.jpg?oh=d263a8b13e1acc3653665552644a4a9f&oe=567FABBD&__gda__=1449843809_7ba9384e162348fc09bdceb5410a8ddc", :style => "width: 70px; border-radius: 50%"}
              .col-xs-10
                .row.no-margin
                  .col-xs-12
                    %h5.normal-text.no-margin
                      %b Jasmine Maddox
                .row.no-margin
                  .col-xs-12
                    %h5.normal-text 2 ngày trước
                .row.no-margin
                  .col-xs-12.course-rating-point
                    - (1..5).each do |i|
                      - if i <= @course.average_rating
                        %i.fa.fa-star.is-rated 
                      - else
                        %i.fa.fa-star
            .row.no-margin
              .col-xs-12.no-padding
                %h5.normal-text
                  %b Just what I needed.
              .col-xs-12.no-padding
                %h5.normal-text{:style => "line-height: 20px;"} I loved how the course goes through the basic admin panel functions to show you how to set up a WordPress site. It is very clear, concise and does not assume the student will have any coding knowledge or ability.
        .divider
      .row.no-margin
        .col-xs-12.no-padding
          %a.link-text{:href => "#"}
            %h5.link-text.normal-text Xem thêm các bình luận khác
/ Màn hình từ 768px đến 992px  
.row.no-margin.hidden-xs.hidden-md.hidden-lg
  .header
    = render :partial => 'components/header/index' 
  %main.detail
    .container{:style => "background-color: #fff"}
      .row.no-margin
        .col-sm-12.no-padding
          %h4.no-margin.detail-course-title-big
            %b= @course.name
      .row.no-margin
        .col-sm-12.no-padding
          %h5.no-margin.normal-text.sub_title
            = @course.sub_title
      .row.no-margin.course-rating
        .col-sm-12.no-padding
          .col-sm-2.no-padding.course-rating-point.no-padding
            - (1..5).each do |i|
              - if i <= @course.average_rating
                %i.fa.fa-star.is-rated 
              - else
                %i.fa.fa-star
          .col-sm-10.no-padding.course-rating-people.no-padding 
            %h5.normal-text.no-margin.left-align
              = @course.reviews.count.to_s + ' đánh giá, ' + @course.students.to_s + ' người tham gia'
      .row.no-margin
        .col-sm-12.no-padding.no-padding.normal-text
          - if @course.user
            Giảng dạy bởi 
            %a.link-text.normal-text{:href => "#"}= @course.user.name
          - else
            %a.link-text.normal-text{:href => "#"} Tudemy
      .row.no-margin
        .col-sm-12.no-padding.no-padding.author-information
          %h5.normal-text.link-text Design  /  User Experience
      .row.no-margin
        .col-sm-12.no-padding.no-padding
          .video-container.no-controls
            - if @course.intro_link && @course.intro_link != ''
              - if @course.intro_link['v=']
                - @indexStart = @course.intro_link.index('v=') + 2
                - if @course.intro_link['&']
                  - @indexEnd = @course.intro_link.index('&')-1
                  - @youtube_id = @course.intro_link[@indexStart..@indexEnd] 
                - else
                  - @indexEnd = @course.intro_link.length
                  - @youtube_id =  @course.intro_link[@indexStart..@indexEnd]
              - elsif @course.intro_link['youtu.be']
                - pattern = /youtu.be\/(.*)\?/
                - @youtube_id = pattern.match(@course.intro_link)[1]
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => 'https://www.youtube.com/embed/'+@youtube_id + '?modestbranding=0&amp;rel=0&amp;showinfo=0', :width => "100%"}
            - elsif @course.image && @course.image != ''
              = image_tag @course.image, :style => 'width: 100%'
            - else
              = image_tag 'course-image-intro.png', :style => 'width: 100%'
      .row.no-margin
        .col-sm-7.no-padding.no-padding
          .row.no-margin
            .col-sm-12.no-padding
              - if @course.price == 0
                %h3.course-price.free.no-margin Miễn phí
              - else
                %h3.course-price.no-margin{:style => 'margin: 0'}= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
          .row.no-margin
            .col-sm-12.no-padding
              - if !current_user.blank?
                - if !@owned_course.blank?
                  - if @owned_course.payment_status == 'pending'
                    - if @payment.method == 'cod'
                      .col-sm-6.no-padding
                        %input.form-control{:placeholder => "Nhập mã COD tại đây", :type => "text"}
                    .col-sm-6.no-padding
                      %a.btn.btn-raised.btn-lg.pending-button Kích hoạt mã COD
                    .col-sm-5
                      %a.btn.btn-raised.btn-lg.favorite-button 
                        %i.mdi-action-favorite
                        %span Ưa thích 
                  - else
                    .col-sm-6.no-padding
                      %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"} Mua khóa học này
                    .col-sm-5
                      %a.btn.btn-raised.btn-lg.favorite-button.no-text 
                        %i.mdi-action-favorite
                    .col-sm-12.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Nhập mã khuyến mãi
                    .col-sm-12.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Học thử miễn phí
                    .col-sm-12.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Góp ý
                - else
                  - if @course.price == 0
                    .col-sm-6.no-padding
                      %a.btn.btn-info.btn-raised.btn-lg.learning-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                        Bắt đầu học ngay
                    .col-sm-5
                      %a.btn.btn-raised.btn-lg.favorite-button 
                        %i.mdi-action-favorite
                        %span Ưa thích 
                  - else 
                    .col-sm-6.no-padding
                      %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                        Mua khóa học
                    .col-sm-5
                      %a.btn.btn-raised.btn-lg.favorite-button 
                        %i.mdi-action-favorite
                        %span Ưa thích 
                    .col-sm-12.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Nhập mã khuyến mãi
                    .col-sm-12.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Học thử miễn phí
                    .col-sm-12.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Góp ý
              - else
                - if @course.price == 0
                  .col-sm-6.no-padding
                    %a.btn.btn-info.btn-raised.btn-lg.learning-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                      Bắt đầu học ngay
                  .col-sm-5
                    %a.btn.btn-raised.btn-lg.favorite-button 
                      %i.mdi-action-favorite
                      %span Ưa thích 
                - else 
                  .col-sm-6.no-padding
                    %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                      Mua khóa học
                  .col-sm-5
                    %a.btn.btn-raised.btn-lg.favorite-button 
                      %i.mdi-action-favorite
                      %span Ưa thích 
                  .col-sm-12.no-padding
                    %a.link-text{:href => ""}
                      %h5.normal-text.link-text Nhập mã khuyến mãi
                  .col-sm-12.no-padding
                    %a.link-text{:href => ""}
                      %h5.normal-text.link-text Học thử miễn phí
                  .col-sm-12.no-padding
                    %a.link-text{:href => ""}
                      %h5.normal-text.link-text Góp ý
        .col-sm-5.no-padding.no-padding
          .divider
          .row.no-margin
            .col-sm-6.no-padding
              %h5.normal-text.course-author
                Số lượng bài giảng
            .col-sm-6
              %h5.normal-text
                %b= @course.curriculums.where(:type => 'lecture').count
          .row.no-margin
            .col-sm-6.no-padding
              %h5.normal-text.course-author
                Thời lượng video
            .col-sm-6
              %h5.normal-text
                %b
                  - time = 0
                  - @course.curriculums.each do |curi|
                    - if curi.type == 'lecture' && curi.asset_type == 'Video'
                      - time += curi.description.to_i
                  - if time > 60
                    = (time/60).to_s + 'h'
                  - else
                    = '1h'
          .row.no-margin
            .col-sm-6.no-padding
              %h5.normal-text.course-author
                Trình độ
            .col-sm-6
              %h5.normal-text{:style => 'text-transform: capitalize'}
                %b= Course::Localization::LEVELS[@course.level.to_sym][I18n.default_locale]
          .row.no-margin
            .col-sm-6.no-padding
              %h5.normal-text.course-author
                Ngôn ngữ
            .col-sm-6
              %h5.normal-text 
                %b= Course::Localization::LANGUAGE[@course.lang.to_sym][I18n.default_locale]
    .divider
    .container
      .row.no-margin.description
        .col-sm-12.no-padding
          %h4.no-margin
            %b Mô tả về khóa học  
        .col-sm-12.no-padding
          %h5.normal-text{:style => "line-height: 24px"} Work Alongside Me to Create & Operate Your Website Right Now. Never created a website before? Perfect. This course was created for you. Entrepreneurs and creatives like you are unique. You constantly have new ideas that will change the world. But sometimes... technology gets in the way.  
        .col-sm-12.no-padding
          %a.link-text{:href => "#"}
            %b Xem chi tiết
      .row.no-margin
        .col-sm-12.no-padding
          %h4
            %b Giáo trình
      .divider
      .row.no-margin.curiculums
        .col-sm-12.no-padding
          - @course.curriculums.each do |curi|
            .row.no-margin.curiculum
              .col-sm-12.no-padding
                - if(curi.type == 'chapter')
                  .row.no-margin.curiculum-title
                    %a.normal-text{:href => "#", :style => "pointer-events: none; margin: 15px 0"}
                      %b #{curi.title}
                  .divider
                - else
                  .row.no-margin.curiculum-list
                    .col-sm-12.no-padding
                      .row.no-margin.curiculum-content
                        .col-sm-1
                          - if curi.asset_type == "Video"
                            %i.fa.fa-play-circle
                          - else
                            %i.fa.fa-file
                        .col-sm-2
                          %h5.normal-text.no-margin= 'Bài số ' + (curi.lecture_index + 1 ).to_s
                        .col-sm-7.no-padding
                          %h5.normal-text.no-margin #{curi.title}
                        .col-sm-2.no-padding
                          %h5.normal-text
                            %b 2:09
      .row.no-margin.author
        .col-sm-12.no-padding
          %h4
            %b Tiểu sử tác giả
        .col-sm-12.no-padding
          .row.no-margin
            .col-sm-2.no-padding
              - if !@course.user.avatar.blank?
                = image_tag 'http://tudemy.vn' + @course.user.avatar, :style => "width: 100%"
              - else
                = image_tag 'default-avatar.png', :style => "width: 100%"
            .col-sm-10
              .row.no-margin
                %h5.normal-text
                - if @course.user
                  - if @course.user.instructor_profile
                    %span= @course.user.instructor_profile.academic_rank
                  %a.link-text{:href => "#!"}= @course.user.name
                - else 
                  %a.link-text{:href => "#!"} Tudemy
              - if !@course.user.instructor_profile.function.blank?
                .row.no-margin
                  .col-sm-12.no-padding
                    %h5.normal-text= 'Nghề nghiệp: ' + @course.user.instructor_profile.function
              - if !@course.user.instructor_profile.work_unit.blank?
                .row.no-margin
                  .col-sm-12.no-padding
                    %h5.normal-text= 'Đơn vị công tác: ' + @course.user.instructor_profile.work_unit
              .row.no-margin
                %a.social-button{:href => "#"}
                  %i.fa.fa-linkedin-square
                %a.social-button{:href => "#"}
                  %i.fa.fa-facebook-square
        .col-sm-12.no-padding
          - if @course.user.instructor_profile.description.count > 0
            - @course.user.instructor_profile.description.each do |i|
              %h5.normal-text= i
      .row.no-margin.rating
        .col-sm-12.no-padding
          %h4.normal-text.rating-text
            %b Đánh giá
        .col-sm-12.no-padding
          %h1.rating-point.no-margin 4.2
        .col-sm-12.no-padding
          .col-sm-2.course-rating-point.no-padding
            - (1..5).each do |i|
              - if i <= @course.average_rating
                %i.fa.fa-star.is-rated 
              - else
                %i.fa.fa-star
          .col-sm-10.no-padding 
            %h5.normal-text.course-rating-people.no-margin.left-align
              = @course.reviews.count.to_s + ' đánh giá' 
        .col-sm-12.no-padding
          %h5.normal-text Chi tiết
        - (1..5).each do |i|
          .row.no-margin
            .col-sm-1.no-padding
              %h5.normal-text 5 sao
            .col-sm-4
              .progress.progress-striped.active
                .progress-bar{:style => "width: 60%;"}
            .col-sm-2.no-padding
              %h5.normal-text
                %b 3174
      .divider
      / - @course.reviews.where(:title.nin => [nil, ""]).each do |rv|
      - (1..2).each do |i|
        .row.no-margin.discussion
          .col-sm-12.no-padding
            .row.no-margin.discussion-top
              .col-sm-1.no-padding
                %img{:alt => "", :src => "https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/11215086_842526002451006_5806294280552896279_n.jpg?oh=d263a8b13e1acc3653665552644a4a9f&oe=567FABBD&__gda__=1449843809_7ba9384e162348fc09bdceb5410a8ddc", :style => "width: 70px; border-radius: 50%"}
              .col-sm-10
                .row.no-margin
                  .col-sm-12
                    %h5.normal-text.no-margin
                      %b Jasmine Maddox
                .row.no-margin
                  .col-sm-12
                    %h5.normal-text 2 ngày trước
                .row.no-margin
                  .col-sm-12.course-rating-point
                    - (1..5).each do |i|
                      - if i <= @course.average_rating
                        %i.fa.fa-star.is-rated 
                      - else
                        %i.fa.fa-star
            .row.no-margin
              .col-sm-12.no-padding
                %h5.normal-text
                  %b Just what I needed.
              .col-sm-12.no-padding
                %h5.normal-text{:style => "line-height: 20px;"} I loved how the course goes through the basic admin panel functions to show you how to set up a WordPress site. It is very clear, concise and does not assume the student will have any coding knowledge or ability.
        .divider
      .row.no-margin
        .col-sm-12.no-padding
          %a.link-text{:href => "#"}
            %h5.link-text.normal-text Xem thêm các bình luận khác
/ Màn hình từ 992px trở lên
.row.no-margin.hidden-xs.hidden-sm.hidden-lg
  .header
    = render :partial => 'components/header/index' 
  %main.detail
    .container{:style => "background-color: #fff"}
      .row.no-margin
        .col-md-12.no-padding
          %h4.no-margin.detail-course-title-big
            %b= @course.name
      .row.no-margin
        .col-md-12.no-padding
          %h5.no-margin.normal-text.sub_title
            = @course.sub_title
      .row.no-margin.course-rating
        .col-md-12.no-padding
          .col-md-2.no-padding.course-rating-point
            - (1..5).each do |i|
              - if i <= @course.average_rating
                %i.fa.fa-star.is-rated 
              - else
                %i.fa.fa-star
          .col-md-10.course-rating-people.no-padding 
            %h5.normal-text.no-margin.left-align
              = @course.reviews.count.to_s + ' đánh giá, ' + @course.students.to_s + ' người tham gia'
      .row.no-margin
        .col-md-12.no-padding.normal-text
          - if @course.user
            Giảng dạy bởi 
            %a.link-text.normal-text{:href => "#"}= @course.user.name
          - else
            %a.link-text.normal-text{:href => "#"} Tudemy
      .row.no-margin
        .col-md-12.no-padding.no-padding.author-information
          %h5.normal-text.link-text Design  /  User Experience
      .row.no-margin
        .col-md-7.no-padding
          .video-container.no-controls
            - if @course.intro_link && @course.intro_link != ''
              - if @course.intro_link['v=']
                - @indexStart = @course.intro_link.index('v=') + 2
                - if @course.intro_link['&']
                  - @indexEnd = @course.intro_link.index('&')-1
                  - @youtube_id = @course.intro_link[@indexStart..@indexEnd] 
                - else
                  - @indexEnd = @course.intro_link.length
                  - @youtube_id =  @course.intro_link[@indexStart..@indexEnd]
              - elsif @course.intro_link['youtu.be']
                - pattern = /youtu.be\/(.*)\?/
                - @youtube_id = pattern.match(@course.intro_link)[1]
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "340", :src => 'https://www.youtube.com/embed/'+@youtube_id + '?modestbranding=0&amp;rel=0&amp;showinfo=0', :width => "100%"}
            - elsif @course.image && @course.image != ''
              = image_tag @course.image, :style => 'width: 100%'
            - else
              = image_tag 'course-image-intro.png', :style => 'width: 100%'
        .col-md-5
          .row.no-margin
            .col-md-12.no-padding
              - if @course.price == 0
                %h3.course-price.free.no-margin Miễn phí
              - else
                %h3.course-price.no-margin{:style => 'margin: 0'}= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
          .row.no-margin
            .col-md-12.no-padding
              - if !current_user.blank?
                - if !@owned_course.blank?
                  - if @owned_course.payment_status == 'pending'
                    - if @payment.method == 'cod'
                      .col-md-3.no-padding
                        %input.form-control{:placeholder => "Nhập mã COD tại đây", :type => "text"}
                    .col-md-6.no-padding
                      %a.btn.btn-raised.btn-lg.pending-button Kích hoạt mã COD
                    .col-md-6
                      %a.btn.btn-raised.btn-lg.favorite-button 
                        %i.mdi-action-favorite
                        %span Ưa thích 
                  - else
                    .col-md-6.no-padding
                      %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"} Mua khóa học này
                    .col-md-6
                      %a.btn.btn-raised.btn-lg.favorite-button.no-text 
                        %i.mdi-action-favorite
                    .col-md-12.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Nhập mã khuyến mãi
                    .col-md-12.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Học thử miễn phí
                    .col-md-12.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Góp ý
                - else
                  - if @course.price == 0
                    .col-md-6.no-padding
                      %a.btn.btn-info.btn-raised.btn-lg.learning-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                        Bắt đầu học ngay
                    .col-md-6
                      %a.btn.btn-raised.btn-lg.favorite-button 
                        %i.mdi-action-favorite
                        %span Ưa thích 
                  - else 
                    .col-md-6.no-padding
                      %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                        Mua khóa học
                    .col-md-6
                      %a.btn.btn-raised.btn-lg.favorite-button 
                        %i.mdi-action-favorite
                        %span Ưa thích 
                    .col-md-12.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Nhập mã khuyến mãi
                    .col-md-12.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Học thử miễn phí
                    .col-md-12.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Góp ý
              - else
                - if @course.price == 0
                  .col-md-6.no-padding
                    %a.btn.btn-info.btn-raised.btn-lg.learning-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                      Bắt đầu học ngay
                  .col-md-6
                    %a.btn.btn-raised.btn-lg.favorite-button 
                      %i.mdi-action-favorite
                      %span Ưa thích 
                - else 
                  .col-md-6.no-padding
                    %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                      Mua khóa học
                  .col-md-6
                    %a.btn.btn-raised.btn-lg.favorite-button 
                      %i.mdi-action-favorite
                      %span Ưa thích 
                  .col-md-12.no-padding
                    %a.link-text{:href => ""}
                      %h5.normal-text.link-text Nhập mã khuyến mãi
                  .col-md-12.no-padding
                    %a.link-text{:href => ""}
                      %h5.normal-text.link-text Học thử miễn phí
                  .col-md-12.no-padding
                    %a.link-text{:href => ""}
                      %h5.normal-text.link-text Góp ý
          .divider
          .row.no-margin
            .col-md-4.no-padding
              %h5.normal-text.course-author
                Số lượng bài giảng
            .col-md-8
              %h5.normal-text
                %b= @course.curriculums.where(:type => 'lecture').count
          .row.no-margin
            .col-md-4.no-padding
              %h5.normal-text.course-author
                Thời lượng video
            .col-md-8
              %h5.normal-text
                %b
                  - time = 0
                  - @course.curriculums.each do |curi|
                    - if curi.type == 'lecture' && curi.asset_type == 'Video'
                      - time += curi.description.to_i
                  - if time > 60
                    = (time/60).to_s + 'h'
                  - else
                    = '1h'
          .row.no-margin
            .col-md-4.no-padding
              %h5.normal-text.course-author
                Trình độ
            .col-md-8
              %h5.normal-text{:style => 'text-transform: capitalize'}
                %b= Course::Localization::LEVELS[@course.level.to_sym][I18n.default_locale]
          .row.no-margin
            .col-md-4.no-padding
              %h5.normal-text.course-author
                Ngôn ngữ
            .col-md-8
              %h5.normal-text 
                %b= Course::Localization::LANGUAGE[@course.lang.to_sym][I18n.default_locale]
    .divider
    .container
      .row.no-margin
        .col-md-8.no-padding
          .row.no-margin.description
            .col-md-12.no-padding
              %h4.no-margin
                %b Mô tả về khóa học  
            .col-md-12.no-padding
              %h5.normal-text{:style => "line-height: 24px"} Work Alongside Me to Create & Operate Your Website Right Now. Never created a website before? Perfect. This course was created for you. Entrepreneurs and creatives like you are unique. You constantly have new ideas that will change the world. But sometimes... technology gets in the way.  
            .col-md-12.no-padding
              %a.link-text{:href => "#"}
                %b Xem chi tiết
          .row.no-margin
            .col-md-12.no-padding
              %h4
                %b Giáo trình
          .divider
          .row.no-margin.curiculums
            .col-md-12.no-padding
              - @course.curriculums.each do |curi|
                .row.no-margin.curiculum
                  .col-md-12.no-padding
                    - if(curi.type == 'chapter')
                      .row.no-margin.curiculum-title
                        %a.normal-text{:href => "#", :style => "pointer-events: none; margin: 15px 0"}
                          %b #{curi.title}
                      .divider
                    - else
                      .row.no-margin.curiculum-list
                        .col-md-12.no-padding
                          .row.no-margin.curiculum-content
                            .col-md-1
                              - if curi.asset_type == "Video"
                                %i.fa.fa-play-circle
                              - else
                                %i.fa.fa-file
                            .col-md-2
                              %h5.normal-text.no-margin= 'Bài số ' + (curi.lecture_index + 1 ).to_s
                            .col-md-7.no-padding
                              %h5.normal-text.no-margin #{curi.title}
                            .col-md-2.no-padding
                              %h5.normal-text
                                %b 2:09
          .row.no-margin.author
            .col-md-12.no-padding
              %h4
                %b Tiểu sử tác giả
            .col-md-12.no-padding
              .row.no-margin
                .col-md-2.no-padding
                  - if !@course.user.avatar.blank?
                    = image_tag 'http://tudemy.vn' + @course.user.avatar, :style => "width: 100%"
                  - else
                    = image_tag 'default-avatar.png', :style => "width: 100%"
                .col-md-7
                  .row.no-margin
                    %h5.normal-text
                    - if @course.user
                      - if @course.user.instructor_profile
                        %span= @course.user.instructor_profile.academic_rank
                      %a.link-text{:href => "#!"}= @course.user.name
                    - else 
                      %a.link-text{:href => "#!"} Tudemy
                  - if !@course.user.instructor_profile.function.blank?
                    .row.no-margin
                      .col-md-12.no-padding
                        %h5.normal-text= 'Nghề nghiệp: ' + @course.user.instructor_profile.function
                  - if !@course.user.instructor_profile.work_unit.blank?
                    .row.no-margin
                      .col-md-12.no-padding
                        %h5.normal-text= 'Đơn vị công tác: ' + @course.user.instructor_profile.work_unit
                  .row.no-margin
                    .col-md-1.no-padding
                      %a.social-button{:href => "#"}
                        %i.fa.fa-linkedin-square
                    .col-md-1.no-padding
                      %a.social-button{:href => "#"}
                        %i.fa.fa-facebook-square
            .col-md-12.no-padding
              - if @course.user.instructor_profile.description.count > 0
                - @course.user.instructor_profile.description.each do |i|
                  %h5.normal-text= i
          .row.no-margin.rating
            .col-md-12.no-padding
              %h4.normal-text
                %b Đánh giá
            .col-md-12.no-padding
              %h1.rating-point.no-margin 4.2
            .col-md-12.no-padding
              .col-md-4.course-rating-point.no-padding
                - (1..5).each do |i|
                  - if i <= @course.average_rating
                    %i.fa.fa-star.is-rated 
                  - else
                    %i.fa.fa-star
              .col-md-7.no-padding 
                %h5.normal-text.course-rating-people.no-margin.left-align
                  = @course.reviews.count.to_s + ' đánh giá' 
            .col-md-12.no-padding
              %h5.normal-text Chi tiết
            - (1..5).each do |i|
              .row.no-margin
                .col-md-1.no-padding
                  %h5.normal-text 5 sao
                .col-md-6
                  .progress.progress-striped.active
                    .progress-bar{:style => "width: 60%;"}
                .col-md-2.no-padding
                  %h5.normal-text
                    %b 3174
          .divider
          / - @course.reviews.where(:title.nin => [nil, ""]).each do |rv|
          - (1..2).each do |i|
            .row.no-margin.discussion
              .col-md-12.no-padding
                .row.no-margin.discussion-top
                  .col-md-2.no-padding
                    %img{:alt => "", :src => "https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/11215086_842526002451006_5806294280552896279_n.jpg?oh=d263a8b13e1acc3653665552644a4a9f&oe=567FABBD&__gda__=1449843809_7ba9384e162348fc09bdceb5410a8ddc", :style => "width: 70px; border-radius: 50%"}
                  .col-md-10
                    .row.no-margin
                      .col-md-12
                        %h5.normal-text.no-margin
                          %b Jasmine Maddox
                    .row.no-margin
                      .col-md-12
                        %h5.normal-text 2 ngày trước
                    .row.no-margin
                      .col-md-12.course-rating-point
                        - (1..5).each do |i|
                          - if i <= @course.average_rating
                            %i.fa.fa-star.is-rated 
                          - else
                            %i.fa.fa-star
                .row.no-margin
                  .col-md-12.no-padding
                    %h5.normal-text
                      %b Just what I needed.
                  .col-md-12.no-padding
                    %h5.normal-text{:style => "line-height: 20px;"} I loved how the course goes through the basic admin panel functions to show you how to set up a WordPress site. It is very clear, concise and does not assume the student will have any coding knowledge or ability.
            .divider
          .row.no-margin
            .col-md-12.no-padding
              %a.link-text{:href => "#"}
                %h5.link-text.normal-text Xem thêm các bình luận khác
        .col-md-4
          - if @courses['related'].last.count > 0    
            .row.no-margin
              .col-md-12.no-padding
                %h4.normal-text
                  %b= @courses['related'].first
            .row.no-margin.related-box
              .col-md-12.no-padding.related-content
                - (1..3).each do
                  / - @courses['related'].last.each do |relate|
                  = render :partial => 'components/courses/list_card'  
/ Màn hình từ 1200px trở lên
.row.no-margin.hidden-xs.hidden-sm.hidden-md
  .header
    = render :partial => 'components/header/index' 
  %main.detail
    .container{:style => "background-color: #fff"}
      .row.no-margin
        .col-lg-12.no-padding
          %h4.no-margin.detail-course-title-big
            %b= @course.name
      .row.no-margin
        .col-lg-12.no-padding
          %h5.no-margin.normal-text.sub_title
            = @course.sub_title
      .row.no-margin.course-rating
        .col-lg-12.no-padding
          .col-lg-2.no-padding.course-rating-point
            - (1..5).each do |i|
              - if i <= @course.average_rating
                %i.fa.fa-star.is-rated 
              - else
                %i.fa.fa-star
          .col-lg-10.course-rating-people.no-padding 
            %h5.normal-text.no-margin.left-align
              = @course.reviews.count.to_s + ' đánh giá, ' + @course.students.to_s + ' người tham gia'
      .row.no-margin
        .col-lg-12.no-padding.normal-text
          - if @course.user
            Giảng dạy bởi 
            %a.link-text.normal-text{:href => "#"}= @course.user.name
          - else
            %a.link-text.normal-text{:href => "#"} Tudemy
      .row.no-margin
        .col-lg-12.no-padding.no-padding.author-information
          %h5.normal-text.link-text Design  /  User Experience
      .row.no-margin
        .col-lg-7.no-padding
          .video-container.no-controls
            - if @course.intro_link && @course.intro_link != ''
              - if @course.intro_link['v=']
                - @indexStart = @course.intro_link.index('v=') + 2
                - if @course.intro_link['&']
                  - @indexEnd = @course.intro_link.index('&')-1
                  - @youtube_id = @course.intro_link[@indexStart..@indexEnd] 
                - else
                  - @indexEnd = @course.intro_link.length
                  - @youtube_id =  @course.intro_link[@indexStart..@indexEnd]
              - elsif @course.intro_link['youtu.be']
                - pattern = /youtu.be\/(.*)\?/
                - @youtube_id = pattern.match(@course.intro_link)[1]
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "340", :src => 'https://www.youtube.com/embed/'+@youtube_id + '?modestbranding=0&amp;rel=0&amp;showinfo=0', :width => "100%"}
            - elsif @course.image && @course.image != ''
              = image_tag @course.image, :style => 'width: 100%'
            - else
              = image_tag 'course-image-intro.png', :style => 'width: 100%'
        .col-lg-5
          .row.no-margin
            .col-lg-12.no-padding
              - if @course.price == 0
                %h3.course-price.free.no-margin Miễn phí
              - else
                %h3.course-price.no-margin{:style => 'margin: 0'}= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
          .row.no-margin
            .col-lg-12.no-padding
              - if !current_user.blank?
                - if !@owned_course.blank?
                  - if @owned_course.payment_status == 'pending'
                    - if @payment.method == 'cod'
                      .col-lg-3.no-padding
                        %input.form-control{:placeholder => "Nhập mã COD tại đây", :type => "text"}
                    .col-lg-6.no-padding
                      %a.btn.btn-raised.btn-lg.pending-button Kích hoạt mã COD
                    .col-lg-6
                      %a.btn.btn-raised.btn-lg.favorite-button 
                        %i.lgi-action-favorite
                        %span Ưa thích 
                  - else
                    .col-lg-6.no-padding
                      %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"} Mua khóa học này
                    .col-lg-6
                      %a.btn.btn-raised.btn-lg.favorite-button.no-text 
                        %i.lgi-action-favorite
                    .col-lg-12.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Nhập mã khuyến mãi
                    .col-lg-12.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Học thử miễn phí
                    .col-lg-12.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Góp ý
                - else
                  - if @course.price == 0
                    .col-lg-6.no-padding
                      %a.btn.btn-info.btn-raised.btn-lg.learning-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                        Bắt đầu học ngay
                    .col-lg-6
                      %a.btn.btn-raised.btn-lg.favorite-button 
                        %i.lgi-action-favorite
                        %span Ưa thích 
                  - else 
                    .col-lg-6.no-padding
                      %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                        Mua khóa học
                    .col-lg-6
                      %a.btn.btn-raised.btn-lg.favorite-button 
                        %i.lgi-action-favorite
                        %span Ưa thích 
                    .col-lg-12.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Nhập mã khuyến mãi
                    .col-lg-12.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Học thử miễn phí
                    .col-lg-12.no-padding
                      %a.link-text{:href => ""}
                        %h5.normal-text.link-text Góp ý
              - else
                - if @course.price == 0
                  .col-lg-6.no-padding
                    %a.btn.btn-info.btn-raised.btn-lg.learning-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                      Bắt đầu học ngay
                  .col-lg-6
                    %a.btn.btn-raised.btn-lg.favorite-button 
                      %i.lgi-action-favorite
                      %span Ưa thích 
                - else 
                  .col-lg-6.no-padding
                    %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                      Mua khóa học
                  .col-lg-6
                    %a.btn.btn-raised.btn-lg.favorite-button 
                      %i.lgi-action-favorite
                      %span Ưa thích 
                  .col-lg-12.no-padding
                    %a.link-text{:href => ""}
                      %h5.normal-text.link-text Nhập mã khuyến mãi
                  .col-lg-12.no-padding
                    %a.link-text{:href => ""}
                      %h5.normal-text.link-text Học thử miễn phí
                  .col-lg-12.no-padding
                    %a.link-text{:href => ""}
                      %h5.normal-text.link-text Góp ý
          .divider
          .row.no-margin
            .col-lg-4.no-padding
              %h5.normal-text.course-author
                Số lượng bài giảng
            .col-lg-8
              %h5.normal-text
                %b= @course.curriculums.where(:type => 'lecture').count
          .row.no-margin
            .col-lg-4.no-padding
              %h5.normal-text.course-author
                Thời lượng video
            .col-lg-8
              %h5.normal-text
                %b
                  - time = 0
                  - @course.curriculums.each do |curi|
                    - if curi.type == 'lecture' && curi.asset_type == 'Video'
                      - time += curi.description.to_i
                  - if time > 60
                    = (time/60).to_s + 'h'
                  - else
                    = '1h'
          .row.no-margin
            .col-lg-4.no-padding
              %h5.normal-text.course-author
                Trình độ
            .col-lg-8
              %h5.normal-text{:style => 'text-transform: capitalize'}
                %b= Course::Localization::LEVELS[@course.level.to_sym][I18n.default_locale]
          .row.no-margin
            .col-lg-4.no-padding
              %h5.normal-text.course-author
                Ngôn ngữ
            .col-lg-8
              %h5.normal-text 
                %b= Course::Localization::LANGUAGE[@course.lang.to_sym][I18n.default_locale]
    .row.no-margin.menu-fixed
      .container
        %ul.nav.nav-pills
          %li.active
            %a{:href => "#description"} Mô tả chi tiết
          %li
            %a{:href => "#curiculums"} Giáo trình
          %li
            %a{:href => "#author"} Giảng viên
          %li
            %a{:href => "#rating"} Đánh giá
    .divider
    .container
      .row.no-margin
        .col-lg-8.no-padding
          .row.no-margin.description#description
            .col-lg-12.no-padding
              %h4.no-margin
                %b Mô tả về khóa học  
            .col-lg-12.no-padding
              %h5.normal-text{:style => "line-height: 24px"} Work Alongside Me to Create & Operate Your Website Right Now. Never created a website before? Perfect. This course was created for you. Entrepreneurs and creatives like you are unique. You constantly have new ideas that will change the world. But sometimes... technology gets in the way.  
            .col-lg-12.no-padding
              %a.link-text{:href => "#"}
                %b Xem chi tiết
          .row.no-margin
            .col-lg-12.no-padding
              %h4
                %b Giáo trình
          .divider
          .row.no-margin.curiculums#curiculums
            .col-lg-12.no-padding
              - @course.curriculums.each do |curi|
                .row.no-margin.curiculum
                  .col-lg-12.no-padding
                    - if(curi.type == 'chapter')
                      .row.no-margin.curiculum-title
                        %a.normal-text{:href => "#", :style => "pointer-events: none; margin: 15px 0"}
                          %b #{curi.title}
                      .divider
                    - else
                      .row.no-margin.curiculum-list
                        .col-lg-12.no-padding
                          .row.no-margin.curiculum-content
                            .col-lg-1
                              - if curi.asset_type == "Video"
                                %i.fa.fa-play-circle
                              - else
                                %i.fa.fa-file
                            .col-lg-2
                              %h5.normal-text.no-margin= 'Bài số ' + (curi.lecture_index + 1 ).to_s
                            .col-lg-7.no-padding
                              %h5.normal-text.no-margin #{curi.title}
                            .col-lg-2.no-padding
                              %h5.normal-text
                                %b 2:09
          .row.no-margin.author#author
            .col-lg-12.no-padding
              %h4
                %b Tiểu sử tác giả
            .col-lg-12.no-padding
              .row.no-margin
                .col-lg-2.no-padding
                  - if !@course.user.avatar.blank?
                    = image_tag 'http://tudemy.vn' + @course.user.avatar, :style => "width: 100%"
                  - else
                    = image_tag 'default-avatar.png', :style => "width: 100%"
                .col-lg-7
                  .row.no-margin
                    %h5.normal-text
                    - if @course.user
                      - if @course.user.instructor_profile
                        %span= @course.user.instructor_profile.academic_rank
                      %a.link-text{:href => "#!"}= @course.user.name
                    - else 
                      %a.link-text{:href => "#!"} Tudemy
                  - if !@course.user.instructor_profile.function.blank?
                    .row.no-margin
                      .col-lg-12.no-padding
                        %h5.normal-text= 'Nghề nghiệp: ' + @course.user.instructor_profile.function
                  - if !@course.user.instructor_profile.work_unit.blank?
                    .row.no-margin
                      .col-lg-12.no-padding
                        %h5.normal-text= 'Đơn vị công tác: ' + @course.user.instructor_profile.work_unit
                  .row.no-margin
                    .col-lg-1.no-padding
                      %a.social-button{:href => "#"}
                        %i.fa.fa-linkedin-square
                    .col-lg-1.no-padding
                      %a.social-button{:href => "#"}
                        %i.fa.fa-facebook-square
            .col-lg-12.no-padding
              - if @course.user.instructor_profile.description.count > 0
                - @course.user.instructor_profile.description.each do |i|
                  %h5.normal-text= i
          .row.no-margin.rating#rating
            .col-lg-12.no-padding
              %h4.normal-text
                %b Đánh giá
            .col-lg-12.no-padding
              %h1.rating-point.no-margin 4.2
            .col-lg-12.no-padding
              .col-lg-4.course-rating-point.no-padding
                - (1..5).each do |i|
                  - if i <= @course.average_rating
                    %i.fa.fa-star.is-rated 
                  - else
                    %i.fa.fa-star
              .col-lg-7.no-padding 
                %h5.normal-text.course-rating-people.no-margin.left-align
                  = @course.reviews.count.to_s + ' đánh giá' 
            .col-lg-12.no-padding
              %h5.normal-text Chi tiết
            - (1..5).each do |i|
              .row.no-margin
                .col-lg-1.no-padding
                  %h5.normal-text 5 sao
                .col-lg-6
                  .progress.progress-striped.active
                    .progress-bar{:style => "width: 60%;"}
                .col-lg-2.no-padding
                  %h5.normal-text
                    %b 3174
          .divider
          / - @course.reviews.where(:title.nin => [nil, ""]).each do |rv|
          - (1..2).each do |i|
            .row.no-margin.discussion
              .col-lg-12.no-padding
                .row.no-margin.discussion-top
                  .col-lg-2.no-padding
                    %img{:alt => "", :src => "https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/11215086_842526002451006_5806294280552896279_n.jpg?oh=d263a8b13e1acc3653665552644a4a9f&oe=567FABBD&__gda__=1449843809_7ba9384e162348fc09bdceb5410a8ddc", :style => "width: 70px; border-radius: 50%"}
                  .col-lg-10
                    .row.no-margin
                      .col-lg-12
                        %h5.normal-text.no-margin
                          %b Jasmine Maddox
                    .row.no-margin
                      .col-lg-12
                        %h5.normal-text 2 ngày trước
                    .row.no-margin
                      .col-lg-12.course-rating-point
                        - (1..5).each do |i|
                          - if i <= @course.average_rating
                            %i.fa.fa-star.is-rated 
                          - else
                            %i.fa.fa-star
                .row.no-margin
                  .col-lg-12.no-padding
                    %h5.normal-text
                      %b Just what I needed.
                  .col-lg-12.no-padding
                    %h5.normal-text{:style => "line-height: 20px;"} I loved how the course goes through the basic admin panel functions to show you how to set up a WordPress site. It is very clear, concise and does not assume the student will have any coding knowledge or ability.
            .divider
          .row.no-margin
            .col-lg-12.no-padding
              %a.link-text{:href => "#"}
                %h5.link-text.normal-text Xem thêm các bình luận khác
        .col-lg-4
          - if @courses['related'].last.count > 0    
            .row.no-margin
              .col-lg-12.no-padding
                %h4.normal-text
                  %b= @courses['related'].first
            .row.no-margin.related-box
              .col-lg-12.no-padding.related-content
                - (1..3).each do
                  / - @courses['related'].last.each do |relate|
                  = render :partial => 'components/courses/list_card'                    