/ Màn hình từ 320px
.payment-320
  .header
    = render :partial => 'components/header/index'
  %main.detail
    .container
      .row.no-margin
        .col-xs-12.no-padding
          %h4.no-margin.course-title
            = @course.name
      .row.no-margin
        %h5.no-margin.normal-text
          = @course.sub_title
      .row.no-margin.course-rating
        .col-xs-12.no-padding
          .col-xs-5.course-rating-point.no-padding
            - (1..5).each do |i|
              - if i <= @course.average_rating
                %i.fa.fa-star.is-rated 
              - else
                %i.fa.fa-star
          .col-xs-7.course-rating-people.no-padding 
            %h5.normal-text.no-margin.right-align
              = @course.reviews.count.to_s + ' đánh giá, ' + @course.students.to_s + ' người tham gia'
      .row.no-margin
        .col-xs-12.no-padding.normal-text
          - if @course.user
            Giảng dạy bởi 
            %a.link-text.normal-text{:href => "#"}= @course.user.name
          - else
            %a.link-text.normal-text{:href => "#"} Tudemy
      .row.no-margin
        .col-xs-12.no-padding.author-information
          %h5.normal-text.link-text Design  /  User Experience
      .row.no-margin
        .col-xs-12.no-padding
          .video-container.no-controls
            - if @course.intro_link && @course.intro_link != ''
              - if @course.intro_link['v=']
                - @indexStart = @course.intro_link.index('v=') + 2
                - if @course.intro_link['&']
                  - @indexEnd = @course.intro_link.index('&')-1
                  - @youtube_id = @course.intro_link[@indexStart..@indexEnd] 
                - else
                  - @indexEnd = @course.intro_link.length
                  - @youtube_id =  @course.intro_link[@indexStart..@indexEnd]
              - elsif @course.intro_link['youtu.be']
                - pattern = /youtu.be\/(.*)\?/
                - @youtube_id = pattern.match(@course.intro_link)[1]
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "190", :src => 'https://www.youtube.com/embed/'+@youtube_id + '?modestbranding=0&amp;rel=0&amp;showinfo=0', :width => "100%"}
            - elsif @course.image && @course.image != ''
              = image_tag @course.image, :style => 'width: 100%'
            - else
              = image_tag 'course-image-intro.png', :style => 'width: 100%'
      .row.no-margin
        .col-xs-12.no-padding
          - if @course.price == 0
            %h3.course-price.free.no-margin Miễn phí
          - else
            - if @course.old_price == 0
              %h3.course-price.no-margin{:style => 'margin: 0'}= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
      .row.no-margin
        - if !current_user.blank?
          - if !@owned_course.blank?
            - if @owned_course.payment_status == 'pending'
              - if @payment.method == 'cod'
                .col.xs-12.nopadding
                  %input.form-control{:placeholder => "Nhập mã COD tại đây", :type => "text"}
              .col-xs-12.no-padding
                %a.btn.btn-raised.btn-lg.pending-button Kích hoạt mã COD
            - else
              .col-xs-12.no-padding
                %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"} Mua khóa học này
          - else
            - if @course.price == 0
              %a.btn.btn-info.btn-raised.btn-lg.learning-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                Bắt đầu học ngay
            - else 
              %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
                Mua khóa học
        - else
          - if @course.price == 0
            %a.btn.btn-info.btn-raised.btn-lg.learning-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
              Bắt đầu học ngay
          - else 
            %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=learnning"}
              Mua khóa học

/ Màn hình từ 480px đến 767px         
.payment-480-up.hidden-sm.hidden-md.hidden-lg
  .header
    = render :partial => 'components/header/index'
  
/ Màn hình từ 768px trở lên   
.row.no-margin
  .header.hidden-xs
    = render :partial => 'components/header/index' 
  