/ Header
= render :partial => 'components/header/default'
/ - Detail 

/ + Banner
.container-wrapper.detail{:style => "overflow: hidden;"}
  .banner
    = render :partial => "components/banner/banner"

  / + Get user and course information
  %input.course_id{:type => "hidden", :value => "#{@course._id}"}
  %input.course_name{:type => "hidden", :value => "#{@course.name}"}
  - if !current_user.blank?
    %input.user_id{:type => "hidden", :value => "#{current_user._id}"}
    %input.user_email{:type => "hidden", :value => "#{current_user.email}"}

  / + Support form
  .support-form
    .tele-sales.show-form
      %i.fa.fa-play-circle
      Bạn cần thêm thông tin?
    .tele-sales-extend
      .tele-sales-top.hide-form
        %i.fa.fa-play-circle
        Bạn cần thêm thông tin?
      .tele-sales-content
        %h5 Vui lòng để lại thông tin cá nhân. Chúng tôi sẽ liên hệ trực tiếp.
        %form
          %input.form-control.name-input{:type => "text", :placeholder => "Tên đầy đủ"}
          %input.form-control.mobile-input{:type => "text", :placeholder => "Số điện thoại"}
          %a.btn.btn-success.send-form-support{} Gửi đi
      .tele-sales-content.success
        %h5 Bạn đã gửi thông tin thành công. Pedia sẽ liên hệ với bạn trong thời gian sớm nhất. Cảm ơn sự quan tâm của bạn.
      .tele-sales-bottom
        %span Hotline: 
        = succeed "" do
          %b 0961215368

  / + Report modal 
  #complete-dialog.modal.fade{:tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title Góp ý 
        .modal-body
          %form
            %textarea.form-control.txt-report-content{:placeholder => "Hãy thêm chi tiết (bắt buộc )"}
        .modal-footer
          %button.btn.btn-primary.btn-submit-report{"data-dismiss" => "modal"} Gửi
          %button.btn{"data-dismiss" => "modal"} Đóng

  / Menu fix
  .row.no-margin.menu-fixed{:style => 'border-bottom:1px solid #cccccc'}
    .container
      %ul.nav.nav-pills
        %li.active
          %a{:href => "#description"} Mô tả chi tiết
        %li
          %a{:href => "#curiculums"} Giáo trình
        %li
          %a{:href => "#author"} Giảng viên
        %li
          %a{:href => "#rating"} Đánh giá
      %ul.menu-fixed-right
        %li
          - if @course.price == 0
            %a.btn.btn-info.btn-raised.btn-lg.learning-button{:href => help_build_buying_course_url(@sale_info, @course),:style => 'padding:5px 15px'}
              Bắt đầu học ngay
          - else 
            %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => help_build_buying_course_url(@sale_info, @course),:style => 'padding:5px 15px'}
              Mua khóa học
        %li
          - if @course.price == 0
            %h3.course-price-text.free Miễn phí
          - else
            %h3.course-price-text.no-margin{:style => 'margin: 0'}= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")

  / + Detail content
  .detail
    .detail-top
      .course-title= @course.name
      .sub-title= @course.sub_title
      .course-rating
        .course-rating-point
          - (1..5).each do |i|
            - if i <= @course.average_rating
              %i.fa.fa-star.is-rated 
            - else
              %i.fa.fa-star
        .course-rating-people= @course.reviews.count.to_s + ' đánh giá, ' + @course.students.to_s + ' người tham gia'
      .course-author
        - if @course.user
          Giảng dạy bởi 
          %a.link-text.normal-text= @course.user.name
        - else
          %a.link-text.normal-text{:href => "#"} Pedia
      .course-detail
        .course-player
          .video-container.no-controls
            - if @course.intro_link && @course.intro_link != ''
              - if @course.intro_link['v=']
                - @indexStart = @course.intro_link.index('v=') + 2
                - if @course.intro_link['&']
                  - @indexEnd = @course.intro_link.index('&')-1
                  - @youtube_id = @course.intro_link[@indexStart..@indexEnd] 
                - else
                  - @indexEnd = @course.intro_link.length
                  - @youtube_id =  @course.intro_link[@indexStart..@indexEnd]
              - elsif @course.intro_link['youtu.be']
                - pattern = /youtu.be\/(.*)\?/
                - @youtube_id = pattern.match(@course.intro_link)[1]
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "190", :src => 'https://www.youtube.com/embed/'+@youtube_id + '?modestbranding=0&amp;rel=0&amp;showinfo=0', :width => "100%"}
            - elsif @course.image && @course.image != ''
              = image_tag @course.image, :style => 'width: 100%'
            - else
              = image_tag 'course-image-intro.png', :style => 'width: 100%'
    .detail-bottom
      .bottom-left
        .description
          .description-title Mô tả về khóa học  
          .description-content
            = render 'detail_description', method: 'detail'
        .curiculums
          .curiculums-title Giáo trình
          - @course.curriculums.each do |curi|
            .curiculum
              - if(curi.type == 'chapter')
                .row.no-margin.curiculum-title{:style => 'border-bottom:1px solid #cccccc'}
                  %a.normal-text{:href => "#", :style => "pointer-events: none; margin: 15px 0"}
                    %b #{curi.title}
              - else
                .row.no-margin.curiculum-list
                  .col-xs-12.no-padding
                    .row.no-margin.curiculum-content
                      .col-xs-12
                        .detail-curi-type.pull-left{:style => 'margin-right:10px'}
                          - if curi.asset_type == "Video"
                            %i.fa.fa-play-circle
                          - else
                            %i.fa.fa-file
                        .detail-curi-lecture.pull-left{:style => 'margin-right:25px;width:60px'}
                          %h5.normal-text.no-margin{:style => 'line-height:1.5'}= 'Bài số ' + (curi.lecture_index + 1 ).to_s
                        .detail-curi-title.pull-left{:style => 'width:130px'}
                          %h5.normal-text.no-margin{:style => 'line-height:1.5'} #{curi.title}
                        - if curi.asset_type == "Video" && curi.previewable
                          .detail-curi-leacture.pull-left
                            %a.btn.btn-primary.preview-button{:onclick => "let_me_preview_this_video('#{help_get_youtube_url(curi)}');"}
                              %b Xem thử
        .author
          .author-title Tiểu sử tác giả
          .author-content
            .author-avatar
              - if !@course.user.avatar.blank?
                = image_tag @course.user.avatar, :style => "width: 100%"
              - else
                = image_tag 'default-avatar.png', :style => "width: 100%"
            .author-description
              .row.no-margin
                %h5.normal-text.no-margin
                - if @course.user
                  - if @course.user.instructor_profile
                    %span= @course.user.instructor_profile.academic_rank
                  %a.link-text{:href => "#!"}= @course.user.name
                - else 
                  %a.link-text{:href => "#!"} Pedia
              - if !@course.user.instructor_profile.function.blank?
                .row.no-margin
                  .col-xs-12.no-padding
                    %h5.normal-text= 'Nghề nghiệp: ' + @course.user.instructor_profile.function
              - if !@course.user.instructor_profile.work_unit.blank?
                .row.no-margin
                  .col-xs-12.no-padding
                    %h5.normal-text= 'Đơn vị công tác: ' + @course.user.instructor_profile.work_unit
              .row.no-margin
                %a.social-button{:href => "#"}
                  %i.fa.fa-linkedin-square
                %a.social-button{:href => "#"}
                  %i.fa.fa-facebook-square
          .author-information
            - if @course.user.instructor_profile.description.count > 0
              - @course.user.instructor_profile.description.each do |i|
                %h5.information-text= i  
        .rating
          .rating-title Đánh giá
          .rating-point= @course.average_rating
          .course-rating
            .rating-star
              - (1..5).each do |i|
                - if i <= @course.average_rating
                  %i.fa.fa-star.is-rated 
                - else
                  %i.fa.fa-star
            .rating-people= @course.reviews.count.to_s + ' đánh giá' 
          .rating-detail
            %h5.normal-text Chi tiết
            - course_reviews = @course.reviews
            - (1..5).each do |i|
            - course_review = course_reviews.where(:description.nin => "", :rate => (6-i))
            - progress = course_reviews.count != 0 ? course_review.count/course_reviews.count : 0
              .course_review
                .star-review
                  .normal-text.text-right #{6 - i} Sao
                .progress-review
                  .progress.progress-striped.active{:style => 'height:17px;margin:0 !important'}
                    .progress-bar{:style => "width:  #{progress}%;"}
                .count-review= course_review.count
        - @course.reviews.where(:title.nin => "", :description.nin => "").each do |review|
          - user = User.where(:id => review.user_id.to_s).first
          - relative_time = TimeHelper.relative_time(review.created_at)
          .discussion
            .discussion-top
              .avatar
                - if !user.blank?
                  - if !user.avatar.blank?
                    = image_tag user.avatar, :style => "width: 70px; border-radius: 50%"
                  - else
                    = image_tag 'default-avatar.png', :style => "width: 70px; border-radius: 50%"
                - else
                  = image_tag 'default-avatar.png', :style => "width: 70px; border-radius: 50%" 
              .content
                .user-name= "#{user.name}"
                .time-review= relative_time
                .course-rating-point
                  - (1..5).each do |i|
                    - if i <= @course.average_rating
                      %i.fa.fa-star.is-rated 
                    - else
                      %i.fa.fa-star
            .review
              .review-title= "#{review.title}"
              .review-description= "#{review.description}"
      .bottom-right
        - if @courses['related'].last.count > 0    
          .row.no-margin
            .col-md-12.no-padding
              %h4.normal-text
                %b= @courses['related'].first
          .row.no-margin.related-box
            .col-md-12.no-padding.related-content
              - @courses["related"].last.to_a.each do |course_r|
                = render :partial => 'components/courses/list_card',:locals => {:course => course_r}
/ Footer
= render :partial => 'components/footer/index'