/ Header
= render :partial => 'components/header/default'
/ - Detail 

/ + Banner
.container-wrapper{:style => "overflow: hidden;"}
  .banner
    = render :partial => "components/banner/banner"

  / + Get user and course information
  %input.course_id{:type => "hidden", :value => "#{@course._id}"}
  %input.course_name{:type => "hidden", :value => "#{@course.name}"}
  - if !current_user.blank?
    %input.user_id{:type => "hidden", :value => "#{current_user._id}"}
    %input.user_email{:type => "hidden", :value => "#{current_user.email}"}

  / + Support form
  .support-form
    .tele-sales.show-form
      %i.fa.fa-play-circle
      Bạn cần thêm thông tin?
    .tele-sales-extend
      .tele-sales-top.hide-form
        %i.fa.fa-play-circle
        Bạn cần thêm thông tin?
      .tele-sales-content
        %h5 Vui lòng để lại thông tin cá nhân. Chúng tôi sẽ liên hệ trực tiếp.
        %form
          %input.form-control.name-input{:type => "text", :placeholder => "Tên đầy đủ"}
          %input.form-control.mobile-input{:type => "text", :placeholder => "Số điện thoại"}
          %a.btn.btn-success.send-form-support{} Gửi đi
      .tele-sales-content.success
        %h5 Bạn đã gửi thông tin thành công. Pedia sẽ liên hệ với bạn trong thời gian sớm nhất. Cảm ơn sự quan tâm của bạn.
      .tele-sales-bottom
        %span Hotline: 
        = succeed "" do
          %b 0961215368

  / + Report modal 
  #complete-dialog.modal.fade{:tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title Góp ý 
        .modal-body
          %form
            %textarea.form-control.txt-report-content{:placeholder => "Hãy thêm chi tiết (bắt buộc )"}
        .modal-footer
          %button.btn.btn-primary.btn-submit-report{"data-dismiss" => "modal"} Gửi
          %button.btn{"data-dismiss" => "modal"} Đóng

  / Menu fix
  .row.no-margin.menu-fixed{:style => 'border-bottom:1px solid #cccccc'}
    .container
      %ul.nav.nav-pills
        %li.active
          %a{:href => "#description"} Mô tả chi tiết
        %li
          %a{:href => "#curiculums"} Giáo trình
        %li
          %a{:href => "#author"} Giảng viên
        %li
          %a{:href => "#rating"} Đánh giá
      %ul.menu-fixed-right
        %li
          - if @course.price == 0
            %a.btn.btn-info.btn-raised.btn-lg.learning-button{:href => help_build_buying_course_url(@sale_info, @course),:style => 'padding:5px 15px'}
              Bắt đầu học ngay
          - else 
            %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => help_build_buying_course_url(@sale_info, @course),:style => 'padding:5px 15px'}
              Mua khóa học
        %li
          - if @course.price == 0
            %h3.course-price-text.free{:style => "margin-top: 15px;"} Miễn phí
          - else
            %h3.course-price-text.no-margin{:style => 'margin: 0; padding-top: 15px;'}= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")

  / + Detail content
  .detail
    .detail-top
      .detail-top-content
        .course-title= @course.name
        .sub-title= @course.sub_title
        .course-rating
          .course-rating-point
            - (1..5).each do |i|
              - if i <= @course.average_rating
                %i.fa.fa-star.is-rated 
              - else
                %i.fa.fa-star
          .course-rating-people= @course.reviews.count.to_s + ' đánh giá, ' + @course.students.to_s + ' người tham gia'
        .course-author
          - if @course.user
            Giảng dạy bởi 
            %a.link-text.normal-text= @course.user.name
          - else
            %a.link-text.normal-text{:href => "#"} Pedia
        .course-detail
          .course-player
            .video-container.no-controls
              - if @course.intro_link && @course.intro_link != ''
                - if @course.intro_link['v=']
                  - @indexStart = @course.intro_link.index('v=') + 2
                  - if @course.intro_link['&']
                    - @indexEnd = @course.intro_link.index('&')-1
                    - @youtube_id = @course.intro_link[@indexStart..@indexEnd] 
                  - else
                    - @indexEnd = @course.intro_link.length
                    - @youtube_id =  @course.intro_link[@indexStart..@indexEnd]
                - elsif @course.intro_link['youtu.be']
                  - pattern = /youtu.be\/(.*)/
                  - @youtube_id = pattern.match(@course.intro_link)[1]
                %iframe{:allowfullscreen => "", :frameborder => "0", :height => "100%", :src => 'https://www.youtube.com/embed/'+@youtube_id + '?modestbranding=0&amp;rel=0&amp;showinfo=0', :width => "100%"}
              - elsif @course.intro_image && @course.intro_image != ''
                - if @course.intro_image.include? "uploads"
                  %img{:src => "#{@course.intro_image}", :style => 'width: 100%; height: 100%'}
                - else
                  = image_tag @course.intro_image, :style => 'width: 100%; height: 100%'
              - else
                = image_tag 'course-image-intro.png', :style => 'width: 100%; height: 100%'
          .course-detail-bottom
            .course-detail-bottom-left
              .course-price
                - if @course.price == 0
                  %h3.course-price-text.free.no-margin Miễn phí
                - else
                  - if @sale_info[:applied] && !@sale_info[:coupon_code]
                    .old-price
                      %span giá gốc:
                      %s= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
                      %span= '(' + @sale_info[:discount_ratio].to_s + '%)'
                    .sale-price
                      %span ưu đãi:
                      %span.course-price-text.free.no-margin= number_to_currency(@sale_info[:final_price], :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
                    .sale-count
                      %span Chỉ còn
                      %span.badge= @sale_info[:max_participant_count] - @sale_info[:participant_count]
                      %span cơ hội
                    .sale-count-down#sale-count-down
                      %input#sale-expired-time{:type => 'hidden', :value => "#{@sale_info[:end_date]}"}
                      .count-down-content
                        %span.top#countdown-day= 00
                        %br
                        %span.bottom ngày
                      .count-down-divider
                        %span.text-divider :
                      .count-down-content
                        %span.top#countdown-hour= 00
                        %br
                        %span.bottom giờ
                      .count-down-divider
                        %span.text-divider :
                      .count-down-content
                        %span.top#countdown-minute= 00
                        %br
                        %span.bottom phút
                      .count-down-divider
                        %span.text-divider :
                      .count-down-content
                        %span.top#countdown-second= 00
                        %br
                        %span.bottom giây
                    / %h3.course-price-text.no-margin{:style => 'margin: 0'}= number_to_currency(@sale_info[:final_price], :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
                    / %span.course-discount= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
                    / %span.course-distcount-ratio= @sale_info[:discount_ratio].to_s + '%'
                    / - if @sale_info[:coupon_code]
                    /   %p.msg.using-coupon= "Bạn đang dùng coupon code #{@sale_info[:coupon_code]}"
                  - else
                    %h3.course-price-text.no-margin{:style => 'margin: 0'}= number_to_currency(@course.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")
                    - if @sale_info[:error]
                      %span.error= @sale_info[:error]
              .course-purchase
                - if !current_user.blank?
                  - if !@owned_course.blank?
                    - if @owned_course.payment_status == 'pending' || @owned_course.payment_status == 'process'
                      - if @payment.method == 'cod'
                        .cod-code-container
                          .cod-input
                            %input.form-control{:type => 'text', :placeholder => 'Nhập mã COD tại đây',:payment_id => @payment.id}
                          .cod-error
                            %i.txtNoti.red-text{:style => "display:none; margin: 0px 0px 10px 0px"}
                          .cod-active
                            %a.btn.btn-raised.btn-lg.pending-button.submit-cod-code Kích hoạt mã COD
                      .cod-notice 
                        .notice-text Khóa học này đang chờ thanh toán, bạn sẽ nhận được thông báo học ngay khi giao dịch thành công. Nếu bạn đã nhận được mã COD, vui lòng bấm kích hoạt
                      .cod-cancel
                        .cancel-text 
                          %i Nếu bạn muốn sử dụng hình thức thanh toán khác, hãy
                          = succeed "" do
                            %b Hủy giao dịch COD
                          tại
                          = succeed "" do
                            %a{:href => "/home/payment/cancel_cod/#{@course.id.to_s}"} ĐÂY
                          và tiếp tục mua khóa học
                    - else
                      .purchase-submit
                        %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => help_build_buying_course_url(@sale_info, @course)} Mua khóa học này
                  - else
                    - if @course.price == 0
                      .purchase-submit
                        %a.btn.btn-info.btn-raised.btn-lg.learning-button{:href => help_build_buying_course_url(@sale_info, @course)}
                          Bắt đầu học ngay
                    - else 
                      .purchase-submit
                        %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => help_build_buying_course_url(@sale_info, @course)}
                          Mua khóa học
                      .sale-submit
                        - if !@sale_info[:coupon_code]
                          %a#coupon-dropdown-button.link-text.dropdown-button{"data-target" => ".discussion-dropdown", "data-toggle" => "dropdown", :href => "", style: 'display: inline-block;'}
                            %h5.normal-text.link-text Nhập mã khuyến mãi
                          %ul#coupon-dropdown.dropdown-menu{:style => "height: 80px; width: 332px; position: absolute; left: 0; padding: 20px;"}
                            %form{:method => 'GET', :action => "/courses/#{@course.alias_name}/detail"}
                              %input.course_id{:type => "hidden", :value => "#{@course._id}"}
                              %li
                                .row.no-margin
                                  %input.form-control.coupon_code{:type => "text", :placeholder => "Nhập mã khuyến mại" , :value => "", :style => "height: 40px; width: 178px; margin-right:10px; display: inline", :name => "coupon_code"}
                                  %input.btn.btn-primary.coupon-submit{:type => "submit", :value => "Nhập"}
                      .col-xs-12.no-padding
                        / - if @preview_disabled
                        /   %h5.normal-text{:style => "color:gray;"} Bạn đã học thử khoá học này
                        / - else
                        /   %a.link-text{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=preview"}
                        /     %h5.normal-text.link-text Học thử miễn phí
                      .report
                        %a.link-text{"data-target" => "#complete-dialog", "data-toggle" => "modal", :style => "cursor: pointer"}
                          %h5.normal-text.link-text Góp ý
                - else
                  - if @course.price == 0
                    .purchase-submit
                      %a.btn.btn-info.btn-raised.btn-lg.learning-button{:href => help_build_buying_course_url(@sale_info, @course)}
                        Bắt đầu học ngay
                  - else 
                    .purchase-submit
                      %a.btn.btn-info.btn-raised.btn-lg.buy-button{:href => help_build_buying_course_url(@sale_info, @course)}
                        Mua khóa học
                    .sale-submit
                      - if !@sale_info[:coupon_code]
                        %a#coupon-dropdown-button.link-text.dropdown-button{"data-target" => ".discussion-dropdown", "data-toggle" => "dropdown", :href => "", style: 'display: inline-block;'}
                          %h5.normal-text.link-text Nhập mã khuyến mãi
                        %ul#coupon-dropdown.dropdown-menu{:style => "height: 80px; width: 332px; position: absolute; left: 0; padding: 20px;"}
                          %form{:method => 'GET', :action => "/courses/#{@course.alias_name}/detail"}
                            %input.course_id{:type => "hidden", :value => "#{@course._id}"}
                            %li
                              .row.no-margin
                                %input.form-control.coupon_code{:type => "text", :placeholder => "Nhập mã khuyến mại" , :value => "", :style => "height: 40px; width: 178px; margin-right:10px; display: inline", :name => "coupon_code"}
                                %input.btn.btn-primary.coupon-submit{:type => "submit", :value => "Nhập"}
                    .col-xs-12.no-padding
                      / %a.link-text{:href => "/home/my-course/select_course?alias_name=#{@course.alias_name.to_s}&type=preview"}
                      /   %h5.normal-text.link-text Học thử miễn phí
                    .report
                      %a.link-text{"data-target" => "#complete-dialog", "data-toggle" => "modal", :style => "cursor: pointer"}
                        %h5.normal-text.link-text Góp ý          
            .course-detail-bottom-right
              .course-info
                .course-info-left
                  %h5.normal-text
                    Số lượng bài giảng
                  %h5.normal-text
                    Thời lượng video
                  %h5.normal-text
                    Trình độ
                  %h5.normal-text
                    Ngôn ngữ
                .course-info-right
                  %h5.bold
                    = @course.curriculums.where(:type => 'lecture').count
                  %h5.bold
                    - begin
                      - time = 0
                      - @course.curriculums.each do |curi|
                        - if curi.type == 'lecture' && curi.asset_type == 'Video'
                          - type = curi.description.split(":").length
                          - if type == 3
                            - time = time + curi.description.to_time.min
                          - elsif type == 2 
                            - time = time + curi.description.to_i
                      - if time > 60
                        = (time/60).to_s + 'h' + (time%60).to_s + "p"
                      - else
                        = '1h'
                    - rescue
                      = '1h'
                  %h5.bold{:style => 'text-transform: capitalize'}= Course::Localization::LEVELS[@course.level.to_sym][I18n.default_locale]
                  %h5.bold 
                    = Course::Localization::LANGUAGE[@course.lang.to_sym][I18n.default_locale]
              .course-wishlist
                - if !current_user.blank?
                  - if current_user.wishlist.include?(@course._id.to_s)
                    %a.btn.btn-raised.btn-lg.wishlist-button.wishlisted 
                      %i.fa.fa-heart
                      %span Quan tâm
                  - else
                    %a.btn.btn-raised.btn-lg.wishlist-button 
                      %i.fa.fa-heart
                      %span Quan tâm
                - else
                  %a.btn.btn-raised.btn-lg.wishlist-button 
                    %i.fa.fa-heart
                    %span Quan tâm
    .detail-bottom
      .bottom-left
        #description
          .description-title Mô tả về khóa học  
          .description-content
            = render 'detail_description', method: 'detail'
        #curiculums
          .curiculums-title Giáo trình
          - @course.curriculums.each do |curi|
            .curiculum
              - if(curi.type == 'chapter')
                .row.no-margin.curiculum-title{:style => 'border-bottom:1px solid #cccccc'}
                  %a.normal-text{:href => "#", :style => "pointer-events: none; margin: 15px 0"}
                    %b #{curi.title}
              - else
                .row.no-margin.curiculum-list
                  .col-xs-12.no-padding
                    .row.no-margin.curiculum-content
                      .col-xs-12
                        .detail-curi-type.pull-left{:style => 'margin-right:10px'}
                          - if curi.asset_type == "Video"
                            %i.fa.fa-play-circle
                          - else
                            %i.fa.fa-file
                        .detail-curi-lecture.pull-left
                          %h5.normal-text.no-margin{:style => 'line-height:1.5'}= 'Bài số ' + (curi.lecture_index + 1 ).to_s
                        .detail-curi-title.pull-left
                          %h5.normal-text.no-margin{:style => 'line-height:1.5'} #{curi.title}
                        - if curi.asset_type == "Video" && curi.previewable
                          .detail-curi-leacture.pull-left
                            %a.btn.btn-primary.preview-button{:onclick => "let_me_preview_this_video('#{help_get_youtube_url(curi)}');"}
                              %b Xem thử
                        .detail-curi-leacture.pull-right
                          %h5.normal-text.no-margin
                            %b #{curi.description}
        #author
          .author-title Tiểu sử tác giả
          .author-content
            .author-avatar
              - if !@course.user.avatar.blank?
                = image_tag @course.user.avatar, :style => "width: 100%"
              - else
                = image_tag 'default-avatar.png', :style => "width: 100%"
            .author-description
              .row.no-margin
                %h5.normal-text.no-margin
                - if @course.user
                  - if @course.user.instructor_profile
                    %span= @course.user.instructor_profile.academic_rank
                  %a.link-text{:href => "#!"}= @course.user.name
                - else 
                  %a.link-text{:href => "#!"} Pedia
              - if !@course.user.instructor_profile.function.blank?
                .row.no-margin
                  .col-xs-12.no-padding
                    %h5.normal-text= 'Nghề nghiệp: ' + @course.user.instructor_profile.function
              - if !@course.user.instructor_profile.work_unit.blank?
                .row.no-margin
                  .col-xs-12.no-padding
                    %h5.normal-text= 'Đơn vị công tác: ' + @course.user.instructor_profile.work_unit
              / .row.no-margin
              /   %a.social-button{:href => "#"}
              /     %i.fa.fa-linkedin-square
              /   %a.social-button{:href => "#"}
              /     %i.fa.fa-facebook-square
          .author-information
            - if @course.user.instructor_profile.description.count > 0
              - @course.user.instructor_profile.description.each do |i|
                %h5.information-text= i  
        #rating
          .rating-title Đánh giá
          .rating-point= @course.average_rating
          .course-rating
            .rating-star
              - (1..5).each do |i|
                - if i <= @course.average_rating
                  %i.fa.fa-star.is-rated 
                - else
                  %i.fa.fa-star
            .rating-people= @course.reviews.count.to_s + ' đánh giá' 
          - unless @course.fake_enabled == true
            .rating-detail
            %h5.normal-text Chi tiết
            - course_reviews = @course.reviews
            - (1..5).each do |i|
            - course_review = course_reviews.where(:description.nin => "", :rate => (6-i))
            - progress = course_reviews.count != 0 ? course_review.count/course_reviews.count : 0
              .course_review
                .star-review
                  .normal-text.text-right #{6 - i} Sao
                .progress-review
                  .progress.progress-striped.active{:style => 'height:17px;margin:0 !important'}
                    .progress-bar{:style => "width:  #{progress}%;"}
                .count-review= course_review.count
        / - @course.reviews.where(:title.nin => "", :description.nin => "").each do |review|
        /   - user = User.where(:id => review.user_id.to_s).first
        /   - relative_time = TimeHelper.relative_time(review.created_at)
        /   .discussion
        /     .discussion-top
        /       .avatar
        /         - if !user.blank?
        /           - if !user.avatar.blank?
        /             = image_tag user.avatar, :style => "width: 70px; border-radius: 50%"
        /           - else
        /             = image_tag 'default-avatar.png', :style => "width: 70px; border-radius: 50%"
        /         - else
        /           = image_tag 'default-avatar.png', :style => "width: 70px; border-radius: 50%" 
        /       .content
        /         .user-name= "#{user.name}"
        /         .time-review= relative_time
        /         .course-rating-point
        /           - (1..5).each do |i|
        /             - if i <= @course.average_rating
        /               %i.fa.fa-star.is-rated 
        /             - else
        /               %i.fa.fa-star
        /     .review
        /       .review-title= "#{review.title}"
        /       .review-description= "#{review.description}"
      .bottom-right
        - if @courses['related'].last.count > 0    
          .row.no-margin
            .col-md-12.no-padding
              .related-title
                %b= @courses['related'].first
          .row.no-margin.related-box
            .col-md-12.no-padding.related-content
              - @courses["related"].last.to_a.each do |course_r|
                = render :partial => 'components/courses/list_card',:locals => {:course => course_r}
/ Footer
= render :partial => 'components/footer/index'