%header
  = render :partial => 'layouts/header'
  = render :partial => 'components/side_nav'

%main.detail.container-1140
  .row.detail-top{:style => "padding: 0px auto; width:85%"}
    .col.s12
      .row.no-margin
        %h4.course-title
          = @course.name
      .row.no-margin
        %p
          = @course.sub_title
      .row.no-margin
        %span.courses
          .course-rating.col.s7.valign-wrapper.no-padding
            .col.s3.course-rating-point.no-padding
              - (1..5).each do |i|
                - if i <= @course.average_rating
                  %i.material-icons.is-rated star_rate
                - else
                  %i.material-icons star_rate
            .col.s6.course-rating-people.no-padding 
              = @course.reviews.count
      .row.valign-wrapper.no-margin
        %span.left
      - if @course.user
        %a{:href => "#",:style => "line-height:50px;"}= "Tác giả: "+@course.user.name
      - else
        %a{:href => "#"} Tudemy
      .row
        .col.s7.no-padding
          .video-container.no-controls
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :src => "//www.youtube.com/embed/09R8_2nJtjg?rel=0", :width => "853"}
        .col.s5
          .row
            %a.row.courses{:href => "#"}
              - if @course.price.to_s == "0"
                %h5.course-price{:style => 'margin: 0'} Miễn phí
              - else
                %h5.course-price{:style => 'margin: 0'}= @course.price.to_s + " đ"
          .row
            .col.s6.no-padding
              - if @course.price.to_s == "0"
                %a.btn{:href => "/home/my-course/select_course?course_id=#{@course.id.to_s}&type=learnning"}
                  Bắt đầu học ngay
              - else 
                %a.btn{:href => "/home/my-course/select_course?course_id=#{@course.id.to_s}&type=learnning"}
                  Mua khóa học
            .col.s6.no-padding
              / %a.valign-wrapper.btn.disabled{:href => "/home/my-course/select_course?course_id=#{@course.id.to_s}&type=wishlist"}
              /   %i.material-icons.is-favorite favorite
              /   Ưa thích
          / %a.row{:href => "#"}
          /   Nhập mã khuyễn mãi
          / %a.row{:href => "#"}
          /   Xem thử miễn phí
          / %a.row{:href => "#"}
          /   Tùy chọn khác
          .row
            .divider
          .col.s4.courses
            .row
              %p.course-author
                Lý thuyết
              %p.course-author
                Video
              %p.course-author
                Trình độ
              %p.course-author
                Ngôn ngữ
              / %p.course-author
              /   bao gồm
          .col.s8
            .row
              %p.bold
                = @course.curriculums.where(:type => 'lecture').count
              %p.bold
                1h
                -#= @course.curriculums.where(:type => 'lecture').map(&:length).sum
              %p.bold= @course.level
              %p.bold
                - if @course.lang == "en"
                  Tiếng Anh
                - elsif
                  Tiếng việt
              / %p.bold
              /   Lifetime access
              / %p.bold
              /   30 day money back
              / %p.bold
              /   Avariable on iOS and Android
              / %p.bold
              /   Certificate of completion
  .row{:style => "background-color:#e1e1e1"}
    .row.detail-main{:style => "padding: 0px auto; width:85%"}
      .col.s7
        .row
          = render 'detail_description', method: 'detail'
        .row
          %h4{:style => 'border-bottom: 1px solid #999'}
            Giáo trình
          .divider
          .collection.courses
            - @course.curriculums.each do |curi|
              - if(curi.type == 'chapter')
                %a.collection-item.active{:href => "#", :style => "pointer-events: none"} #{curi.title}
              - else
                / - @course.curriculums.where(chapter_index: curi.chapter_index, type: "lecture").asc(:lecture_index).each do |lecture|
                %a.collection-item{:href =>  '#', :style => "pointer-events: none"}
                  .row.no-margin
                    .col.s11.left
                      %span.grey-text.left= (curi.lecture_index + 1 ).to_s+"."
                      %i.material-icons.grey-text.left play_circle_filled
                      %span #{curi.title}
                    .col.s1
                      / %span.right 07:07
        .row
          %h5
            Tiểu sử tác giả
          .row
            .col.s2.no-padding
              - if @course.user
                = image_tag @course.user.avatar
            .col.s10.no-padding
              .row
              - if @course.user
                %a{:href => "#!"}= @course.user.name
              - else 
                %a{:href => "#!"} Tudemy
              %a{:href => "https://www.facebook.com/tudemy"}
                = image_tag 'facebook.png'
          .row
            - if @course.user
              %p= @course.user.biography
            - else
              %p Tudemy is the BEST
          - if @course.user
            %a{:href => "/users/" + @course.user._id + "/show"}
          - else
            %a{:href => "#"}
          /     Tiểu sử chi tiết
          / .row.courses
          /   %h4
          /     Đánh giá
          /   %h1.pink-text #{@course.average_rating}
          /   %span.course-rating
          /     %span.course-rating-point
          /       %i.material-icons.is-rated star_rate
          /       %i.material-icons star_rate
          /       %i.material-icons star_rate
          /       %i.material-icons star_rate
          /       %i.material-icons star_rate
          /   %span.course-rating-people.no-padding
          /     #{@course.num_rate} đánh giá
          /   %p
          /     Chi tiết
          /   .row
          /     .col.s1.no-padding
          /       %span 5 sao
          /     .col.s4.no-padding
          /       .progress.grey.lighten-1
          /         .determinate.yellow.darken-2{:style => "width: 90%"}
          /     .col.s1
          /       %span 3174
          /   .row
          /     .col.s1.no-padding
          /       %span 4 sao
          /     .col.s4.no-padding
          /       .progress.grey.lighten-1
          /         .determinate.yellow.darken-2{:style => "width: 40%"}
          /     .col.s1
          /       %span 3174
          /   .row
          /     .col.s1.no-padding
          /       %span 3 sao
          /     .col.s4.no-padding
          /       .progress.grey.lighten-1
          /         .determinate.yellow.darken-2{:style => "width: 60%"}
          /     .col.s1
          /       %span 3174
          /   .row
          /     .col.s1.no-padding
          /       %span 2 sao
          /     .col.s4.no-padding
          /       .progress.grey.lighten-1
          /         .determinate.yellow.darken-2{:style => "width: 20%"}
          /     .col.s1
          /       %span 3174
          /   .row
          /     .col.s1.no-padding
          /       %span 1 sao
          /     .col.s4.no-padding
          /       .progress.grey.lighten-1
          /         .determinate.yellow.darken-2{:style => "width: 5%"}
          /     .col.s1
          /       %span 3174
        .row
        - @course.reviews.each do |rv|
          %ul.collection
            %li.collection-item.avatar{:style => "background-color:#e1e1e1;border-bottom: 1px solid #999"}
              %img.circle{:alt => "", :src => "/assets/avatar.png"}
                %span.title.bold Jasmine Maddox
                %p 2 ngày trước
                %span.courses
                  %span.course-rating
                  %span.course-rating-point
                    %i.material-icons.is-rated star_rate
                    %i.material-icons.is-rated star_rate
                    %i.material-icons.is-rated star_rate
                    %i.material-icons.is-rated star_rate
                    %i.material-icons.is-rated star_rate
                %p.bold
                  Just what I need.
                %p
                  I loved how tthe course goes through the basic admin panel functions to show you how to set up a WordPress site. It is very clear, concise and does not assume the student will have any coding knowledge or ability.
          %ul.collection
            %li.collection-item.avatar{:style => "background-color:#e1e1e1;border-bottom: 1px solid #999"}
              %img.circle{:alt => "", :src => "/assets/avatar.png"}
                %span.title.bold Giovanni Barbieri
                %p 12 ngày trước
                %span.courses
                  %span.course-rating
                  %span.course-rating-point
                    %i.material-icons.is-rated star_rate
                    %i.material-icons star_rate
                    %i.material-icons star_rate
                    %i.material-icons star_rate
                    %i.material-icons star_rate
                %p.bold
                  Poor content
                %p
                  Very general overview of wordpress. You can learn the content of this course just playing with wp by yourself for 20 min.
          %a{:href => "#"}
            Xem thêm các bình luận khác
      .col.s4
        .row
          .fb-share{:style => 'margin-top: 20px'}
            = image_tag 'fb-share.png'
        - if @courses['related'].last.count > 0    
          .row
            %h5= @courses['related'].first
          .row
            %ul.collection
              - @courses['related'].last.each do |relate|
                %a.black-text{:href => "/courses/"+relate._id+"/detail"}
                  %li.collection-item.avatar
                    - if relate.user
                      %img.circle{:alt => "", :src => relate.user.avatar}
                    %span.title.bold= relate.name
                    - if relate.user
                      %p= relate.user.name
                    %span.courses
                      %span.course-rating
                      %span.course-rating-point
                        - (1..5).each do |i|
                          - if i <= relate.average_rating
                            %i.material-icons.is-rated star_rate
                          - else
                            %i.material-icons star_rate
                      .row
                        - if relate.price == 0
                          .col.s5.no-padding.course-price.free Miễn phí
                        - else
                          .col.s5.no-padding.course-price= relate.price.to_s + " đ"                
      .col.s12.course-list.highest-rating
    - if @courses['featured']
      .col.s12
        .row.course-list-header
          .col.s12
            %h5.course-list-header-title Được đánh giá cao
        .row.courses.card-style
          - @courses['featured'].each do |c|
            .col.s3
              %a.course{:href => '/courses/'+c._id+'/detail'}
                .card-image.course-image
                  = image_tag c.image
                .card-content.course-content
                  .row.course-title
                    .col.s12.no-padding= c.name 
                  .row.course-author
                  - if c.user
                    .col.s12.no-padding= "By " + c.user.name
                  .row.course-rating
                    .col.s7.course-rating-point.no-padding
                      - (1..5).each do |i|
                        - if i <= c.average_rating
                          %i.material-icons.is-rated star_rate
                        - else
                          %i.material-icons star_rate
                    .col.s5.course-rating-people.no-padding= '(' + c.num_rate.to_s + ')'
                  .row.course-footer
                    .col.s7.no-padding.course-favorite
                      %span.left
                        %i.material-icons.is-favorite favorite
                      %span.left=  c.students.to_s
                    - if c.price == 0
                      .col.s5.no-padding.course-price.free{:style => "text-align:right;"} Miễn phí
                    - else
                      .col.s5.no-padding.course-price{:style => "text-align:right;"}= c.price.to_s + " đ"                 