.row.no-margin
  = render :partial => 'components/courses/landingpage_card'
.row.no-margin
  = render :partial => 'components/courses/sorting'
.row.no-margin.card-category
  = render :partial => 'components/courses/course_card'
.row.no-margin
  = render :partial => 'components/courses/learning_card'
.row.no-margin
  = render :partial => 'components/courses/list_card'
.row.no-margin
  = render :partial => 'components/courses/filter'
= render :partial => 'components/footer/index'
.row{:style => "margin: 0px 0px 100px 0px"}