= render :partial => "components/header/home"
.container-wrapper{:style => "overflow: hidden;"}
  .banner
    = render :partial => "components/banner/banner"
    
  %main.home
    .container
      .row
        - @courses.to_a.each do |course_h|
          - if course_h.last.last.count >0
            .col-sm-12{:style => 'margin-top:10px;'}
              .category-title.pull-left= course_h.last.first
              .category-show-all.pull-right.visible-lg.visible-md
                %a.btn.btn-default.btn-sm.show-all{:href => "",:style => 'margin-right: 7px;background:white;text-transform:none'}
                  Xem tất cả&nbsp;
                  %i.fa.fa-plus-circle
              .clearfix
              .list-course-card
                - course_h.last.last.each do |course|
                  = render :partial => 'components/courses/course_card', :locals => {:course => course}
              .list-course-list
                - course_h.last.last.each do |course|
                  = render :partial => 'components/courses/list_card', :locals => {:course => course}
= render :partial => 'components/footer/index'