%header
 = render :partial => 'layouts/header'
 = render :partial => 'components/side_nav'
%main.lecture-detail{:style => "background: #e9e9e9"}
 .row.header.no-padding
  .row.header-container.container-1140.no-padding
   .col.s11
    %span.title= @course.name
   .col.s1
    .col.s5.no-padding 
     %i.small.material-icons.green-text.no-padding{:style => "margin-top:10px;"} group 
    .col.s5
     %span.count= " "+@course.students.to_s
 .row.lecture-content
  .col.s6
   .row.lecture-content-header
    - @index = current_user.courses.where(:course_id => @course.id.to_s).first.lectures.where(lecture_ratio: 100).count
    - @count = @course.curriculums.where(type: "lecture").count
    - if @index > 0
     %a{:href => '/courses/'+@course._id+'/lecture/' + (@index - 1).to_s}
      .col.s2
       %i.medium.material-icons.white-text{:style => "margin-top:10px;"} play_circle_filled
      .col.s10
       .row.no-padding
        %p= @course.curriculums[@index].description
        %p Starting Threads
        %P 09:58 phút    
    - else
     %a{:href => '/courses/'+@course._id+'/lecture/' + @index.to_s}
      .col.s2
       %i.medium.material-icons.white-text{:style => "margin-top:10px;"} play_circle_filled
      .col.s10
       .row.no-padding
        %p= @course.curriculums[@index].description
        %p Starting Threads
        %P 09:58 phút
   .row.lecture-content-learing-progress-text= "Bạn đã hoàn thành " +@index.to_s + " trên " + @count.to_s+ " bài giảng"
   .row.progress{:style => "height:5px;background:#b6b6b6"}
    .determinate{:style => "width: "+((@index.to_f / @count.to_f)*100).to_s+"%"}
   .row
    .col.s12.list-lecture.no-padding
     - @course.curriculums.each do |curriculum|
      - if curriculum.type == 'chapter'
       .row.lecture-chap
        .col.s12.lecture-chap-title= curriculum.description
        .col.s12.lecture-list-items
         - @course.curriculums.where(chapter_index: curriculum.chapter_index + 1, type: "lecture").each do |lecture|
          %a.item-container{:href => '/courses/'+@course._id+'/lecture/'+lecture.lecture_index.to_s}
           .row.no-margin
            .col.s1
             -if lecture.status == 0
              .row.icon.locked
               %i.tiny.material-icons.white-text{:style => "margin:2px;"} done
             -else
              -if lecture.status == 1
               .row.icon.learning
                %i.tiny.material-icons.white-text{:style => "margin:2px;"} edit
              -else
               -if lecture.status == 2
                .row.icon.completed
                 %i.tiny.material-icons.white-text{:style => "margin:2px;"} done
            .col.s10.no-padding.item-data
             %span.item-name= lecture.description
             .row.detail
             - if lecture.asset_type == "media"
              .col.s3.offset-s6.icon-video-type.no-padding
               %i.tiny.material-icons.white-text{:style => "margin:2px;"} play_arrow
              .col.s9.no-padding Video
             - else
              .col.s3.offset-s6.icon-document-type.no-padding
               %i.tiny.material-icons{:style => "margin:2px;"} insert_drive_file
              .col.s9.no-padding Văn bản
  .col.s6.lecture-comment
   .row.lecture-comment-title 
    %span Thảo luận
   .row.lecture-comment-tool
    %ul
     %li
      %input.search{:placeholder => "Tìm thảo luận", :type => "text"}
     %li
      %span.or hoặc
     %li
      %a.waves-effect.waves-light.btn.add_comment Đăng thảo luận
   .row.lecture-comment-list
    - @course.discussions.each do |discussion|
     - if discussion.user
      .col.s12.no-padding.cm-item
       .row.cm-item-header
        %ul
         %li
          %i.small.material-icons.no-padding face
         %li
          %p= discussion.user.name.to_s + " đã đăng một thảo luận"
         %li
         // %p -
         %li 
          //%p 1 tháng trước 
       .row.cm-item-content= discussion.description
       .row.cm-item-footer
        %ul
         %li
          //%p Hãy là người đầu tiên trả lời
         %li
          //%p -
         %li
          //%i.tiny.material-icons.no-padding.unliked thumb_up
         %li
         // %p= "Thích ("+discussion.status.to_s+")"
         %li
          //%p - 
         %li 
          //%p Theo dõi (1 người theo dõi)
         %li
          //%P -
         %li
          //%i.tiny.material-icons.no-padding{:style => "color:#999999"} report_problem
