%main
 .row.leture.no-margin
  .col.s9.no-padding.fixed
   .row.leture-header.no-margin
    %ul
     %li
      %a.waves-effect.waves-light.btn.leture-header-back-course{:href => '/courses/'+@course.alias_name+'/learning'}
       %i.material-icons.left.white-text{:style => "transform: rotate(180deg);"} play_circle_filled
       Trở lại khóa học
     %li
     - if @lecture.lecture_index > 0
      %a.waves-effect.waves-light.btn.leture-header-back-leture{:href => '/courses/'+@course.alias_name+'/lecture/'+(@lecture.lecture_index-1).to_s}
       %i.material-icons.left.white-text{:style => "transform: rotate(-90deg);"} play_circle_filled
       Bài giảng trước 
   .row.no-margin{:style => "background-color: #1B1B1B"}
    .col.s10.offset-s1.leture-player
     
     - if @lecture.asset_type == "Video"
      - if @lecture.url.index('v=').blank?
       - @indexStart = @lecture.url.index('.be/') + 4
       - @youtube_id = @lecture.url[@indexStart..@lecture.url.length]
      - else
       - @indexStart = @lecture.url.index('v=') + 2
       - if @lecture.url['&']
        - @indexEnd = @lecture.url.index('&')-1
        - @youtube_id = @lecture.url[@indexStart..@indexEnd] 
       - else
        - @indexEnd = @lecture.url.length
        - @youtube_id =  @lecture.url[@indexStart..@indexEnd]
      - if @youtube_id
       .row.media
        %iframe{:width => '100%',:style => 'border : 0px', :height => '100%', :src => 'https://www.youtube.com/embed/'+@youtube_id + '?modestbranding=1&amp;rel=0&amp;showinfo=0', :allowfullscreen => 'true'} 
     - else
      .row.document
       - if @lecture.description
        = @lecture.description
   .row.leture-footer.no-margin 
    %ul
     %li
      %a.waves-effect.waves-light.btn.leture-header-back-course{:href => '/courses/'+@course.alias_name+'/learning',:style => "visibility:hidden;"} 
       %i.material-icons.left.white-text{:style => "transform: rotate(180deg);"} play_circle_filled
       Trở lại khóa học    
     %li
      %a.waves-effect.waves-light.btn.leture-header-back-course{:href => '/courses/'+@course.alias_name+'/lecture/'+(@lecture.lecture_index+1).to_s}
       Bài giảng tiếp
       %i.material-icons.left.white-text{:style => "transform: rotate(90deg);"} play_circle_filled
     %li
      / %a.waves-effect.waves-light.btn.leture-header-back-course
      /  %i.material-icons.left.white-text replay
      /  %span Auto Play
      /  %span.bold.green-text{:style => "text-transform : uppercase"} ON
  .col.s3.list-lecture
   - @indexLecture = 0
   - have_chapter = @course.curriculums.where(type: "chapter").count == 0
   - if have_chapter
    - @course.curriculums.where(type: "lecture").each do |lecture|
     - @indexLecture += 1
     - owned_lecture = @owned_course.lectures.where(:lecture_index => lecture.lecture_index).first
     .col.s12.lecture-list-items
      - if @lecture.lecture_index == lecture.lecture_index
       %a.item-container.lecture_actived{:href => '/courses/'+@course.alias_name+'/lecture/'+lecture.lecture_index.to_s}
        .row.no-margin
         .col.s1
          -if owned_lecture.status == 0
           .row.icon.locked
            %i.tiny.material-icons.white-text{:style => "margin:2px;"} done
          -else
           -if owned_lecture.status == 1
            .row.icon.learning
             %i.tiny.material-icons.white-text{:style => "margin:2px;"} edit
           -else
            -if owned_lecture.status == 2
             .row.icon.completed
              %i.tiny.material-icons.white-text{:style => "margin:2px;"} done
         .col.s10.no-padding.item-data
          %span.item-name= 'Bài giảng ' + @indexLecture.to_s + ': ' + lecture.title
          .row.detail
           
           - if lecture.asset_type == "Video"
            .col.s3.offset-s6.icon-video-type.no-padding
             %i.tiny.material-icons.white-text{:style => "margin:2px;"} play_arrow
            .col.s9.no-padding= lecture.description
           - else
            .col.s3.offset-s6.icon-document-type.no-padding
             %i.tiny.material-icons{:style => "margin:2px;"} insert_drive_file
            .col.s9.no-padding Văn bản
      - else
       %a.item-container{:href => '/courses/'+@course.alias_name+'/lecture/'+lecture.lecture_index.to_s}
        .row.no-margin
         .col.s1
          -if owned_lecture.status == 0
           .row.icon.locked
            %i.tiny.material-icons.white-text{:style => "margin:2px;"} done
          -else
           -if owned_lecture.status == 1
            .row.icon.learning
             %i.tiny.material-icons.white-text{:style => "margin:2px;"} edit
           -else
            -if owned_lecture.status == 2
             .row.icon.completed
              %i.tiny.material-icons.white-text{:style => "margin:2px;"} done
         .col.s10.no-padding.item-data
          %span.item-name= 'Bài giảng ' + @indexLecture.to_s + ': ' + lecture.title
          .row.detail
           
           - if lecture.asset_type == "Video"
            .col.s3.offset-s6.icon-video-type.no-padding
             %i.tiny.material-icons.white-text{:style => "margin:2px;"} play_arrow
            .col.s9.no-padding= lecture.description
           - else
            .col.s3.offset-s6.icon-document-type.no-padding
             %i.tiny.material-icons{:style => "margin:2px;"} insert_drive_file
            .col.s9.no-padding Văn bản
   - else
    - @course.curriculums.each do |curriculum|
     - if curriculum.type == 'chapter'
      .row.lecture-chap.no-margin
       .col.s12.lecture-chap-title= curriculum.title
       .col.s12.lecture-list-items
        - @course.curriculums.where(chapter_index: curriculum.chapter_index + 1, type: "lecture").each do |lecture|
         - @indexLecture += 1
         - owned_lecture = @owned_course.lectures.where(:lecture_index => lecture.lecture_index).first
         - if @lecture.lecture_index == lecture.lecture_index
          %a.item-container.lecture_actived{:href => '/courses/'+@course.alias_name+'/lecture/'+lecture.lecture_index.to_s}
           .row.no-margin
            .col.s1
             - if owned_lecture.status == 0
              .row.icon.locked
               %i.tiny.material-icons.white-text{:style => "margin:2px;"} done
             - elsif owned_lecture.status == 1
              .row.icon.learning
               %i.tiny.material-icons.white-text{:style => "margin:2px;"} edit
             - elsif owned_lecture.status == 2
              .row.icon.completed
               %i.tiny.material-icons.white-text{:style => "margin:2px;"} done
            .col.s10.no-padding.item-data
             %span.item-name= 'Bài giảng ' + @indexLecture.to_s + ': ' + lecture.title
             .row.detail
               
              - if lecture.asset_type == "Video"
               .col.s3.offset-s6.icon-video-type.no-padding
                %i.tiny.material-icons.white-text{:style => "margin:2px;"} play_arrow
               .col.s9.no-padding= lecture.description
              - else
               .col.s3.offset-s6.icon-document-type.no-padding
                %i.tiny.material-icons{:style => "margin:2px;"} insert_drive_file
               .col.s9.no-padding Văn bản
         - else
          %a.item-container{:href => '/courses/'+@course.alias_name+'/lecture/'+lecture.lecture_index.to_s}
           .row.no-margin
            .col.s1
             - if owned_lecture.status == 0
              .row.icon.locked
               %i.tiny.material-icons.white-text{:style => "margin:2px;"} done
             - elsif owned_lecture.status == 1
              .row.icon.learning
               %i.tiny.material-icons.white-text{:style => "margin:2px;"} edit
             - elsif owned_lecture.status == 2
              .row.icon.completed
               %i.tiny.material-icons.white-text{:style => "margin:2px;"} done
            .col.s10.no-padding.item-data
             %span.item-name= 'Bài giảng ' + @indexLecture.to_s + ': ' + lecture.title
             .row.detail
              
              - if lecture.asset_type == "Video"
               .col.s3.offset-s6.icon-video-type.no-padding
                %i.tiny.material-icons.white-text{:style => "margin:2px;"} play_arrow
               .col.s9.no-padding= lecture.description
              - else
               .col.s3.offset-s6.icon-document-type.no-padding
                %i.tiny.material-icons{:style => "margin:2px;"} insert_drive_file
               .col.s9.no-padding Văn bản