.row.no-margin.lecture 
  .col-xs-12.col-sm-7.col-md-8.col-lg-9.lecture-player
    .row.lecture-player-header.no-margin 
      %a.lecture-back{:href => "/courses/#{@course.alias_name}/learning"}
        %i.fa.fa-play-circle
        %span Quay lại
      - @index_lecture = @lecture.lecture_index.to_i
      %ul.no-padding.no-margin.lecture-tools 
        - if @index_lecture !=0
          %li
            %a.player-navigation-back{:href => "/courses/#{@course.alias_name}/lecture/#{@index_lecture-1}"} Bài giảng trước 
        %li.full-screen
          %i.fa.fa-chevron-right
    .row.lecture-player-main.no-margin
      - if @lecture.url.index('v=').blank?
        - @indexStart = @lecture.url.index('.be/') + 4
        - @youtube_id = @lecture.url[@indexStart..@lecture.url.length]
      - else
        - @indexStart = @lecture.url.index('v=') + 2
      - if @lecture.url['&']
        - @indexEnd = @lecture.url.index('&')-1
        - @youtube_id = @lecture.url[@indexStart..@indexEnd] 
      - else
        - @indexEnd = @lecture.url.length
        - @youtube_id =  @lecture.url[@indexStart..@indexEnd]
      - if @youtube_id
        %iframe{:src => 'https://www.youtube.com/embed/'+@youtube_id + '?modestbranding=0&amp;rel=0&amp;showinfo=0', :allowfullscreen => 'true'}  
    .row.lecture-player-footer.no-margin
      %a.lecture-autoplay 
        %span Tự động chạy:
        %span.open Bật 
      - if @lecture.lecture_index.to_i != @owned_course.lectures.count-1 
        %ul.no-padding.no-margin.lecture-tools
          %li
            %a.player-navigation-next{:href => "/courses/#{@course.alias_name}/lecture/#{@index_lecture+1}"} Bài giảng tiếp 
          %li
            %i.visibility-collapse s
  .col-xs-0.col-sm-5.col-md-4.col-lg-3.lecture-container.no-padding
    %ul.nav.nav-tabs.lecture-container-header
      %li.active
        %a{"data-toggle" => "tab", :href => "#lecture-tab-list"} 
          %i.fa.fa-list
      %li
        %a{"data-toggle" => "tab", :href => "#lecture-tab-download"}
          %i.fa.fa-download
      %li
        %a{"data-toggle" => "tab", :href => "#lecture-tab-discussion"} 
          %i.fa.fa-comments
      %li
        %a{"data-toggle" => "tab", :href => "#lecture-tab-note"} 
          %i.fa.fa-file-text
    .tab-content
      #lecture-tab-list.tab-pane.fade.active.in
        .row.no-margin.list-lecture-container
          - @owned_lectures = @owned_course.lectures
          - @course.curriculums.each do |curriculum|
            - if curriculum.type == 'chapter'
              .row.chap-title #{curriculum.title}
            - elsif curriculum.lecture_index == @index_lecture
              .row.chap-item.active
                %a{:href => "/courses/#{@course.alias_name}/lecture/#{curriculum.lecture_index}"}
                  .row.item-container
                    .chap-item-status
                      - if @owned_lectures[curriculum.lecture_index].status.to_i == 0
                        .status-container.none
                          %i.fa.fa-check
                      - elsif @owned_lectures[curriculum.lecture_index].status.to_i == 1
                        .status-container.learning
                          %i.fa.fa-pencil
                      - else
                        .status-container.completed
                          %i.fa.fa-check
                    .chap-item-content
                      .row.no-margin
                        %span Bài giảng #{curriculum.lecture_index+1}: #{curriculum.title}
                      .row.no-margin
                        .row.type-document
                          %ul.no-padding
                            %li 
                              %i.fa.fa-play-circle
                            %li
                              %span #{curriculum.description}
                            %li
                              %i.fa.fa-download
                            %li
                              %i.fa.fa-comments
            - else
              .row.chap-item
                %a{:href => "/courses/#{@course.alias_name}/lecture/#{curriculum.lecture_index}"}
                  .row.item-container
                    .chap-item-status
                      - if @owned_lectures[curriculum.lecture_index].status.to_i == 0
                        .status-container.none
                          %i.fa.fa-check
                      - elsif @owned_lectures[curriculum.lecture_index].status.to_i == 1
                        .status-container.learning
                          %i.fa.fa-pencil
                      - else
                        .status-container.completed
                          %i.fa.fa-check
                    .chap-item-content
                      .row.no-margin
                        %span Bài giảng #{curriculum.lecture_index+1}: #{curriculum.title}
                      .row.no-margin
                        .row.type-document
                          %ul.no-padding
                            %li 
                              %i.fa.fa-play-circle
                            %li
                              %span #{curriculum.description}
                            %li
                              %i.fa.fa-download
                            %li
                              %i.fa.fa-comments
      #lecture-tab-download.tab-pane.fade
      #lecture-tab-discussion.tab-pane.fade
        %form
          %input.course_id{:type => "hidden", :value => "#{@course._id}"}
          %input.lecture_id{:type => "hidden", :value => "#{@lecture._id}"}
          %li
            %textarea.form-control.discussion-title{:placeholder => "Nhập tiêu đề", :value => "title"}
          %li
            %textarea.form-control.discussion-content{:placeholder => "Nhập nội dung thảo luận", :value => "discription"}
          %li
            %a.btn.btn-primary.lecture-discussion-submit{:href => "#",:type => "submit"} Post Thảo luận
        .row.no-margin.list-discussion
          - lecture_discussions = @course.discussions.where(:curriculum_id => @lecture._id)
          - lecture_discussions.reverse.each do |discussion|
            - @user = User.where(:id => discussion.user_id).first
            - relative_time = TimeHelper.relative_time(discussion.created_at)
            .row.discussion-item.no-margin
              .col-md-1.col-lg-1.no-padding.discussion-item-avatar
                %i.fa.fa-smile-o
              .col-md-11.col-lg-11.no-padding.discussion-item-main
                %ul.discussion-item-title
                  %li.bold #{@user.name}
                  %li= "đã đăng 1 thảo luận - #{relative_time}"
                %span.discussion-item-subject 
                  #{discussion.title}
                %p.discussion-item-content
                  #{discussion.description}
                - if discussion.child_discussions.count == 0
                  %a.discussion-item-reply Phản hồi
                - else
                  %a.discussion-item-reply= "Phản hồi (" + discussion.child_discussions.count.to_s + ")"
                .row.no-margin.list-children.collapsed
                  - discussion.child_discussions.reverse.each do |child_discussion|
                    .row.child-item.no-margin
                      .col-md-1.col-lg-1.no-padding.child-item-avatar
                        %i.fa.fa-smile-o
                      .col-md-11.col-lg-11.no-padding.child-item-main
                        - @user = User.where(:id => child_discussion.user_id).first
                        %ul.child-item-title
                          %li.bold #{@user.name} 
                          %li đã đăng 1 thảo luận - 2 tháng trước 
                        %p.child-item-content
                          #{child_discussion.description}
                  .row.no-margin 
                    / %input.discussion_id{:type => "hidden", :value => "#{discussion._id}"}
                    .col-md-11.col-lg-11.col-md-offset-1.col-lg-offset-1.no-padding.send-reply
                      %textarea.form-control.comment-content{:placeholder => "Nhập nội dung thảo luận", :value => "comment-content"}
                      .btn.btn-primary.comment-submit{:href => "", :type => "submit", :discussion_id => "#{discussion.id}"} Gửi phản hồi 
      #lecture-tab-note.tab-pane.fade
