%header
  = render :partial => 'layouts/header'
  = render :partial => 'components/side_nav'

%main.category
  .row.category-header
    .col.s12
      .row
        .col.s12
          %ul.breadcum
            %li.breadcum-item
              %a{:href => '/courses'} Trang chủ
            %li.breadcum-divider /
            %li.breadcum-item
              %a{:href => '/courses/1'} Lập trình
      .row
        .col.s12
          %h4.category-title Lập trình
      .row{:style => 'margin-bottom: 0;'}
        .col.s4
          %ul.tabs.row
            %li.tab
              %a{:href => '#featured-courses'} Nổi bật
            %li.tab
              %a{:href => '#all-courses'} Tất cả các khoá học
  .row.category-main{:style => "display:none"}
    .col.sidebar
      %ul.course-filters
        %li.course-filter
          %p.course-filter-title Chi phí
          %ul.course-filter-content
            %li.course-filter-item
              %input#price-free-filter.filled-in{:type => 'checkbox'}
              %label{:for => 'price-free-filter'} Miễn phí (23)
            %li.course-filter-item
              %input#price-nonfree-filter.filled-in{:type => 'checkbox'}
              %label{:for => 'price-nonfree-filter'} Trả phí (233)
        %li.course-filter
          %p.course-filter-title Trình độ
          %ul.course-filter-content
            %li.course-filter-item
              %input#level-all-filter.filled-in{:type => 'checkbox'}
              %label{:for => 'level-all-filter'} Mọi trình độ (23)
            %li.course-filter-item
              %input#level-basic-filter.filled-in{:type => 'checkbox'}
              %label{:for => 'level-basic-filter'} Cơ bản (233)
            %li.course-filter-item
              %input#level-advanced-filter.filled-in{:type => 'checkbox'}
              %label{:for => 'level-advanced-filter'} Nâng cao (233)
      %ul.other-categories
        %li.other-categories-title Cách chủ đề khác
        %li.other-category 
          %a{:href => '/courses/1'} Phát triển web
        %li.other-category
          %a{:href => '/courses/1'} Ngôn ngữ lập trình
        %li.other-category
          %a{:href => '/courses/1'} Phát triển game
    .col.s9
      .row.sorting
        .input-field.col.s4
          %select.sorting-options
            %option{:value => '', :disabled => '', :selected => ''} Sắp xếp
            %option{:value => '1'} Đánh giá cao
            %option{:value => '2'} Mới nhất
            %option{:value => '3'} Miễn phí
            %option{:value => '4'} Giá thấp đến cao
            %option{:value => '5'} Giá cao đến thấp
      .row.courses.list-style
        .col.s12
          %a.row.course{:href => '/courses/1'}
            .col.s3.course-image
              = image_tag 'course-image.png'
            .col.s9
              %p.course-title The best Software Testing you will ever get. The best Software Testing you will ever get.
              %p.course-author By Vijay Shinde
              %p{:style => 'margin: 5px 0;'}
                %span.course-price 220.000đ
                %span.course-rating
                  %span.course-rating-point
                    %i.material-icons.is-rated star_rate
                    %i.material-icons star_rate
                    %i.material-icons star_rate
                    %i.material-icons star_rate
                    %i.material-icons star_rate
                  %span.course-rating-people (42222)
              %p.course-other-info 48 bài lý thuyết, 9 tiếng video
          %a.row.course{:href => '/courses/1'}
            .col.s3.course-image
              = image_tag 'course-image.png'
            .col.s9
              %p.course-title The best Software Testing you will ever get. The best Software Testing you will ever get.
              %p.course-author By Vijay Shinde
              %p{:style => 'margin: 5px 0;'}
                %span.course-price 220.000đ
                %span.course-rating
                  %span.course-rating-point
                    %i.material-icons.is-rated star_rate
                    %i.material-icons star_rate
                    %i.material-icons star_rate
                    %i.material-icons star_rate
                    %i.material-icons star_rate
                  %span.course-rating-people (42222)
              %p.course-other-info 48 bài lý thuyết, 9 tiếng video
          %a.row.course{:href => '/courses/1'}
            .col.s3.course-image
              = image_tag 'course-image.png'
            .col.s9
              %p.course-title The best Software Testing you will ever get. The best Software Testing you will ever get.
              %p.course-author By Vijay Shinde
              %p{:style => 'margin: 5px 0;'}
                %span.course-price 220.000đ
                %span.course-rating
                  %span.course-rating-point
                    %i.material-icons.is-rated star_rate
                    %i.material-icons star_rate
                    %i.material-icons star_rate
                    %i.material-icons star_rate
                    %i.material-icons star_rate
                  %span.course-rating-people (42222)
              %p.course-other-info 48 bài lý thuyết, 9 tiếng video
      .row
        %div.center-pagination
          %ul.pagination
            %li.disabled
              %a{:href => "#!"}
                %i.material-icons chevron_left
            %li.active
              %a{:href => "#!"} 1
            %li.waves-effect
              %a{:href => "#!"} 2
            %li.waves-effect
              %a{:href => "#!"} 3
            %li.waves-effect
              %a{:href => "#!"} 4
            %li.waves-effect
              %a{:href => "#!"} 5
            %li.waves-effect
              %a{:href => "#!"}
                %i.material-icons chevron_right

  .row.category-feature-main
    .col.sidebar
      %ul.other-categories
        %li.other-categories-title Cách chủ đề khác
        %li.other-category
          %a{:href => '/courses/1'} Phát triển web
        %li.other-category
          %a{:href => '/courses/1'} Ngôn ngữ lập trình
        %li.other-category
          %a{:href => '/courses/1'} Phát triển game
    .col.s9
      -# highest-rating
      .row.course-list.highest-rating
        .col.s12
          .row.course-list-header
            .col.s12
              %h5.course-list-header-title Được đánh giá cao
          .row.courses.card-style
            .col.s3
              %a.course{:href => '!#'}
                .card-image.course-image
                  = image_tag 'course-image.png'
                .card-content.course-content{:style => "height: 300px"}
                  .row.course-title
                    .col.s12.no-padding The best Software Testing you will ever get. The best Software Testing you will ever get.
                  .row.course-author
                    .col.s12.no-padding By Vijay Shinde
                  .row.course-rating
                    .col.s9.course-rating-point.no-padding
                      %i.material-icons.is-rated star_rate
                      %i.material-icons star_rate
                      %i.material-icons star_rate
                      %i.material-icons star_rate
                      %i.material-icons star_rate
                    .col.s3.course-rating-people.no-padding
                      (4511)
                  .row.course-footer
                    .col.s6.no-padding.course-favorite
                      %span.left
                        %i.material-icons.is-favorite favorite
                      %span.left 18.5K
                    .col.s6.no-padding.course-price{:style => "text-align:right;"}
                      220.000đ
            .col.s3
              %a.course{:href => '!#'}
                .card-image.course-image
                  = image_tag 'course-image.png'
                .card-content.course-content
                  .row.course-title
                    .col.s12.no-padding The best Software Testing you will ever get. The best Software Testing you will ever get.
                  .row.course-author
                    .col.s12.no-padding By Vijay Shinde
                  .row.course-rating
                    .col.s7.course-rating-point.no-padding
                      %i.material-icons.is-rated star_rate
                      %i.material-icons.is-rated star_rate
                      %i.material-icons star_rate
                      %i.material-icons star_rate
                      %i.material-icons star_rate
                    .col.s5.course-rating-people.no-padding
                      (4511)
                  .row.course-footer
                    .col.s6.no-padding.course-favorite
                      %span.left
                        %i.material-icons.is-favorite favorite
                      %span.left 18.5K
                    .col.s6.no-padding.course-price{:style => "text-align:right;"}
                      220.000đ
            .col.s3
              %a.course{:href => '!#'}
                .card-image.course-image
                  = image_tag 'course-image.png'
                .card-content.course-content
                  .row.course-title
                    .col.s12.no-padding The best Software Testing you will ever get. The best Software Testing you will ever get.
                  .row.course-author
                    .col.s12.no-padding By Vijay Shinde
                  .row.course-rating
                    .col.s7.course-rating-point.no-padding
                      %i.material-icons.is-rated star_rate
                      %i.material-icons.is-rated star_rate
                      %i.material-icons.is-rated star_rate
                      %i.material-icons.is-rated star_rate
                      %i.material-icons star_rate
                    .col.s5.course-rating-people.no-padding
                      (4511)
                  .row.course-footer
                    .col.s6.no-padding.course-favorite
                      %span.left
                        %i.material-icons.is-favorite favorite
                      %span.left 18.5K
                    .col.s6.no-padding.course-price.free{:style => "text-align:right;"}
                      Miễn phí
            .col.s3
              %a.course{:href => '!#'}
                .card-image.course-image
                  = image_tag 'course-image.png'
                .card-content.course-content
                  .row.course-title
                    .col.s12.no-padding The best Software Testing you will ever get. The best Software Testing you will ever get.
                  .row.course-author
                    .col.s12.no-padding By Vijay Shinde
                  .row.course-rating
                    .col.s7.course-rating-point.no-padding
                      %i.material-icons.is-rated star_rate
                      %i.material-icons.is-rated star_rate
                      %i.material-icons.is-rated star_rate
                      %i.material-icons.is-rated star_rate
                      %i.material-icons.is-rated star_rate
                    .col.s5.course-rating-people.no-padding
                      (4511)
                  .row.course-footer
                    .col.s6.no-padding.course-favorite
                      %span.left
                        %i.material-icons.is-favorite favorite
                      %span.left 18.5K
                    .col.s6.no-padding.course-price.free{:style => "text-align:right;"}
                      Miễn phí
      -# top-free
      .row.course-list.highest-rating
        .col.s12
          .row.course-list-header
            .col.s12
              %h5.course-list-header-title Top Free
          .row.courses.card-style
            - @courses["top_free"].each do |tf|
              .col.s3
                %a.course{:href => '!#'}
                  .card-image.course-image
                    = image_tag 'course-image.png'
                  .card-content.course-content{:style => "height: 300px"}
                    .row.course-title
                      .col.s12.no-padding= tf.name
                    .row.course-author
                      .col.s12.no-padding By Vijay Shinde
                    .row.course-rating
                      .col.s7.course-rating-point.no-padding
                        %i.material-icons.is-rated star_rate
                        %i.material-icons star_rate
                        %i.material-icons star_rate
                        %i.material-icons star_rate
                        %i.material-icons star_rate
                      .col.s5.course-rating-people.no-padding= '(' + tf.num_rate.to_s + ')'
                    .row.course-footer
                      .col.s6.no-padding.course-favorite
                        %span.left
                          %i.material-icons.is-favorite favorite
                        %span.left= tf.students.to_s
                      - if tf.price == 0
                        .col.s6.no-padding.course-price.free{:style => "text-align:right;"}
                          Miễn phí
                      - else
                        .col.s6.no-padding.course-price{:style => "text-align:right;"}= tf.price 
      -# top_paid
      .row.course-list.highest-rating
        .col.s12
          .row.course-list-header
            .col.s12
              %h5.course-list-header-title Top Paid
          .row.courses.card-style
            - @courses["top_paid"].each do |tp|
              .col.s3
                %a.course{:href => '!#'}
                  .card-image.course-image
                    = image_tag 'course-image.png'
                  .card-content.course-content{:style => "height: 300px"}
                    .row.course-title
                      .col.s12.no-padding= tp.name
                    .row.course-author
                      .col.s12.no-padding By Vijay Shinde
                    .row.course-rating
                      .col.s7.course-rating-point.no-padding
                        %i.material-icons.is-rated star_rate
                        %i.material-icons star_rate
                        %i.material-icons star_rate
                        %i.material-icons star_rate
                        %i.material-icons star_rate
                      .col.s5.course-rating-people.no-padding= '(' + tp.num_rate.to_s + ')'
                    .row.course-footer
                      .col.s6.no-padding.course-favorite
                        %span.left
                          %i.material-icons.is-favorite favorite
                        %span.left= tp.students.to_s 
                      - if tp.price == 0
                        .col.s6.no-padding.course-price.free{:style => "text-align:right;"}
                          Miễn phí
                      - else
                        .col.s6.no-padding.course-price{:style => "text-align:right;"}= tp.price                        
      -# newest
      .row.course-list.highest-rating
        .col.s12
          .row.course-list-header
            .col.s12
              %h5.course-list-header-title Newest
          .row.courses.card-style
            - @courses["newest"].each do |ne|
              .col.s3
                %a.course{:href => '!#'}
                  .card-image.course-image
                    = image_tag 'course-image.png'
                  .card-content.course-content{:style => "height: 300px"}
                    .row.course-title
                      .col.s12.no-padding= ne.name
                    .row.course-author
                      .col.s12.no-padding By Vijay Shinde
                    .row.course-rating
                      .col.s7.course-rating-point.no-padding
                        %i.material-icons.is-rated star_rate
                        %i.material-icons star_rate
                        %i.material-icons star_rate
                        %i.material-icons star_rate
                        %i.material-icons star_rate
                      .col.s5.course-rating-people.no-padding= '(' + ne.num_rate.to_s + ')'
                    .row.course-footer
                      .col.s6.no-padding.course-favorite
                        %span.left
                          %i.material-icons.is-favorite favorite
                        %span.left= ne.students.to_s 
                      - if ne.price == 0
                        .col.s6.no-padding.course-price.free{:style => "text-align:right;"}
                          Miễn phí
                      - else
                        .col.s6.no-padding.course-price{:style => "text-align:right;"}= ne.price                                             
      .row
        .col.s12
          .row
            .col.s12.related-category
              %h5.course-list-header-title Chủ đề liên quan
          .row
            .col.s3.center-align
              .row
                %a.related-icon{:href => "#"}
                  = image_tag 'design-icon.png'
              .row
                %a.related-text{:href => "#"}
                  Thiết kế
            .col.s3.center-align
              .row
                %a.related-icon{:href => "#"}
                  = image_tag 'technical-icon.png'
              .row
                %a.related-text{:href => "#"}
                  Công nghệ và phần mềm
            .col.s3.center-align
              .row
                %a.related-icon{:href => "#"}
                  = image_tag 'office-icon.png'
              .row
                %a.related-text{:href => "#"}
                  Ứng dụng văn phòng
            .col.s3.center-align
              .row
                %a.related-icon{:href => "#"}
                  = image_tag 'marketing-icon.png'
              .row
                %a.related-text{:href => "#"}
                  Marketing