= render :partial => 'components/header/default'
.container-wrapper{:style => "overflow: hidden;"} 
  .banner
    = render :partial => "components/banner/banner"
     
  %main.category
    .row.no-margin.category-header{:style => "background:#{@category.background_color}"}
      .row.container
        %ul.no-padding.breadcrumb
          %li 
            %a{:href => "/"}
              %i.fa.fa-home
          %li.breadcrumb-home
            %a{:href => "/"} Trang chủ 
          %li= @category.name 
        .row.no-margin.category-header-name 
          %h2= @category.name  
        .row.no-margin.category-header-navigation
          %ul.nav.nav-tabs
            %li
              %a{:href => "/courses/#{@category.id}"} Nổi bật   
            %li.active.disabled
              %a{:href => "javascript:void(0)"} Tất cả khoá học 
    .row.no-margin.category-all-courses
      %style .other-category a {color:#{@category.background_color} !important}
      %style .other-category a:hover {font-weight:bold !important}
      .container
        .col-lg-2.col-md-3.col-sm-3.col-xs-12.no-padding.category-all-courses-left
          = render :partial => 'components/courses/filter'
          .row.no-margin.other-category-container
            %label Các chủ đề khác 
            = render :partial => 'components/courses/other_category', :locals => {:other_categories => @other_category}
        .col-lg-10.col-md-9.col-sm-9.col-xs-12.category-all-courses-main
          = render :partial => 'components/courses/sorting'
          .row.no-margin.courses-result
            - @courses.each do |course|
              = render :partial => 'components/courses/list_card', :locals => {:course => course}
          .row.no-margin.courses-pagination
            %ul.pagination.pagination-md
              - if @page >= 1 && @total_page > 1
                / prev page 
                - if @page == 1
                  %li
                    %a.disable{:href => "javascript:void(0)", :val => ""} <
                - else 
                  %li
                    %a.page{:href => "javascript:void(0)", :val => (@page - 1).to_s} <
                - if @total_page <= 5
                  / progress with total page <= 5
                  - (1..@total_page).each do |i|
                    - if @page == i
                      %li.active
                        %a.page{:href => "javascript:void(0)", :val => ""}= i
                    - else
                      %li
                        %a.page{:href => "javascript:void(0)", :val => i}= i
                - else 
                  - if @page >= 4
                    %li
                      %a.page{:href => "javascript:void(0)", :val => 1} 1
                    %li
                      %a.page{:href => "javascript:void(0)", :val => 2} 2
                    %li 
                      %a ...
                    %li
                      %a.page{:href => "javascript:void(0)", :val => (@page - 1) }= @page - 1
                    %li
                      %a.page{:href => "javascript:void(0)", :val => @page }= @page
                  - else 
                    %li
                      %a.page{:href => "javascript:void(0)", :val => 1} 1
                    %li
                      %a.page{:href => "javascript:void(0)", :val => 2} 2
                    %li 
                      %a ...
                    %li
                      %a.page{:href => "javascript:void(0)", :val => (@page + 1) }= @page + 2 
                    %li
                      %a.page{:href => "javascript:void(0)", :val => (@page + 2)}= @page + 3
                / next page 
                - if @page == @total_page
                  %li
                    %a.disable{:href => "javascript:void(0)", :val => ""} >
                - else
                  %li
                    %a.page{:href => "javascript:void(0)", :val => (@page + 1).to_s} >
= render :partial => 'components/footer/index'