%header
  = render :partial => 'layouts/header'
  = render :partial => 'components/side_nav'

%main.category
  .row.category-header
    .row.container-1140{:style => "padding-left: 240px;"}
      .row
        .col.s12
          %ul.breadcum
            %li.breadcum-item
              %a{:href => '/courses'} Trang chủ
            %li.breadcum-divider /
            %li.breadcum-item
              %a{:href => '/courses/' + @category_id}= @category_name
      .row
        .col.s12
          %h4.category-title= @category_name
      .row{:style => 'margin-bottom: 0;'}
        .col.s12
          %ul.tab-category.no-margin
            %li
              %a{:href => '/courses/' + @category_id} Nổi bật
            %li.active
              %a{:href => "#"} Tất cả các khoá học
  .row.container-1140
    .col.sidebar
      %form#test-form{:action => '', :method => 'GET'}
        %input#page-index{:type => 'hidden', :name => 'page', :value => '1'}
        %input#sorting{:type => 'hidden', :name => 'ordering', :value => ''}
        %ul.course-filters
          %li.course-filter
            %p.course-filter-title Chi phí
            %ul.course-filter-content
              %li.course-filter-item
                %input#price-free-filter.filled-in{:type => 'checkbox', :name => 'budget', :value => 'free'}
                %label{:for => 'price-free-filter'} Miễn phí
              %li.course-filter-item
                %input#price-nonfree-filter.filled-in{:type => 'checkbox', :name => 'budget', :value => 'paid'}
                %label{:for => 'price-nonfree-filter'} Trả phí
          %li.course-filter
            %p.course-filter-title Ngôn ngữ
            %ul.course-filter-content
              %li.course-filter-item
                %input#language-en-filter.filled-in{:type => 'checkbox', :name => 'lang', :value => 'en'}
                %label{:for => 'language-en-filter'} Tiếng Anh
              %li.course-filter-item
                %input#language-vi-filter.filled-in{:type => 'checkbox', :name => 'lang', :value => 'vi'}
                %label{:for => 'language-vi-filter'} Tiếng Việt
          %li.course-filter
            %p.course-filter-title Trình độ
            %ul.course-filter-content
              %li.course-filter-item
                %input#level-all-filter.filled-in{:type => 'checkbox', :name => 'level', :value => 'all'}
                %label{:for => 'level-all-filter'} Mọi trình độ
              %li.course-filter-item
                %input#level-beginner-filter.filled-in{:type => 'checkbox', :name => 'level', :value => 'beginner'}
                %label{:for => 'level-beginner-filter'} Cơ bản
              %li.course-filter-item
                %input#level-basic-filter.filled-in{:type => 'checkbox', :name => 'level', :value => 'intermediate'}
                %label{:for => 'level-basic-filter'} Trung cấp
              %li.course-filter-item
                %input#level-advanced-filter.filled-in{:type => 'checkbox', :name => 'level', :value => 'expert'}
                %label{:for => 'level-advanced-filter'} Nâng cao
        %ul.other-categories
          %li.other-categories-title Cách chủ đề khác
          - @other_category.each do |cate|
            %li.other-category
              %a{:href => "/courses/#{cate.id}/all_courses"}= cate.name
    .col.s9
      .row.sorting
        .input-field.col.s4
          %select.sorting-options#sorting-options{:name => 'ordering'}
            %option{:value => '', :disabled => '', :selected => ''} Sắp xếp
            %option{:value => 'ratings'} Đánh giá cao
            %option{:value => 'newest'} Mới nhất
            %option{:value => 'price-low-to-high'} Giá thấp đến cao
            %option{:value => 'price-high-to-low'} Giá cao đến thấp
      .row.courses.list-style
        - @courses.each do |ac|
          .col.s12
            %a.row.course{:href => "/courses/#{ac.id}/detail"}
              .col.s3.course-image
                = image_tag ac.image
              .col.s9
                %p.course-title= ac.name
                %p.course-author #{ac.user.name}
                %p{:style => 'margin: 5px 0;'}
                - if ac.price.to_s == '0'
                  %span.course-price.red-text
                    Miễn phí
                - else
                  %span.course-price= ac.price
                  %span.course-rating
                    %span.course-rating-point
                      - (1..5).each do |i|
                        - if i <= ac.average_rating
                          %i.material-icons.is-rated star_rate
                        - else
                          %i.material-icons star_rate
                    %span.course-rating-people= '(' + ac.num_rate.to_s + ')'
                %p.course-other-info.fix-height-info= ac.benefit
                %span.blue-text Xem thêm
      .row
        %div.center-pagination
          %ul.pagination
            %li.disabled
              %a{:href => "#!"}
                %i.material-icons chevron_left
            - (1..@total_page).each do |page|
              %li{:style => 'cursor:pointer'}= page
            %li.waves-effect
              %a{:href => "#!"}
                %i.material-icons chevron_right
