= render :partial => 'components/header/default'
.container-wrapper{:style => "overflow: hidden;"}  
  .banner
    = render :partial => "components/banner/banner"
    
  %main.category
    .row.no-margin.category-header{:style => "background-color: #{@category.background_color}"}
      .row.container
        %ul.no-padding.breadcrumb
          %li 
            %a{:href => "/"}
              %i.fa.fa-home
          %li.breadcrumb-home
            %a{:href => "/"} Trang chủ 
          %li= @category.name 
        .row.no-margin.category-header-name 
          %h2= @category.name 
        .row.no-margin.category-header-navigation
          %ul.nav.nav-tabs
            %li.active.disabled
              %a{:href => ""} Nổi bật   
            %li
              %a{:href => "/courses/#{@category.alias_name}/all_courses"} Tất cả khoá học 
    .row.no-margin.category-feature-courses
      %style .other-category a {color:#{@category.background_color} !important}
      %style .other-category a:hover {font-weight:bold !important}
      .container
        .col-lg-2.col-md-3.col-sm-3.col-xs-12.no-padding.category-feature-courses-left
          .row.no-margin.other-category-container
            %label Các chủ đề khác 
            = render :partial => 'components/courses/other_category', :locals => {:other_categories => @other_category}
        .col-lg-10.col-md-12.col-sm-12.col-xs-12.category-feature-courses-main
          .row.card-category.no-margin
            - @courses.each do |category|
              - if category.last.last.count > 0
                .row.no-margin.feature-title
                  %h4= category.last.first
                  %a.btn.btn-default.btn-sm.load-more{:href => "/courses/#{@category.alias_name}/all_courses"} Xem tất cả
                .row.no-margin.feature-list-courses
                  %ul.card-container
                    - i = 1
                    - category.last.last.each do |course|
                      - if i%4 == 0
                        %li.course-card-item{:style => "margin-right: 0px"}
                          = render :partial => 'components/courses/course_card', :locals => {:course => course}
                      - else
                        %li.course-card-item
                          = render :partial => 'components/courses/course_card', :locals => {:course => course}
                      - i = i + 1
                %a.load-more-bottom{:href => "/courses/#{@category.alias_name}/all_courses"} Xem tất cả 
          .row.related-category
            %label.related-category-title Chủ đề liên quan
            .row.no-margin
              - @other_category.each do |category|
                .col-xs-6.col-sm-6.col-md-3.col-lg-3.relate-item
                  %a{:href => "/courses/#{category.alias_name}", :style => "color: #{@category.background_color}"}
                    .icon-category
                      %i.icons{:class => "#{category.icon}"}
                    .name-course= category.name                  
= render :partial => 'components/footer/index'