%header
  = render :partial => 'layouts/header'
  = render :partial => 'components/side_nav'

%banner
  .row
    .col.s12
      - if !@banner.blank?
        - if @banner.location == 'header'
          - if @banner.type == 'image'
            = render :partial => 'components/banner/banner_image', :locals => {:link => @banner.url, :target => @banner.target, :image => @banner.banner_image}
          - if @banner.type == 'popup'
            = render :partial => 'components/banner/banner_popup', :locals => {:link => @banner.url, :target => @banner.target, :image => @banner.banner_image} 

%main.category
  .row.category-header
    .row.container-1140{:style => "padding-left: 240px;"}
      .row
        .col.s12
          %ul.breadcum
            %li.breadcum-item
              %a{:href => '/courses'} Trang chủ
            %li.breadcum-divider /
            %li.breadcum-item
              %a{:href => '/courses/' + @category_id}= @category_name
      .row
        .col.s12
          %h4.category-title= @category_name
      .row{:style => 'margin-bottom: 0;'}
        .col.s12
          %ul.tab-category.no-margin
            %li
              %a{:href => '/courses/' + @category_id} Nổi bật
            %li.active
              %a{:href => "#"} Tất cả các khoá học
  .row.container-1140
    .col.sidebar
      %form#test-form{:action => '', :method => 'GET'}
        %input#page-index{:type => 'hidden', :name => 'page', :value => '1'}
        %input#sorting{:type => 'hidden', :name => 'ordering', :value => ''}
        %ul.course-filters
          %li.course-filter
            %p.course-filter-title Mức phí
            %ul.course-filter-content
              %li.course-filter-item
                %input#price-free-filter.filled-in{:type => 'checkbox', :name => 'budget', :value => 'free'}
                %label{:for => 'price-free-filter'} Miễn phí
              %li.course-filter-item
                %input#price-nonfree-filter.filled-in{:type => 'checkbox', :name => 'budget', :value => 'paid'}
                %label{:for => 'price-nonfree-filter'} Trả phí
          %li.course-filter
            %p.course-filter-title Ngôn ngữ
            %ul.course-filter-content
              %li.course-filter-item
                %input#language-en-filter.filled-in{:type => 'checkbox', :name => 'lang', :value => 'en'}
                %label{:for => 'language-en-filter'} Tiếng Anh
              %li.course-filter-item
                %input#language-vi-filter.filled-in{:type => 'checkbox', :name => 'lang', :value => 'vi'}
                %label{:for => 'language-vi-filter'} Tiếng Việt
          %li.course-filter
            %p.course-filter-title Trình độ
            %ul.course-filter-content
              %li.course-filter-item
                %input#level-all-filter.filled-in{:type => 'checkbox', :name => 'level', :value => 'all'}
                %label{:for => 'level-all-filter'} Tất cả
              %li.course-filter-item
                %input#level-beginner-filter.filled-in{:type => 'checkbox', :name => 'level', :value => 'beginner'}
                %label{:for => 'level-beginner-filter'} Cơ bản
              / %li.course-filter-item
              /   %input#level-basic-filter.filled-in{:type => 'checkbox', :name => 'level', :value => 'intermediate'}
              /   %label{:for => 'level-basic-filter'} Trung cấp
              %li.course-filter-item
                %input#level-advanced-filter.filled-in{:type => 'checkbox', :name => 'level', :value => 'expert'}
                %label{:for => 'level-advanced-filter'} Nâng cao
        %ul.other-categories
          %li.other-categories-title Các chủ đề khác
          - @other_category.each do |cate|
            %li.other-category
              %a{:href => "/courses/#{cate.id}/all_courses"}= cate.name
    .col.s9
      .row.sorting
        .input-field.col.s4
          %select.sorting-options#sorting-options{:name => 'ordering'}
            %option{:value => '', :disabled => '', :selected => ''} Sắp xếp
            %option{:value => 'ratings'} Đánh giá cao
            %option{:value => 'newest'} Mới nhất
            %option{:value => 'price-low-to-high'} Giá thấp đến cao
            %option{:value => 'price-high-to-low'} Giá cao đến thấp
      .row.courses.list-style
        - @courses.each do |ac|
          .col.s12
            = render :partial => 'components/courses/course_list', :locals => {:course => ac}
      .row
        - if @total_page.to_i > 1
        - @page = @page.to_i
          %div.center-pagination
            %ul.pagination  
              - if @page == 1
                %li.disable
                  %a{:herf => "#!"}
                    %i.material-icons chevron_left
                %li.waves-effect.page 1
                %li.waves-effect.page 2
                - if @total_page != 2
                  - if @total_page == 3
                    %li.waves-effect.page 3
                  - else 
                    %li ..
                    %li.waves-effect.page= @total_page
              - else
                %li.waves-effect#pre_page
                  %a{:href => "#!"}
                    %i.material-icons chevron_left
                - if @page > 3
                  %li.waves-effect.page 1
                  %li ..
                  %li.waves-effect.page= @page - 1
                  %li.waves-effect.page= @page
                - else
                  %li.waves-effect.page 1
                  - (2..@page).each do |i|
                    %li.waves-effect.page= i
                - if @page < (@total_page - 2)
                  %li.waves-effect.page= @page + 1
                  %li ..
                  %li.waves-effect.page= @total_page
                - else
                  - ((@page +1)..@total_page).each do |i|
                    %li.waves-effect.page= i
              - if @page == @total_page
                %li.disable
                  %a{:href => "#!"}
                    %i.material-icons chevron_right
              - else
                %li.waves-effect#next_page
                  %a{:href => "#!"}
                    %i.material-icons chevron_right