%header
  = render :partial => 'layouts/header'
  = render :partial => 'components/side_nav'

%main.category
  .row.category-header
    .row.container-1140{:style => "padding-left: 240px;"}
      .row
        .col.s12
          %ul.breadcum
            %li.breadcum-item
              %a{:href => '/courses'} Trang chủ
            %li.breadcum-divider
            %li.breadcum-item
              %a{:href => '/courses/1'} Lập trình
      .row
        .col.s12
          %h4.category-title Lập trình
      .row{:style => 'margin-bottom: 0;'}
        .col.s12
          %ul.tab-category.no-margin
            %li.active
              %a{:href => '#'} Nổi bật
            %li
              %a{:href => "#{@category_id}/all_courses"} Tất cả các khoá học
  .row.category-feature-main.container-1140
    .left.sidebar
      %ul.other-categories
        %li.other-categories-title Cách chủ đề khác
        - @other_category.each do |cate|
          %li.other-category
            %a{:href => "/courses/#{cate.id}"}= cate.name
    .col.s9.no-padding
      -# top-free
      - if @courses["top_free"].last.count > 0
        .row.course-list.highest-rating
          .col.s12.no-padding
            .row.course-list-header
              .col.s12
                %h5.course-list-header-title= @courses["top_free"].first
            .row.courses.card-style
              - @courses["top_free"].last.each do |tf|
                .col.s4
                  %a.course{:href => "/courses/#{tf.id}/detail"}
                    .card-image.course-image
                      = image_tag 'course-image.png'
                    .card-content.course-content
                      .row.course-title
                        .col.s12.no-padding.fix-height= tf.name
                      .row.course-author
                        .col.s12.no-padding #{tf.user.name}
                      .row.course-rating
                        .col.s7.course-rating-point.no-padding
                          - (1..5).each do |i|
                            - if i <= tf.average_rating
                              %i.material-icons.is-rated star_rate
                            - else
                              %i.material-icons star_rate
                        .col.s5.course-rating-people.no-padding= '(' + tf.num_rate.to_s + ')'
                      .row.course-footer
                        .col.s6.no-padding.course-favorite
                          %span.left
                            %i.material-icons.is-favorite favorite
                          %span.left= tf.students.to_s
                        - if tf.price == 0
                          .col.s6.no-padding.course-price.free{:style => "text-align:right;"}
                            Miễn phí
                        - else
                          .col.s6.no-padding.course-price{:style => "text-align:right;"}= tf.price.to_s + "đ"
      -# top_paid
      .row.course-list.highest-rating
        .col.s12.no-padding
          - if @courses["top_paid"].last.count > 0
            .row.course-list-header
              .col.s12
                %h5.course-list-header-title= @courses["top_paid"].first
            .row.courses.card-style
              - @courses["top_paid"].last.each do |tp|
                .col.s4
                  %a.course{:href => "/courses/#{tp.id}/detail"}
                    .card-image.course-image
                      = image_tag 'course-image.png'
                    .card-content.course-content
                      .row.course-title
                        .col.s12.no-padding.fix-height= tp.name
                      .row.course-author
                        .col.s12.no-padding #{tp.user.name}
                      .row.course-rating
                        .col.s7.course-rating-point.no-padding
                          - (1..5).each do |i|
                            - if i <= tp.average_rating
                              %i.material-icons.is-rated star_rate
                            - else
                              %i.material-icons star_rate
                        .col.s5.course-rating-people.no-padding= '(' + tp.num_rate.to_s + ')'
                      .row.course-footer
                        .col.s6.no-padding.course-favorite
                          %span.left
                            %i.material-icons.is-favorite favorite
                          %span.left= tp.students.to_s
                        - if tp.price == 0
                          .col.s6.no-padding.course-price.free{:style => "text-align:right;"}
                            Miễn phí
                        - else
                          .col.s6.no-padding.course-price{:style => "text-align:right;"}= tp.price.to_s + "đ"
      -# newest
      .row.course-list.highest-rating
        .col.s12.no-padding
          - if @courses["newest"].last.count > 0
            .row.course-list-header
              .col.s12
                %h5.course-list-header-title= @courses["newest"].first
            .row.courses.card-style
              - @courses["newest"].last.each do |ne|
                .col.s4
                  %a.course{:href => "/courses/#{ne.id}/detail"}
                    .card-image.course-image
                      = image_tag 'course-image.png'
                    .card-content.course-content
                      .row.course-title
                        .col.s12.no-padding.fix-height= ne.name
                      .row.course-author
                        .col.s12.no-padding #{ne.user.name}
                      .row.course-rating
                        .col.s7.course-rating-point.no-padding
                          - (1..5).each do |i|
                            - if i <= ne.average_rating
                              %i.material-icons.is-rated star_rate
                            - else
                              %i.material-icons star_rate
                        .col.s5.course-rating-people.no-padding= '(' + ne.num_rate.to_s + ')'
                      .row.course-footer
                        .col.s6.no-padding.course-favorite
                          %span.left
                            %i.material-icons.is-favorite favorite
                          %span.left= ne.students.to_s
                        - if ne.price == 0
                          .col.s6.no-padding.course-price.free{:style => "text-align:right;"}
                            Miễn phí
                        - else
                          .col.s6.no-padding.course-price{:style => "text-align:right;"}= ne.price.to_s + "đ"
      .row
        .col.s12.no-padding
          .row
            .col.s12.related-category
              %h5.course-list-header-title Chủ đề liên quan
          .row
            .col.s3.center-align
              .row
                %a.related-icon{:href => "#"}
                  = image_tag 'design-icon.png'
              .row
                %a.related-text{:href => "#"}
                  Thiết kế
            .col.s3.center-align
              .row
                %a.related-icon{:href => "#"}
                  = image_tag 'technical-icon.png'
              .row
                %a.related-text{:href => "#"}
                  Công nghệ và phần mềm
            .col.s3.center-align
              .row
                %a.related-icon{:href => "#"}
                  = image_tag 'office-icon.png'
              .row
                %a.related-text{:href => "#"}
                  Ứng dụng văn phòng
            .col.s3.center-align
              .row
                %a.related-icon{:href => "#"}
                  = image_tag 'marketing-icon.png'
              .row
                %a.related-text{:href => "#"}
                  Marketing

