.layout-320
  .header
    = render :partial => 'components/header/default'
    .container-wrapper{:style => "overflow: hidden;"}
      %main.courses-select
        .row.no-margin.top
          .col-xs-12.no-padding
            .container
              .row.no-margin.course-image
                .col-xs-12
                  = image_tag @course.image
              .row.no-margin.course-info
                .col-xs-12.no-padding
                  .row.no-margin
                    .col-xs-12
                      %span.normal-text{:style => "font-size: 16px"} Chúc mừng, bạn đã tham gia khóa học
                  .row.no-margin
                    .col-xs-12
                      %span.normal-text
                        %b= @course.name
                  .row.no-margin
                    .col-xs-12
                      %span.normal-text hướng dẫn bởi
                      = succeed "" do
                        %b= @course.user.name
              .row.no-margin
                .col-xs-6.col-xs-offset-3.no-padding
                  %a.btn.btn-info.btn-raised.btn-lg.learning-button{:href => "/courses/"+@course.alias_name+"/learning"} Tiếp tục khóa học
        .row.no-margin
          .col-xs-12
            .container
              - @courses.to_a.each do |course_h|
                - if course_h.last.last.count >0
                  .row.course-list-header
                    .col-xs-12.no-padding
                      %h3{:style => "font-weight: 400"}= course_h.last.first
                  .row.courses.card-style
                    - course_h.last.last.to_a.each do |c|
                      .col-xs-12.no-padding
                        = render :partial => 'components/courses/list_card', :locals => {course: c}
  = render :partial => 'components/footer/index'

.layout-480-up.hidden-sm.hidden-md.hidden-lg
  .header
    = render :partial => 'components/header/default'
    .container-wrapper{:style => "overflow: hidden;"}
      %main.courses-select
        .row.no-margin.top
          .col-xs-12.no-padding
            .container
              .row.no-margin.course-image
                .col-xs-8.col-xs-offset-2
                  =image_tag @course.image
              .row.no-margin.course-info
                .col-xs-12.no-padding
                  .row.no-margin
                    .col-xs-12
                      %span.normal-text{:style => "font-size: 16px"} Chúc mừng, bạn đã tham gia khóa học
                  .row.no-margin
                    .col-xs-12
                      %span.normal-text
                        %b= @course.name
                  .row.no-margin
                    .col-xs-12
                      %span.normal-text hướng dẫn bởi
                      = succeed "" do
                        %b= @course.user.name
              .row.no-margin
                .col-xs-4.col-xs-offset-4.no-padding
                  %a.btn.btn-info.btn-raised.btn-lg.learning-button{:href => "/courses/"+@course.alias_name+"/learning"} Tiếp tục khóa học
        .row.no-margin
          .col-xs-12
            .container
              - @courses.to_a.each do |course_h|
                - if course_h.last.last.count >0
                  .row.course-list-header
                    .col-xs-12.no-padding
                      %h3{:style => "font-weight: 400"}= course_h.last.first
                  .row.courses.card-style
                    - course_h.last.last.to_a.each do |c|
                      .col-xs-12.no-padding
                        = render :partial => 'components/courses/list_card', :locals => {course: c}
  = render :partial => 'components/footer/index'

.layout-480-up.hidden-xs
  = render :partial => 'components/header/default'
  .container-wrapper{:style => "overflow: hidden;"}
    %main.courses-select
      .row.no-margin.top
        .col-xs-12.no-padding
          .container
            .row.no-margin
              .col-sm-4.col-md-3.col-lg-3.no-padding.course-image
                = image_tag @course.image
              .col-sm-8.col-md-9.col-lg-9.pill-left
                .row.no-margin{:style => "margin-top: 10px !important"}
                  .col-sm-12.col-md-12.col-lg-12.no-padding
                    %span.normal-text{:style => "font-size: 16px"} Chúc mừng, bạn đã tham gia khóa học
                .row.no-margin
                  .col-sm-12.col-md-12.col-lg-12.no-padding
                    %span.normal-text
                      %b= @course.name
                .row.no-margin
                  .col-sm-12.col-md-12.col-lg-12.no-padding
                    %span.normal-text hướng dẫn bởi
                    = succeed "" do
                      %b= @course.user.name
                .row.no-margin
                  .col-sm-3.col-md-2.col-lg-2.no-padding
                    %a.btn.btn-info.btn-raised.btn-lg.learning-button{:href => "/courses/"+@course.alias_name+"/learning"}Tiếp tục khóa học
      .row.no-margin
        .col-sm-12.col-md-12.col-lg-12
          - @courses.to_a.each do |course_h|
            - if course_h.last.last.count > 0
              .row.course-list-header
                .col-sm-12.col-md-12.col-lg-12.no-padding
                  %h3{:style => "font-weight: 400"}= course_h.last.first
              .row.courses.card-style
                - course_h.last.last.to_a.each do |c|
                  .col-sm-4.col-sm-offset-2.col-md-3.col-md-offset-1.col-lg-3.col-lg-offset-1.no-padding
                    = render :partial => 'components/courses/course_card', :locals => {:course => c}
  = render :partial => 'components/footer/index'
