= render :partial => "components/header/default"
.container-wrapper{:style => "overflow: hidden;"}
  .banner
    = render :partial => "components/banner/banner"

  .select
    .select-header
      .container
        .row
          .col-xs-12.col-sm-4.col-md-3
            .select-header-image
              = image_tag @course.image
          .col-xs-12.col-sm-8.col-md-9.select-header-content
            .select-header-text
              .text-congratulations Chúc mừng, bạn đã tham gia vào khóa học
              .text-name-course.bold #{@course.name}
              .test-author 
                được hướng dẫn bởi
                %span.bold #{@course.user.name}
            %a.btn.btn-default.select-button.bold.btn-lg{:href => "/courses/#{@course.alias_name}/learning"} Tiếp tục khóa học
    .select-courses
      .container
        - @courses.each_value do |category|
          .col-sm-12.category-title #{category.first}
          .col-sm-12.no-padding
            - @list_courses = category.last
            .list-courses-card
              - @list_courses.each do |course|
                = render :partial => 'components/courses/course_card',:locals => {:course => course}
            .list-courses-list
              - @list_courses.each do |course|
                = render :partial => 'components/courses/list_card',:locals => {:course => course}
= render :partial => 'components/footer/index'
