%header
  = render :partial => 'layouts/header'
  = render :partial => 'components/fixed_side_nav'
%main{:style => 'padding-left: 240px;'}
  .row.courses.list-style.grey.lighten-2
    .col.s12
      .row.course-detail
        .col.s3.valign-wrapper
          %a.course.no-padding{:href => '!#'}
            .card-image.course-image
              = image_tag 'course-image.png'
        .col.s8{:style => ''}
          .course-author
            Chúc mừng bạn đã tham gia vào khóa học
          .course-title
            Learn PHP Fundamentals From Scratch
          .course-other-info
            được hướng dẫn bởi Eduonix Learning Solutions
          %a.btn{:href => '!#'}
            Tiếp tục khóa học
  .row.course-list.highest-rating
    .col.s12
      .row.course-list-header
        .col.s12
          %h5.course-list-header-title Được đánh giá cao
      .row.courses.card-style
        .col.s3
          %a.course{:href => '!#'}
            .card-image.course-image
              = image_tag 'course-image.png'
            .card-content.course-content
              .row.course-title
                .col.s12.no-padding The best Software Testing you will ever get. The best Software Testing you will ever get.
              .row.course-author
                .col.s12.no-padding By Vijay Shinde
              .row.course-rating
                .col.s7.course-rating-point.no-padding
                  %i.material-icons.is-rated star_rate
                  %i.material-icons star_rate
                  %i.material-icons star_rate
                  %i.material-icons star_rate
                  %i.material-icons star_rate
                .col.s5.course-rating-people.no-padding
                  (4511)
              .row.course-footer
                .col.s6.no-padding.course-favorite
                  %span.left
                    %i.material-icons.is-favorite favorite
                  %span.left 18.5K
                .col.s6.no-padding.course-price{:style => "text-align:right;"}
                  220.000đ
        .col.s3
          %a.course{:href => '!#'}
            .card-image.course-image
              = image_tag 'course-image.png'
            .card-content.course-content
              .row.course-title
                .col.s12.no-padding The best Software Testing you will ever get. The best Software Testing you will ever get.
              .row.course-author
                .col.s12.no-padding By Vijay Shinde
              .row.course-rating
                .col.s7.course-rating-point.no-padding
                  %i.material-icons.is-rated star_rate
                  %i.material-icons.is-rated star_rate
                  %i.material-icons star_rate
                  %i.material-icons star_rate
                  %i.material-icons star_rate
                .col.s5.course-rating-people.no-padding
                  (4511)
              .row.course-footer
                .col.s6.no-padding.course-favorite
                  %span.left
                    %i.material-icons.is-favorite favorite
                  %span.left 18.5K
                .col.s6.no-padding.course-price{:style => "text-align:right;"}
                  220.000đ
        .col.s3
          %a.course{:href => '!#'}
            .card-image.course-image
              = image_tag 'course-image.png'
            .card-content.course-content
              .row.course-title
                .col.s12.no-padding The best Software Testing you will ever get. The best Software Testing you will ever get.
              .row.course-author
                .col.s12.no-padding By Vijay Shinde
              .row.course-rating
                .col.s7.course-rating-point.no-padding
                  %i.material-icons.is-rated star_rate
                  %i.material-icons.is-rated star_rate
                  %i.material-icons.is-rated star_rate
                  %i.material-icons.is-rated star_rate
                  %i.material-icons star_rate
                .col.s5.course-rating-people.no-padding
                  (4511)
              .row.course-footer
                .col.s6.no-padding.course-favorite
                  %span.left
                    %i.material-icons.is-favorite favorite
                  %span.left 18.5K
                .col.s6.no-padding.course-price.free{:style => "text-align:right;"}
                  Miễn phí
        .col.s3
          %a.course{:href => '!#'}
            .card-image.course-image
              = image_tag 'course-image.png'
            .card-content.course-content
              .row.course-title
                .col.s12.no-padding The best Software Testing you will ever get. The best Software Testing you will ever get.
              .row.course-author
                .col.s12.no-padding By Vijay Shinde
              .row.course-rating
                .col.s7.course-rating-point.no-padding
                  %i.material-icons.is-rated star_rate
                  %i.material-icons.is-rated star_rate
                  %i.material-icons.is-rated star_rate
                  %i.material-icons.is-rated star_rate
                  %i.material-icons.is-rated star_rate
                .col.s5.course-rating-people.no-padding
                  (4511)
              .row.course-footer
                .col.s6.no-padding.course-favorite
                  %span.left
                    %i.material-icons.is-favorite favorite
                  %span.left 18.5K
                .col.s6.no-padding.course-price.free{:style => "text-align:right;"}
                  Miễn phí
  .row.course-list.top-paid
    .col.s12
      .row.course-list-header
        .col.s12
          %h5.course-list-header-title Top trả phí
      .row.courses.card-style
        .col.s3
          %a.course{:href => '!#'}
            .card-image.course-image
              = image_tag 'course-image.png'
            .card-content.course-content
              .row.course-title
                .col.s12.no-padding The best Software Testing you will ever get. The best Software Testing you will ever get.
              .row.course-author
                .col.s12.no-padding By Vijay Shinde
              .row.course-rating
                .col.s7.course-rating-point.no-padding
                  %i.material-icons.is-rated star_rate
                  %i.material-icons star_rate
                  %i.material-icons star_rate
                  %i.material-icons star_rate
                  %i.material-icons star_rate
                .col.s5.course-rating-people.no-padding
                  (4511)
              .row.course-footer
                .col.s6.no-padding.course-favorite
                  %span.left
                    %i.material-icons.is-favorite favorite
                  %span.left 18.5K
                .col.s6.no-padding.course-price{:style => "text-align:right;"}
                  220.000đ
        .col.s3
          %a.course{:href => '!#'}
            .card-image.course-image
              = image_tag 'course-image.png'
            .card-content.course-content
              .row.course-title
                .col.s12.no-padding The best Software Testing you will ever get. The best Software Testing you will ever get.
              .row.course-author
                .col.s12.no-padding By Vijay Shinde
              .row.course-rating
                .col.s7.course-rating-point.no-padding
                  %i.material-icons.is-rated star_rate
                  %i.material-icons.is-rated star_rate
                  %i.material-icons star_rate
                  %i.material-icons star_rate
                  %i.material-icons star_rate
                .col.s5.course-rating-people.no-padding
                  (4511)
              .row.course-footer
                .col.s6.no-padding.course-favorite
                  %span.left
                    %i.material-icons.is-favorite favorite
                  %span.left 18.5K
                .col.s6.no-padding.course-price{:style => "text-align:right;"}
                  220.000đ
        .col.s3
          %a.course{:href => '!#'}
            .card-image.course-image
              = image_tag 'course-image.png'
            .card-content.course-content
              .row.course-title
                .col.s12.no-padding The best Software Testing you will ever get. The best Software Testing you will ever get.
              .row.course-author
                .col.s12.no-padding By Vijay Shinde
              .row.course-rating
                .col.s7.course-rating-point.no-padding
                  %i.material-icons.is-rated star_rate
                  %i.material-icons.is-rated star_rate
                  %i.material-icons.is-rated star_rate
                  %i.material-icons.is-rated star_rate
                  %i.material-icons star_rate
                .col.s5.course-rating-people.no-padding
                  (4511)
              .row.course-footer
                .col.s6.no-padding.course-favorite
                  %span.left
                    %i.material-icons.is-favorite favorite
                  %span.left 18.5K
                .col.s6.no-padding.course-price.free{:style => "text-align:right;"}
                  Miễn phí
        .col.s3
          %a.course{:href => '!#'}
            .card-image.course-image
              = image_tag 'course-image.png'
            .card-content.course-content
              .row.course-title
                .col.s12.no-padding The best Software Testing you will ever get. The best Software Testing you will ever get.
              .row.course-author
                .col.s12.no-padding By Vijay Shinde
              .row.course-rating
                .col.s7.course-rating-point.no-padding
                  %i.material-icons.is-rated star_rate
                  %i.material-icons.is-rated star_rate
                  %i.material-icons.is-rated star_rate
                  %i.material-icons.is-rated star_rate
                  %i.material-icons.is-rated star_rate
                .col.s5.course-rating-people.no-padding
                  (4511)
              .row.course-footer
                .col.s6.no-padding.course-favorite
                  %span.left
                    %i.material-icons.is-favorite favorite
                  %span.left 18.5K
                .col.s6.no-padding.course-price.free{:style => "text-align:right;"}
                  Miễn phí
  

