= render :partial => "devise/registrations/new"
= render :partial => "devise/sessions/new"
/ Màn hình từ 320px đến 1200px
.hidden-lg
  .row.no-margin
    .col-xs-12.col-sm-12.col-md-12.no-padding
      %header.header-primary
        .header-inner
          .header-col
            .btn-group.cats-dropdown
              .dropdown-toggle.active-nav-2.active-nav-with-text{"data-dropdown-container" => ".slider-sidebar-wrapper.slider-sidebar-mobile", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", "data-fixed" => "false"}
                %i.fa.fa-bars
                %span.active-nav-text Danh sách khoá học
              = render :partial => "components/dropdown_menu_category"
            = render :partial => "components/search_box"
            .btn-group.search-dropdown
              .dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                %i.fa.fa-search
              .dropdown-menu
                = render :partial => "components/search_box"
          .header-col
            .logo
              %a{:href => "/courses"}= image_tag "logo-360.png"
          .header-col.text-right
            - if !current_user
              / %a.btn.btn-default.btn-flat.hidden-xs.hidden-sm{"data-toggle" => "modal", "data-target" => "#register-modal", :style => "color: #fff"}
              /   Đăng kí
              /   .ripple-wrapper
              %a.btn.btn-default.btn-flat.button-header{"data-toggle" => "modal", "data-target" => "#login-modal", :style => "color: #fff"}
                Đăng nhập
                .ripple-wrapper
            - else
              = render :partial => "components/user_dropdown"
        .slider-sidebar-wrapper.slider-sidebar-mobile
          = render :partial => "components/dropdown_menu_category"
      .container-wrapper{:style => "overflow: hidden;"}
        .row.no-margin.landingpage
          .col-xs-12.col-ld-12.col-md-12.no-padding
            .row.no-margin.header-box
              .col-xs-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1
                %h4.no-margin.header-title Khóa học nào sẽ thay đổi cuộc đời bạn?
              .col-xs-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1
                %h5.header-description Làm chủ tương lai của bạn bằng cách học thêm các kỹ năng online
              .col-xs-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.search-landingpage
                = render :partial => "components/search_box"
            .container
              .row.no-margin.categories
                .layout-320
                  %h4.categories-title Khám phá những chủ đề 
                  %h4.categories-title và khóa học phổ biến
                .layout-480-up
                  %h4.categories-title Khám phá những chủ đề và khóa học phổ biến
                .category
                  %a{:href => "#"}= image_tag "topic-bg-python.png"
                .category
                  %a{:href => "#"}= image_tag "topic-bg-java.png"
                .category
                  %a{:href => "#"}= image_tag "topic-bg-excel.png"
              .row.no-margin.courses
                - if @courses
                  - @courses.each do |c|
                    .course
                      = render :partial => 'components/courses/landingpage_card', :locals => {:course => c}
              .row.no-margin.register
                .col-xs-12.col-sm-12.col-md-12.no-padding
                  %a.btn.btn-info.btn-raised.btn-lg.other-course-button{:href => "/courses", :style => "font-size: 16px"} Khám phá các khóa học khác
                .col-xs-12.col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.no-padding
                  %h5.hook-1 Sẵn sàng để làm chủ những kỹ năng mới?
                .col-xs-12.col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.no-padding
                  %h5.hook-2 Đưa sự nghiệp của bạn lên tầm cao mới!
                .col-xs-12.col-sm-12.col-md-12.no-padding
                  %a.btn.btn-success.btn-raised.btn-lg.register-button{"data-toggle" => "modal", "data-target" => "#register-modal"} Đăng ký ngay
      = render :partial => 'components/footer/index'
/Màn hình từ 1200px trở lên 
.hidden-xs.hidden-sm.hidden-md
  .row.no-margin.landingpage
    .col-lg-12.no-padding
      .row.no-margin.home-top
        #carousel.carousel.slide.carousel-fade{"data-ride" => "carousel"}
          .carousel-inner
            .active.item
              .fill{:style => "background-image:url(http://i.imgur.com/lxhmRxp.jpg); width: 100%; background-size: 100% 715px;"}
              / .fill{:style => "background-image:url(assets/landing-page-6.png)"}
            .item
              .fill{:style => "background-image:url(http://i.imgur.com/5LHDj0e.jpg); width: 100%; background-size: 100% 715px;"}
              / .fill{:style => "background-image:url(assets/landing-page-1.jpg)"}
            .item
              .fill{:style => "background-image:url(http://i.imgur.com/8uCVojD.jpg); width: 100%; background-size: 100% 715px;"}
              / .fill{:style => "background-image:url(assets/landing-page-2.jpg)"}
            .item
              .fill{:style => "background-image:url(http://i.imgur.com/m4Srb02.jpg); width: 100%; background-size: 100% 715px;"}
              / .fill{:style => "background-image:url(assets/landing-page-3.jpg)"}
            .item
              .fill{:style => "background-image:url(http://i.imgur.com/HHkcMSE.jpg); width: 100%; background-size: 100% 715px;"}
              / .fill{:style => "background-image:url(assets/landing-page-4.jpg)"}
            .item
              .fill{:style => "background-image:url(http://i.imgur.com/JtYIHX0.png); width: 100%; background-size: 100% 715px;"}
              / .fill{:style => "background-image:url(assets/landing-page-5.jpg)"}
      .row.no-margin.flex-box
        .col-lg-12.no-padding
          .splash-box
            .row.no-margin
              .col-lg-12.no-padding
                %span.splash-box-title Khóa học nào sẽ thay đổi cuộc đời bạn?
            .row.no-margon
              .col-lg-12.no-padding
                %span.splash-box-subtitle Làm chủ tương lai của bạn bằng cách học thêm các kỹ năng online
            .row.no-margin
              .col-lg-12.no-padding.search-landingpage
                = render :partial => "components/search_box"
            .row.no-margin.hooks
              .col-lg-4.no-padding
                .row.no-margin.hook
                  .hook-icon
                    %i.fa.fa-credit-card
                  .hook-title
                    %h5.nomarl-text.no-margin Thanh toán một lần học trọn đời
              .col-lg-4.no-padding
                .row.no-margin.hook
                  .hook-icon
                    %i.fa.fa-refresh
                  .hook-title
                    %h5.nomarl-text.no-margin Hoàn tiền sau 30 ngày nếu không hài lòng
              .col-lg-4.no-padding
                .row.no-margin.hook
                  .hook-icon
                    %i.fa.fa-globe
                  .hook-title
                    %h5.nomarl-text.no-margin Học mọi lúc mọi nơi
      .row.no-margin.no-padding.home-main.container
        .row.no-margin.categories
          .category-big
            %a{:href => "#"}= image_tag "topic-bg-python-1200.png"
          .category{:style => "margin-bottom: 20px"}
            %a{:href => "#"}= image_tag "topic-bg-java-1200.png", :style => "margin-bottom: 20px"
            %a{:href => "#"}= image_tag "topic-bg-excel-1200.png"
        .row.no-margin.courses
          - if @courses
            - @courses.each do |c|
              .course
                = render :partial => 'components/courses/landingpage_card', :locals => {:course => c}
        .row.no-margin.register
          .col-lg-12
            .row.no-margin{:style => "max-width: 1153px;margin: auto !important;text-align: center;"}
              .col-lg-12.no-padding
                %a.btn.btn-info.btn-raised.btn-lg.other-course-button{:href => "/courses"} Khám phá các khóa học khác
            .row.no-margin
              .col-lg-6.col-lg-offset-3.no-padding
                %h5.hook-1 Sẵn sàng để làm chủ những kỹ năng mới?
            .row.no-margin
              .col-lg-4.col-lg-offset-4.no-padding
                %h5.hook-2 Đưa sự nghiệp của bạn lên tầm cao mới!
            .row.no-margin
              .col-lg-4.col-lg-offset-4.no-padding
                %a.btn.btn-success.btn-raised.btn-lg.register-button{"data-toggle" => "modal", "data-target" => "#register-modal"} Đăng ký ngay
        = render :partial => 'components/footer/index'
  %header.header-landingpage
    .header-inner
      .header-col
      .header-col
        .logo
          %a{:href => "/courses"}= image_tag "logo-360.png"
      .header-col.text-right
        %a.btn.btn-default.btn-flat.button-header.hidden-xs.hidden-sm{"data-toggle" => "modal", "data-target" => "#register-modal", :style => "color: #fff"} Đăng ký
        %a.btn.btn-default.btn-flat.button-header{"data-toggle" => "modal", "data-target" => "#login-modal", :style => "color: #fff"}Đăng nhập

        