.home.container-1140
  %header.landingpage-header
    = render :partial => 'header'
  .home-top.flex-box
    .splash-box
      %span.splash-box-title Khóa học nào sẽ thay đổi cuộc đời bạn?
      %span.splash-box-subtitle Làm chủ tương lai của bạn bằng cách học thêm các kỹ năng online
      %form{:action => '/courses/search', :method => 'GET', :id => 'search-form'}
        .input-field
          %input#course-search{:type => 'text', :name => 'q', :placeholder => 'Tìm kiếm khóa học'}
          %label{:for => 'course-search'}
            %i.material-icons search
      .row.hooks
        .col.s4.hook
          %i.material-icons.left group
          %span.hook-text Hơn 7 triệu học viên
        .col.s4.hook
          %i.material-icons.left book
          %span.hook-text Trên 30.000 khóa học
        .col.s4.hook
          %i.material-icons.left smartphone
          %span.hook-text Học mọi nơi trên mọi thiết bị
  .home-main.container-1140
    .row
      .col.s12
        - if !@banner.blank?
          - if @banner.location == 'header'
            - if @banner.type == 'image'
              = render :partial => 'components/banner/banner_image', :locals => {:link => @banner.url, :target => @banner.target, :image => @banner.banner_image}
            - if @banner.type == 'popup'
              = render :partial => 'components/banner/banner_popup'
    .row
      .col.s12
        .home-headline Khám phá những chủ đề và khóa học phổ biến
    .row.courses.card-style
      - if @courses
        - @courses.each do |c|
          .col.s3
            %a.course{:href => '/courses/'+c.alias_name+'/detail', :style => "height: 360px"}
              .card-image.course-image
                = image_tag c.image
              .card-content.course-content
                .col.s12.no-padding{:style => "height: 122px"}
                  .row.course-title
                    .col.s12.no-padding.fix-height= c.name 
                  .row.course-author
                    - if c.user
                      .col.s12.no-padding= c.user.name
                    - else
                      .col.s12.no-padding Tudemy
                .col.s12.no-padding
                  .row.course-rating.no-margin
                    .col.s7.course-rating-point.no-padding
                      - (1..5).each do |i|
                        - if i <= c.average_rating
                          %i.material-icons.is-rated star_rate
                        - else
                          %i.material-icons star_rate
                    .col.s5.course-rating-people.no-padding= '(' + c.num_rate.to_s + ')'
                  .row
                    .col.s7.no-padding.course-favorite
                      %span.left
                        %i.material-icons.is-favorite group
                      - if c.students < 1000
                        %span.left{:style => "font-size: 13px;color: #999;line-height: 24px"}= c.students.to_s + 'tham gia'
                      - else
                        %span.left{:style => "font-size: 13px;color: #999;line-height: 24px"}=  (c.students.to_f/1000).round(1).to_s + 'K tham gia'
                    - if c.price == 0
                      .col.s5.no-padding.course-price.free{:style => "text-align:right;"} Miễn phí
                    - else
                      .col.s5.no-padding.course-price{:style => "text-align:right;"}
                        = number_to_currency(c.price, :locale => 'vi', :unit => 'đ', :precision => 0, :delimiter => ",", :format => "%n%u")                 
    .row
      .col.s12
        %a.btn.btn-large.waves-effect{:style => 'width: 100%; font-size: 24px; font-weight: 500; height: 85px; line-height: 84px;', :href => '/courses'} Khám phá các khóa học khác
    .row{:style => 'text-align: center; margin-bottom: 60px;'}
      %p{:style => 'font-size: 48px; margin-bottom: 0;'} Sẵn sàng để làm chủ những kỹ năng mới?
      %p{:style => 'font-size: 32px; margin-top: 0;'} Đưa sự nghiệp của bạn lên tầm cao mới!
      %a.btn.modal-trigger.waves-effect.deep-orange{:style => 'height: 70px; line-height: 70px;', :href => '#modal-register'} Đăng ký ngay     
