= render :partial => 'components/header/default'
.container-wrapper{:style => "overflow: hidden;"}
	.banner
		= render :partial => "components/banner/banner"
	%main.category
		.home
			.container
				- if @combo_package.blank?
					.row{:style => "height: 80%; font-size:1.5em; margin: 40px 0px;"}
						%center
							%span Không có chương trình khuyến mãi combo với mã 
							%b #{@combo_code}
					.row.no-margin{:style => "text-align:center;"}
						.col-xs-12.col-sm-12.col-md-12.no-padding
							%a.btn.btn-info.btn-raised.btn-lg.other-course-button{:href => "/courses", :style => "font-size: 1.5em"} Khám phá các khóa học
				- else
					.row{:style => "font-size: 1.5em; margin: 20px 0px;"}
						%center
							.row
								%span Chương trình khuyến mãi combo khóa học
							.row
								%b #{@combo_code}
							.row{:style => "margin-top: 10px;"}
								%span Giá trọn gói
							.row
								%b= help_show_currency @combo_package.price
					.col-lg-10.col-md-9.col-sm-9.col-xs-12.category-all-courses-main
						.row.no-margin.courses-result
							.list-course-card
								- @combo_package.courses.each do |course|
									= render :partial => 'components/courses/course_card', :locals => {:course => course}
					.row.no-margin{:style => "text-align:center; margin-top: 30px;"}
						.col-xs-12.col-sm-12.col-md-12.no-padding
							%a.btn.btn-info.btn-raised.btn-lg.other-course-button{:href => "/courses", :style => "font-size: 1.5em"} Mua ngay, Mua ngay
	= render :partial => 'components/footer/index'