!!!
%html
  %head
    - if params[:action] == "detail"
      - if @course.image.blank?
        - image = "https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xpf1/t31.0-8/11754761_1425168711147041_1552365735035263083_o.jpg"
      - else
        - image = @course.image
      %meta{:property => "og:title", :content => "#{@course.name}"}/
      %meta{:property => "og:site_name", :content => "Khoá học của Tudemy"}/
      %meta{:property => "og:url", :content => "#{request.url}"}/
      %meta{:property => "og:description", :content => "#{@course.sub_title}"}/
      %meta{:property => "fb:app_id", :content => "1592966984299237"}/
      %meta{:content => "en_US", :property => "og:locale"}/
      %meta{:content => "https://www.facebook.com/fuu.ng.5", :property => "article:author"}/
      %meta{:content => "https://www.facebook.com/profile.php?id=100009617780315", :property => "article:publisher"}/
      %meta{:property => "og:image", :content => "https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xpf1/t31.0-8/11754761_1425168711147041_1552365735035263083_o.jpg"}/

      %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
      %meta{:name => "viewport", :content => "width=device-width"}/
      %link{:href => "//fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
      %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}
      %title= @course.name
      = stylesheet_link_tag    'application', media: 'all'
      = csrf_meta_tags
      %body
        = yield
        = render :partial => 'confirmable/sessions/new'
        = render :partial => 'confirmable/registrations/new'
        = render :partial => 'confirmable/support/new'
        = javascript_include_tag 'application'

        - if Rails.env == 'production'
          :javascript
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-65260176-1', 'auto');
            ga('send', 'pageview');
    - else
      %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
      %meta{:name => "viewport", :content => "width=device-width"}/
      %link{:href => "//fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
      %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}
      %title Course
      = stylesheet_link_tag    'application', media: 'all'
      = csrf_meta_tags
      %body
        = yield
        = render :partial => 'confirmable/sessions/new'
        = render :partial => 'confirmable/registrations/new'
        = render :partial => 'confirmable/support/new'
        = javascript_include_tag 'application'

        - if Rails.env == 'production'
          :javascript
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-65260176-1', 'auto');
            ga('send', 'pageview');